{"openapi":"3.1.0","info":{"title":"Ambivo Agents SDK","version":"1.4.0","description":"## Overview\n\nThe **Ambivo Agents SDK** is a Python SDK for orchestrating AI agents. It provides\n**15 specialized agents** with a unified chat interface, SSE streaming, Redis-backed\nsession memory, and multi-provider LLM support (OpenAI, Anthropic, AWS Bedrock).\n\nEvery agent inherits from `BaseAgent` and exposes a consistent `chat()` / `chat_sync()`\ninterface. The `ModeratorAgent` acts as an intelligent router, automatically dispatching\nqueries to the most appropriate specialist agent.\n\n## Installation\n\n```bash\npip install ambivo-agents[all]\n```\n\nExtras: `[web]` (web search/scraping), `[media]` (FFmpeg processing), `[test]` (pytest deps).\n\n## Quick Start\n\n```python\nfrom ambivo_agents.agents.moderator import ModeratorAgent\n\nmoderator = ModeratorAgent.create_simple(user_id=\"user-123\")\n\n# Auto-routes to the best specialist agent\nresponse = await moderator.chat(\"Search the web for AI news\")\nprint(response.content)\n\nawait moderator.cleanup_session()\n```\n\n## Authentication\n\nAll HTTP endpoints require a Bearer JWT token in the `Authorization` header.\n\n## Response Pattern\n\nEvery agent returns an **AgentMessage** with standard metadata:\n\n```json\n{\n  \"id\": \"msg-uuid\",\n  \"content\": \"The agent's response text\",\n  \"metadata\": {\n    \"agent_id\": \"moderator-abc123\",\n    \"agent_type\": \"moderator\",\n    \"session_id\": \"sess-xyz\",\n    \"streaming_supported\": true\n  },\n  \"message_type\": \"agent_response\",\n  \"timestamp\": \"2026-03-21T12:00:00Z\"\n}\n```\n\n## SSE Streaming Protocol\n\nStreaming endpoints return `text/event-stream` with the following event types:\n\n| Event Type | Description |\n|---|---|\n| `stream_start` | Stream opened; includes agent metadata |\n| `stream_chunk` | Incremental content token |\n| `stream_status` | Progress or status update |\n| `stream_complete` | Final message with full metadata |\n| `stream_error` | Error during streaming |\n| `stream_cancelled` | Client or server cancelled the stream |\n| `keepalive` | Heartbeat to keep the connection alive |\n\nExample SSE frame:\n```\nevent: stream_chunk\ndata: {\"type\":\"stream_chunk\",\"text\":\"Hello\",\"sub_type\":\"content\",\"timestamp\":\"2026-03-21T12:00:00Z\"}\n```\n\n## Configuration\n\nAgents are configured via **`agent_config.yaml`** (auto-loaded when `auto_configure=True`)\nor through environment variables prefixed with `AMBIVO_AGENTS_`:\n\n```bash\nexport AMBIVO_AGENTS_REDIS_HOST=\"localhost\"\nexport AMBIVO_AGENTS_OPENAI_API_KEY=\"sk-...\"\n```\n\n## Agent Inventory\n\n| # | Agent | Purpose |\n|---|---|---|\n| 1 | ModeratorAgent | Intelligent query router and orchestrator |\n| 2 | AssistantAgent | General-purpose conversational AI |\n| 3 | CodeExecutorAgent | Secure Python/Bash execution in Docker |\n| 4 | WebSearchAgent | Multi-provider web search (Brave, AVES) |\n| 5 | KnowledgeBaseAgent | Document ingestion and semantic search (Qdrant) |\n| 6 | KnowledgeSynthesisAgent | Multi-source knowledge orchestration |\n| 7 | ResponseQualityAssessor | Response quality evaluation and scoring |\n| 8 | MediaEditorAgent | FFmpeg-based audio/video/image processing |\n| 9 | YouTubeDownloadAgent | YouTube content downloading via Docker |\n| 10 | WebScraperAgent | Playwright-based web scraping in Docker |\n| 11 | AnalyticsAgent | DuckDB data analysis and visualization |\n| 12 | DatabaseAgent | MongoDB/MySQL/PostgreSQL operations |\n| 13 | APIAgent | REST API integration with security controls |\n| 14 | GatherAgent | Conversational form-filling with conditional logic |\n| 15 | WorkflowDeveloperAgent | Guided workflow code generation |\n","contact":{"name":"Ambivo Engineering","url":"https://ambivo.com"}},"servers":[{"url":"https://ingress.ambivo.com","description":"Production"},{"url":"http://localhost:8000","description":"Local Development"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"ModeratorAgent","description":"Intelligent orchestrator that routes queries to specialized agents.\nPerforms intent analysis using both LLM reasoning and keyword patterns,\nmaintains conversation context across agent switches, and supports\nworkflow execution and multi-agent coordination. This is the primary\nentry point for most use cases.\n"},{"name":"AssistantAgent","description":"General-purpose conversational AI agent for explanations, summaries,\nbrainstorming, and any query that does not require a specialist tool.\nActs as the default fallback when the ModeratorAgent cannot match\na specialist.\n"},{"name":"CodeExecutorAgent","description":"Executes Python and Bash code in isolated Docker containers with\nnetwork isolation, memory limits, and timeout controls. Default image:\n`sgosain/amb-ubuntu-python-public-pod`. Containers are automatically\ncleaned up after execution.\n"},{"name":"WebSearchAgent","description":"Multi-provider web search supporting Brave Search and AVES APIs.\nReturns ranked search results with titles, URLs, and snippets.\nProvider failover is automatic.\n"},{"name":"KnowledgeBaseAgent","description":"Document ingestion and semantic search powered by Qdrant vector\ndatabase. Supports ingesting files (PDF, TXT, DOCX, CSV, JSON) and\nURLs, then querying with natural-language semantic search.\n"},{"name":"KnowledgeSynthesisAgent","description":"Multi-source knowledge orchestration agent that synthesizes information\nfrom multiple agents and knowledge bases. Supports configurable synthesis\nstrategies and integrates with the ResponseQualityAssessor for quality\nevaluation of synthesized outputs.\n"},{"name":"ResponseQualityAssessor","description":"Evaluates and scores the quality of agent responses. Assesses accuracy,\ncompleteness, relevance, and source coverage. Returns a structured\nassessment with quality level, confidence score, strengths, weaknesses,\nand improvement recommendations.\n"},{"name":"MediaEditorAgent","description":"FFmpeg-based media processing agent for audio, video, and image\noperations. Runs in Docker for isolation. Supports trimming, merging,\nformat conversion, audio extraction, and filter application.\n"},{"name":"YouTubeDownloadAgent","description":"Downloads YouTube content via pytubefix running in Docker containers.\nSupports audio-only extraction, format selection, and custom output\nfilenames.\n"},{"name":"WebScraperAgent","description":"Playwright-based web scraping agent running in Docker. Extracts text\ncontent, links, images, and can take full-page screenshots. Supports\nproxy configuration and JavaScript rendering.\n"},{"name":"AnalyticsAgent","description":"Data analysis agent powered by DuckDB. Loads CSV, XLSX, JSON, and\nParquet files, then answers natural-language queries by generating\nand executing SQL. Supports visualization recommendations and schema\ninspection.\n"},{"name":"DatabaseAgent","description":"Connects to MongoDB, MySQL, and PostgreSQL databases. Translates\nnatural-language questions into database queries, executes them, and\nreturns structured results.\n"},{"name":"APIAgent","description":"REST API integration agent with configurable security controls.\nParses natural-language API call descriptions, supports Bearer, Basic,\nand API-key authentication, and routes long-running requests through\nDocker for safety.\n"},{"name":"GatherAgent","description":"Conversational form-filling agent with conditional question logic.\nDrives a guided questionnaire session, supporting free-text, yes/no,\nsingle-select, and multi-select question types with parent-dependent\nbranching.\n"},{"name":"WorkflowDeveloperAgent","description":"Guided workflow code generation agent. Accepts a natural-language\ndescription of a multi-agent workflow and produces executable Python\ncode using the SDK's workflow system (sequential, parallel, consensus,\ndebate, and map-reduce patterns).\n"}],"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"AgentMessage":{"type":"object","description":"Standard response envelope returned by every agent.","required":["id","content","message_type","timestamp"],"properties":{"id":{"type":"string","format":"uuid","description":"Unique message identifier.","example":"a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"sender_id":{"type":"string","description":"Agent ID that produced this message.","example":"moderator-abc123"},"recipient_id":{"type":"string","description":"Target user or agent ID.","example":"user-123"},"content":{"type":"string","description":"The main text body of the response.","example":"Here are the latest AI news articles I found..."},"message_type":{"type":"string","enum":["user_input","agent_response","system_message","tool_call","tool_response","error","status_update"],"description":"Discriminator indicating the kind of message.","example":"agent_response"},"metadata":{"type":"object","description":"Standard metadata plus agent-specific keys. Every response\nincludes at least `agent_id`, `agent_type`, `session_id`, and\n`streaming_supported`.\n","properties":{"agent_id":{"type":"string","example":"moderator-abc123"},"agent_type":{"type":"string","example":"moderator"},"session_id":{"type":"string","example":"sess-xyz-001"},"streaming_supported":{"type":"boolean","example":true}},"additionalProperties":true},"session_id":{"type":"string","description":"Broader session context identifier.","example":"sess-xyz-001"},"conversation_id":{"type":"string","description":"Specific conversation thread within the session.","example":"conv-001"},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of message creation.","example":"2026-03-21T12:00:00Z"}}},"StreamChunk":{"type":"object","description":"A single frame in an SSE streaming response.","required":["type","timestamp"],"properties":{"type":{"type":"string","enum":["stream_start","stream_chunk","stream_status","stream_complete","stream_error","stream_cancelled","keepalive"],"description":"Event type discriminator.","example":"stream_chunk"},"text":{"type":"string","description":"Incremental text payload (present in `stream_chunk` and `stream_complete`).","example":"The answer to your question is"},"sub_type":{"type":"string","enum":["content","status","result","error","metadata"],"description":"Further classification of the chunk payload.","example":"content"},"metadata":{"type":"object","description":"Additional context (agent info, token counts, etc.).","additionalProperties":true},"timestamp":{"type":"string","format":"date-time","example":"2026-03-21T12:00:00.123Z"}}},"CreateAgentRequest":{"type":"object","description":"Request body to instantiate an agent.","required":["user_id"],"properties":{"user_id":{"type":"string","description":"Unique identifier for the calling user.","example":"user-123"},"tenant_id":{"type":"string","description":"Tenant namespace for multi-tenant isolation.","default":"default","example":"acme-corp"},"session_id":{"type":"string","description":"Optional existing session ID to resume. If omitted the server\ngenerates a new session.\n","example":"sess-xyz-001"},"system_message":{"type":"string","description":"Custom system prompt that overrides the agent's default.","example":"You are a helpful data analyst."},"auto_configure":{"type":"boolean","description":"When true (default) the agent loads configuration from\n`agent_config.yaml` or environment variables automatically.\n","default":true,"example":true}}},"CreateAgentResponse":{"type":"object","description":"Confirmation returned after agent creation.","required":["agent_id","session_id","agent_type","status"],"properties":{"agent_id":{"type":"string","description":"Unique identifier for the newly created agent instance.","example":"moderator-abc123"},"session_id":{"type":"string","description":"The session ID assigned (new or resumed).","example":"sess-xyz-001"},"agent_type":{"type":"string","description":"Canonical agent type name.","example":"moderator"},"status":{"type":"string","description":"Agent readiness status.","example":"ready"}}},"ChatRequest":{"type":"object","description":"Send a message to an agent.","required":["message"],"properties":{"message":{"type":"string","description":"The user's natural-language message.","example":"What are the latest trends in AI?"},"session_id":{"type":"string","description":"Session to use. Must match a previously created agent session.","example":"sess-xyz-001"},"metadata":{"type":"object","description":"Arbitrary key-value pairs forwarded to the agent.","additionalProperties":true,"example":{"source":"web-app","priority":"high"}}}},"ChatResponse":{"type":"object","description":"Synchronous chat response wrapper.","required":["content","metadata"],"properties":{"content":{"type":"string","description":"The agent's textual response.","example":"Here are the latest AI trends..."},"metadata":{"type":"object","description":"Standard agent metadata plus any agent-specific keys.","properties":{"agent_id":{"type":"string","example":"assistant-def456"},"agent_type":{"type":"string","example":"assistant"},"session_id":{"type":"string","example":"sess-xyz-001"},"streaming_supported":{"type":"boolean","example":true}},"additionalProperties":true}}},"ErrorResponse":{"type":"object","description":"Standard error envelope.","required":["error"],"properties":{"error":{"type":"string","description":"Human-readable error message.","example":"Session not found"},"code":{"type":"string","description":"Machine-readable error code.","example":"SESSION_NOT_FOUND"},"details":{"type":"object","description":"Additional diagnostic information.","additionalProperties":true}}},"APIRequest":{"type":"object","description":"Describes an outbound HTTP request to be executed by the APIAgent.\nRequests with timeout exceeding `max_safe_timeout` (default 8s) are\nrouted through Docker for safety.\n","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"Target URL for the API call.","example":"https://api.example.com/v1/users"},"method":{"type":"string","enum":["GET","POST","PUT","PATCH","DELETE","HEAD","OPTIONS"],"description":"HTTP method.","default":"GET","example":"POST"},"headers":{"type":"object","description":"Additional HTTP headers.","additionalProperties":{"type":"string"},"example":{"Content-Type":"application/json","X-Custom-Header":"value"}},"body":{"type":"object","description":"Request body (serialized as JSON).","additionalProperties":true,"example":{"name":"Jane Doe","email":"jane@example.com"}},"auth_config":{"type":"object","description":"Authentication configuration.","properties":{"auth_type":{"type":"string","enum":["bearer","basic","api_key","none"],"description":"Authentication scheme.","example":"bearer"},"token":{"type":"string","description":"Bearer token value.","example":"eyJhbGciOiJIUzI1NiIs..."},"username":{"type":"string","description":"Username for Basic auth."},"password":{"type":"string","format":"password","description":"Password for Basic auth."},"api_key":{"type":"string","description":"API key value (sent via header or query)."}}},"timeout":{"type":"integer","description":"Request timeout in seconds. Values above `max_safe_timeout` (default 8)\ncause the request to execute inside a Docker container.\n","default":30,"example":8}}},"APIResponse":{"type":"object","description":"Result of an outbound API request.","properties":{"status_code":{"type":"integer","description":"HTTP status code from the target server.","example":200},"headers":{"type":"object","description":"Response headers.","additionalProperties":{"type":"string"}},"content":{"type":"string","description":"Response body as a string.","example":"{\"id\":1,\"name\":\"Jane Doe\"}"},"content_type":{"type":"string","description":"Content-Type header value.","example":"application/json"},"size_bytes":{"type":"integer","description":"Size of the response body in bytes.","example":1024},"execution_time_ms":{"type":"number","description":"Round-trip time in milliseconds.","example":142.5},"success":{"type":"boolean","description":"True if the request completed without transport errors.","example":true}}},"SearchRequest":{"type":"object","description":"Web search query parameters.","required":["query"],"properties":{"query":{"type":"string","description":"The search query string.","example":"latest advances in large language models 2026"},"max_results":{"type":"integer","description":"Maximum number of results to return.","default":10,"example":5},"provider":{"type":"string","enum":["brave","aves"],"description":"Preferred search provider. If omitted, the agent selects automatically.","example":"brave"}}},"SearchResult":{"type":"object","description":"A single web search result.","properties":{"title":{"type":"string","description":"Page title.","example":"Advances in LLMs - 2026 Survey"},"url":{"type":"string","format":"uri","description":"Result URL.","example":"https://arxiv.org/abs/2026.12345"},"snippet":{"type":"string","description":"Text excerpt from the page.","example":"This survey covers the latest breakthroughs in..."},"source":{"type":"string","description":"Provider that returned this result.","example":"brave"},"rank":{"type":"integer","description":"Position in the result list (1-based).","example":1}}},"SearchResponse":{"type":"object","description":"Complete web search response.","properties":{"query":{"type":"string","example":"latest advances in large language models 2026"},"results":{"type":"array","items":{"$ref":"#/components/schemas/SearchResult"}},"total_results":{"type":"integer","description":"Total results available from the provider.","example":1200},"search_time":{"type":"number","description":"Search execution time in seconds.","example":0.45},"provider":{"type":"string","description":"Provider that served the results.","example":"brave"}}},"IngestRequest":{"type":"object","description":"Request to ingest documents into a knowledge base collection.","required":["kb_name","documents"],"properties":{"kb_name":{"type":"string","description":"Name of the knowledge base collection in Qdrant.","example":"product-docs"},"documents":{"type":"array","description":"List of file paths or URLs to ingest.","items":{"type":"string"},"example":["/data/docs/guide.pdf","https://example.com/faq.html"]},"custom_meta":{"type":"object","description":"Extra metadata attached to every ingested chunk.","additionalProperties":true,"example":{"source":"onboarding","version":"2.1"}}}},"IngestResponse":{"type":"object","description":"Result of a document ingestion operation.","properties":{"success":{"type":"boolean","example":true},"kb_name":{"type":"string","example":"product-docs"},"documents_ingested":{"type":"integer","description":"Number of documents successfully ingested.","example":2},"chunks_created":{"type":"integer","description":"Total vector chunks stored.","example":147},"errors":{"type":"array","description":"Per-document error messages, if any.","items":{"type":"string"}}}},"KBQueryRequest":{"type":"object","description":"Semantic search query against a knowledge base.","required":["kb_name","query"],"properties":{"kb_name":{"type":"string","description":"Target knowledge base collection.","example":"product-docs"},"query":{"type":"string","description":"Natural-language search query.","example":"How do I configure SSO?"},"top_k":{"type":"integer","description":"Number of top results to return.","default":5,"example":3}}},"KBQueryResponse":{"type":"object","description":"Semantic search results.","properties":{"results":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string","description":"Matched chunk text."},"score":{"type":"number","description":"Similarity score (0.0 - 1.0).","example":0.92},"metadata":{"type":"object","additionalProperties":true}}}},"query":{"type":"string"},"kb_name":{"type":"string"}}},"DatabaseConfig":{"type":"object","description":"Connection parameters for a database.","required":["db_type","host","database"],"properties":{"db_type":{"type":"string","enum":["mongodb","mysql","postgresql"],"description":"Database engine type.","example":"postgresql"},"host":{"type":"string","description":"Hostname or IP address.","example":"db.example.com"},"port":{"type":"integer","description":"Port number (defaults to the engine's standard port).","example":5432},"database":{"type":"string","description":"Database name.","example":"analytics_db"},"username":{"type":"string","description":"Login user.","example":"readonly_user"},"password":{"type":"string","format":"password","description":"Login password.","example":"s3cret"},"ssl":{"type":"boolean","description":"Whether to use SSL/TLS for the connection.","default":false,"example":true}}},"DatabaseQueryRequest":{"type":"object","description":"A query to execute against the connected database.","required":["query"],"properties":{"query":{"type":"string","description":"Natural-language question or raw SQL/MQL query.","example":"What are the top 10 customers by revenue?"}}},"QueryResult":{"type":"object","description":"Result of a database query execution.","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","description":"Rows returned by the query.","items":{"type":"object","additionalProperties":true},"example":[{"customer":"Acme Corp","revenue":125000},{"customer":"Globex Inc","revenue":98000}]},"error":{"type":"string","description":"Error message if the query failed.","example":null},"row_count":{"type":"integer","description":"Number of rows returned.","example":10},"columns":{"type":"array","description":"Column names in result order.","items":{"type":"string"},"example":["customer","revenue"]},"execution_time_ms":{"type":"number","description":"Query execution time in milliseconds.","example":34.7}}},"ExecuteCodeRequest":{"type":"object","description":"Request to execute code in an isolated Docker container.","required":["code"],"properties":{"code":{"type":"string","description":"Source code to execute.","example":"import math\nprint(math.pi)"},"language":{"type":"string","enum":["python","bash"],"description":"Execution language.","default":"python","example":"python"},"files":{"type":"object","description":"Files to mount into the container. Keys are filenames, values\nare file contents.\n","additionalProperties":{"type":"string"},"example":{"data.csv":"name,value\nalice,42\nbob,17"}}}},"ExecuteCodeResponse":{"type":"object","description":"Code execution result.","properties":{"stdout":{"type":"string","description":"Standard output from the execution.","example":"3.141592653589793\n"},"stderr":{"type":"string","description":"Standard error output.","example":""},"exit_code":{"type":"integer","description":"Process exit code (0 = success).","example":0},"execution_time_ms":{"type":"number","description":"Wall-clock execution time in milliseconds.","example":1250.3},"files_created":{"type":"array","description":"List of output files created by the script.","items":{"type":"string"}}}},"ProcessMediaRequest":{"type":"object","description":"Media processing request via FFmpeg in Docker.","required":["input_file","operation"],"properties":{"input_file":{"type":"string","description":"Path to the input media file.","example":"/data/media/interview.mp4"},"operation":{"type":"string","description":"Processing operation to perform (e.g., trim, merge, convert,\nextract_audio, apply_filter, resize).\n","example":"extract_audio"},"parameters":{"type":"object","description":"Operation-specific parameters.","additionalProperties":true,"example":{"format":"mp3","bitrate":"192k"}}}},"ProcessMediaResponse":{"type":"object","description":"Result of media processing.","properties":{"success":{"type":"boolean","example":true},"output_file":{"type":"string","description":"Path to the generated output file.","example":"/data/media/interview.mp3"},"duration_ms":{"type":"number","description":"Processing time in milliseconds.","example":4500.0},"details":{"type":"object","description":"Operation-specific output metadata.","additionalProperties":true}}},"DownloadYoutubeRequest":{"type":"object","description":"YouTube content download request.","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"YouTube video URL.","example":"https://www.youtube.com/watch?v=dQw4w9WgXcQ"},"audio_only":{"type":"boolean","description":"Download audio track only (no video).","default":false,"example":true},"output_filename":{"type":"string","description":"Custom output filename (without extension).","example":"my-podcast-episode"}}},"DownloadYoutubeResponse":{"type":"object","description":"YouTube download result.","properties":{"success":{"type":"boolean","example":true},"file_path":{"type":"string","description":"Path to the downloaded file.","example":"/data/downloads/my-podcast-episode.mp3"},"title":{"type":"string","description":"Video title from YouTube.","example":"Rick Astley - Never Gonna Give You Up"},"duration_seconds":{"type":"integer","description":"Video duration.","example":213},"file_size_bytes":{"type":"integer","example":5242880}}},"ScrapingTask":{"type":"object","description":"Web scraping task configuration.","required":["url"],"properties":{"url":{"type":"string","format":"uri","description":"URL to scrape.","example":"https://example.com/products"},"extract_links":{"type":"boolean","description":"Extract all hyperlinks from the page.","default":true,"example":true},"extract_images":{"type":"boolean","description":"Extract all image URLs from the page.","default":true,"example":true},"take_screenshot":{"type":"boolean","description":"Capture a full-page screenshot.","default":false,"example":false},"timeout":{"type":"integer","description":"Page load timeout in seconds.","default":30,"example":30}}},"ScrapingResponse":{"type":"object","description":"Scraping result.","properties":{"success":{"type":"boolean","example":true},"text_content":{"type":"string","description":"Extracted text content from the page."},"links":{"type":"array","items":{"type":"object","properties":{"text":{"type":"string"},"href":{"type":"string","format":"uri"}}}},"images":{"type":"array","items":{"type":"string","format":"uri"}},"screenshot_path":{"type":"string","description":"Path to screenshot file if requested."},"title":{"type":"string","description":"Page title.","example":"Products - Example Store"}}},"LoadAnalyticsRequest":{"type":"object","description":"Load a data file for analysis.","required":["file_path"],"properties":{"file_path":{"type":"string","description":"Path to the data file. Relative paths are resolved against\n`docker_shared/input/analytics/` first.\n","example":"sales_2026.csv"},"file_type":{"type":"string","enum":["csv","xlsx","xls","json","parquet"],"description":"Explicit file type override (auto-detected from extension by default).","example":"csv"}}},"LoadAnalyticsResponse":{"type":"object","description":"Summary returned after loading a data file.","properties":{"success":{"type":"boolean","example":true},"file_name":{"type":"string","example":"sales_2026.csv"},"row_count":{"type":"integer","example":15000},"column_count":{"type":"integer","example":12},"columns":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"dtype":{"type":"string"}}},"example":[{"name":"date","dtype":"DATE"},{"name":"revenue","dtype":"DOUBLE"}]},"preview":{"type":"array","description":"First few rows of data.","items":{"type":"object","additionalProperties":true}}}},"AnalyticsQueryRequest":{"type":"object","description":"Natural-language or SQL query against loaded data.","required":["query"],"properties":{"query":{"type":"string","description":"Natural-language question or raw SQL.","example":"What are the top 10 products by revenue?"}}},"AnalyticsQueryResponse":{"type":"object","description":"Analytics query result.","properties":{"success":{"type":"boolean","example":true},"data":{"type":"array","items":{"type":"object","additionalProperties":true}},"sql_generated":{"type":"string","description":"The SQL query that was generated and executed.","example":"SELECT product, SUM(revenue) as total FROM sales GROUP BY product ORDER BY total DESC LIMIT 10"},"row_count":{"type":"integer","example":10},"columns":{"type":"array","items":{"type":"string"},"example":["product","total"]},"execution_time_ms":{"type":"number","example":12.3}}},"GatherQuestion":{"type":"object","description":"A single question in a questionnaire definition.","required":["id","text","type"],"properties":{"id":{"type":"string","description":"Unique question identifier.","example":"q1"},"text":{"type":"string","description":"The question text shown to the user.","example":"What is your preferred programming language?"},"type":{"type":"string","enum":["free-text","yes-no","single-select","multi-select"],"description":"Input type for the question.","example":"single-select"},"choices":{"type":"array","description":"Available choices (for single-select and multi-select types).","items":{"type":"string"},"example":["Python","JavaScript","Go","Rust"]},"required":{"type":"boolean","description":"Whether an answer is mandatory.","default":true,"example":true},"condition":{"type":"object","description":"Conditional display logic. The question is shown only when the\nparent question's answer matches one of the trigger values.\n","properties":{"parent_id":{"type":"string","description":"ID of the parent question.","example":"q0"},"trigger_values":{"type":"array","description":"Parent answer values that activate this question.","items":{"type":"string"},"example":["yes"]}}}}},"StartGatherRequest":{"type":"object","description":"Start a new questionnaire session.","required":["questionnaire"],"properties":{"questionnaire":{"type":"array","description":"Ordered list of questions.","items":{"$ref":"#/components/schemas/GatherQuestion"}}}},"StartGatherResponse":{"type":"object","description":"Questionnaire session initialization result.","properties":{"session_id":{"type":"string","description":"Gather session identifier.","example":"gather-sess-001"},"current_question":{"$ref":"#/components/schemas/GatherQuestion"},"total_questions":{"type":"integer","example":5},"status":{"type":"string","enum":["in_progress","complete"],"example":"in_progress"}}},"GatherRespondRequest":{"type":"object","description":"Submit an answer to the current question.","required":["session_id","answer"],"properties":{"session_id":{"type":"string","description":"Active gather session ID.","example":"gather-sess-001"},"answer":{"type":"string","description":"The user's answer.","example":"Python"}}},"GatherRespondResponse":{"type":"object","description":"Response after submitting an answer.","properties":{"accepted":{"type":"boolean","description":"Whether the answer was accepted.","example":true},"next_question":{"$ref":"#/components/schemas/GatherQuestion"},"status":{"type":"string","enum":["in_progress","complete"],"example":"in_progress"},"answers_collected":{"type":"object","description":"All answers collected so far (keyed by question ID).","additionalProperties":{"type":"string"}}}},"SynthesizeRequest":{"type":"object","description":"Multi-source knowledge synthesis request.","required":["query"],"properties":{"query":{"type":"string","description":"The question or topic to synthesize information about.","example":"Compare transformer architectures for sequence modeling"},"strategy":{"type":"string","description":"Synthesis strategy (e.g., comprehensive, focused, comparative).\n","example":"comprehensive"},"user_preferences":{"type":"object","description":"User-specific preferences for synthesis output.","additionalProperties":true,"example":{"detail_level":"high","include_sources":true}}}},"SynthesizeResponse":{"type":"object","description":"Synthesized knowledge output.","properties":{"content":{"type":"string","description":"The synthesized response text."},"sources":{"type":"array","description":"Sources used in synthesis.","items":{"type":"object","properties":{"agent":{"type":"string"},"content":{"type":"string"},"confidence":{"type":"number"}}}},"quality_assessment":{"$ref":"#/components/schemas/ResponseAssessment"}}},"AssessRequest":{"type":"object","description":"Request to assess the quality of one or more responses.","required":["question","responses"],"properties":{"question":{"type":"string","description":"The original question that was asked.","example":"Explain the CAP theorem in distributed systems."},"responses":{"type":"array","description":"List of source responses to evaluate.","items":{"type":"object","properties":{"source":{"type":"string","description":"Name or ID of the responding agent/source.","example":"assistant-agent"},"content":{"type":"string","description":"The response text.","example":"The CAP theorem states that..."}}}}}},"ResponseAssessment":{"type":"object","description":"Structured quality assessment of a response.","properties":{"quality_level":{"type":"string","enum":["excellent","good","fair","poor","unacceptable"],"description":"Overall quality tier.","example":"good"},"confidence_score":{"type":"number","minimum":0.0,"maximum":1.0,"description":"Confidence in the assessment (0.0 = no confidence, 1.0 = fully confident).","example":0.85},"sources_used":{"type":"array","description":"Sources that contributed to the evaluated response.","items":{"type":"string"},"example":["knowledge-base","web-search"]},"strengths":{"type":"array","description":"Positive aspects of the response.","items":{"type":"string"},"example":["Accurate technical explanation","Good use of examples"]},"weaknesses":{"type":"array","description":"Areas where the response falls short.","items":{"type":"string"},"example":["Missing discussion of PACELC extension"]},"recommendations":{"type":"array","description":"Suggestions for improving the response.","items":{"type":"string"},"example":["Add real-world examples from industry databases"]},"needs_additional_sources":{"type":"boolean","description":"Whether more sources should be consulted.","example":false},"final_response":{"type":"string","description":"Optionally improved/merged response text.","example":"The CAP theorem, formulated by Eric Brewer..."}}},"GenerateWorkflowRequest":{"type":"object","description":"Request to generate workflow code.","required":["description"],"properties":{"description":{"type":"string","description":"Natural-language description of the desired workflow.","example":"Search the web for a topic, scrape the top 3 results, and ingest them into a knowledge base"},"agents_needed":{"type":"array","description":"Specific agents to include in the workflow.","items":{"type":"string"},"example":["web-search","web-scraper","knowledge-base"]}}},"GenerateWorkflowResponse":{"type":"object","description":"Generated workflow code and documentation.","properties":{"code":{"type":"string","description":"Executable Python code using the SDK workflow system."},"description":{"type":"string","description":"Human-readable explanation of the generated workflow."},"agents_used":{"type":"array","items":{"type":"string"}},"pattern":{"type":"string","description":"Workflow pattern used (sequential, parallel, consensus, debate, map-reduce).","example":"sequential"}}},"RouteQueryRequest":{"type":"object","description":"Request the ModeratorAgent to classify and route a query.","required":["query"],"properties":{"query":{"type":"string","description":"The user query to route.","example":"Download audio from this YouTube video"},"session_id":{"type":"string","example":"sess-xyz-001"}}},"RouteQueryResponse":{"type":"object","description":"Routing decision from the ModeratorAgent.","properties":{"target_agent":{"type":"string","description":"Agent type selected to handle the query.","example":"youtube_download"},"confidence":{"type":"number","description":"Routing confidence score (0.0 - 1.0).","example":0.95},"reasoning":{"type":"string","description":"Why this agent was selected.","example":"Query contains YouTube URL and requests audio download."}}}}},"paths":{"/agents/moderator/create":{"post":{"tags":["ModeratorAgent"],"summary":"Create a ModeratorAgent instance","operationId":"createModeratorAgent","description":"Instantiate a new ModeratorAgent that can route queries to any of\nthe 14 specialist agents. The moderator maintains conversation\ncontext across agent switches.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"},"example":{"user_id":"user-123","tenant_id":"acme-corp","auto_configure":true}}}},"responses":{"201":{"description":"Agent created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"moderator-abc123","session_id":"sess-xyz-001","agent_type":"moderator","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/moderator/chat":{"post":{"tags":["ModeratorAgent"],"summary":"Send a message to the ModeratorAgent","operationId":"chatModeratorAgent","description":"Send a natural-language message. The moderator analyzes intent and\nroutes to the best specialist agent, returning the specialist's\nresponse with routing metadata.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Search the web for the latest AI research papers","session_id":"sess-xyz-001"}}}},"responses":{"200":{"description":"Agent response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"},"example":{"content":"Here are the latest AI research papers I found...","metadata":{"agent_id":"moderator-abc123","agent_type":"moderator","session_id":"sess-xyz-001","routed_to":"web_search","streaming_supported":true}}}}},"401":{"description":"Unauthorized."},"404":{"description":"Session not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/moderator/chat/stream":{"post":{"tags":["ModeratorAgent"],"summary":"SSE streaming chat with the ModeratorAgent","operationId":"chatStreamModeratorAgent","description":"Stream a response from the ModeratorAgent via Server-Sent Events.\nThe stream emits `stream_start`, `stream_chunk`, `stream_status`,\nand `stream_complete` events.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/moderator/route":{"post":{"tags":["ModeratorAgent"],"summary":"Route a query to a specialist agent","operationId":"routeQuery","description":"Classify a query and return the routing decision without executing\nthe query. Useful for previewing which agent would handle a message.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RouteQueryRequest"},"example":{"query":"Download audio from this YouTube video","session_id":"sess-xyz-001"}}}},"responses":{"200":{"description":"Routing decision.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RouteQueryResponse"},"example":{"target_agent":"youtube_download","confidence":0.95,"reasoning":"Query contains YouTube URL and requests audio download."}}}},"401":{"description":"Unauthorized."}}}},"/agents/assistant/create":{"post":{"tags":["AssistantAgent"],"summary":"Create an AssistantAgent instance","operationId":"createAssistantAgent","description":"Instantiate a general-purpose conversational AI agent for\nexplanations, summaries, brainstorming, and general Q&A.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"},"example":{"user_id":"user-123","system_message":"You are a helpful technical writer."}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"assistant-def456","session_id":"sess-abc-002","agent_type":"assistant","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/assistant/chat":{"post":{"tags":["AssistantAgent"],"summary":"Send a message to the AssistantAgent","operationId":"chatAssistantAgent","description":"Send a conversational message and receive a response. The assistant\nhandles general knowledge questions, explanations, writing tasks,\nand any query that does not require a specialist tool.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Explain the difference between TCP and UDP","session_id":"sess-abc-002"}}}},"responses":{"200":{"description":"Agent response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."},"404":{"description":"Session not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/assistant/chat/stream":{"post":{"tags":["AssistantAgent"],"summary":"SSE streaming chat with the AssistantAgent","operationId":"chatStreamAssistantAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/code-executor/create":{"post":{"tags":["CodeExecutorAgent"],"summary":"Create a CodeExecutorAgent instance","operationId":"createCodeExecutorAgent","description":"Instantiate a code execution agent backed by isolated Docker\ncontainers with network isolation, memory limits, and timeouts.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"code-executor-ghi789","session_id":"sess-code-003","agent_type":"code_executor","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/code-executor/chat":{"post":{"tags":["CodeExecutorAgent"],"summary":"Send a message to the CodeExecutorAgent","operationId":"chatCodeExecutorAgent","description":"Send a natural-language code request. The agent generates and\nexecutes code in a Docker sandbox, returning results.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Write a Python script that calculates the first 20 Fibonacci numbers","session_id":"sess-code-003"}}}},"responses":{"200":{"description":"Agent response with execution results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/code-executor/chat/stream":{"post":{"tags":["CodeExecutorAgent"],"summary":"SSE streaming chat with the CodeExecutorAgent","operationId":"chatStreamCodeExecutorAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/code-executor/execute":{"post":{"tags":["CodeExecutorAgent"],"summary":"Execute code directly","operationId":"executeCode","description":"Execute Python or Bash code in an isolated Docker container.\nOptional files can be mounted into the container's working directory.\nThe container runs with network isolation, a 2 GB memory limit, and\na configurable timeout (default 120s).\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteCodeRequest"},"example":{"code":"import pandas as pd\ndf = pd.read_csv('data.csv')\nprint(df.describe())","language":"python","files":{"data.csv":"name,score\nalice,95\nbob,87\ncharlie,92"}}}}},"responses":{"200":{"description":"Execution result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExecuteCodeResponse"},"example":{"stdout":"       score\ncount    3.0\nmean    91.3\n...","stderr":"","exit_code":0,"execution_time_ms":2340.5,"files_created":[]}}}},"400":{"description":"Invalid code or language.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."},"408":{"description":"Execution timeout.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/web-search/create":{"post":{"tags":["WebSearchAgent"],"summary":"Create a WebSearchAgent instance","operationId":"createWebSearchAgent","description":"Instantiate a web search agent with multi-provider support\n(Brave Search, AVES). Provider failover is automatic.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"web-search-jkl012","session_id":"sess-search-004","agent_type":"web_search","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/web-search/chat":{"post":{"tags":["WebSearchAgent"],"summary":"Send a message to the WebSearchAgent","operationId":"chatWebSearchAgent","description":"Send a natural-language search request. The agent selects the best\nprovider, executes the search, and returns a summarized response\nwith source citations.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"What are the latest advances in quantum computing?","session_id":"sess-search-004"}}}},"responses":{"200":{"description":"Search results in conversational format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/web-search/chat/stream":{"post":{"tags":["WebSearchAgent"],"summary":"SSE streaming chat with the WebSearchAgent","operationId":"chatStreamWebSearchAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/web-search/search":{"post":{"tags":["WebSearchAgent"],"summary":"Execute a web search","operationId":"searchWeb","description":"Execute a structured web search and return raw ranked results.\nUnlike the chat endpoint, this returns machine-readable search\nresults without conversational summarization.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchRequest"},"example":{"query":"transformer architecture papers 2026","max_results":5,"provider":"brave"}}}},"responses":{"200":{"description":"Search results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchResponse"},"example":{"query":"transformer architecture papers 2026","results":[{"title":"Efficient Transformers: A Survey (2026 Update)","url":"https://arxiv.org/abs/2026.01234","snippet":"This updated survey covers...","source":"brave","rank":1}],"total_results":842,"search_time":0.38,"provider":"brave"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-base/create":{"post":{"tags":["KnowledgeBaseAgent"],"summary":"Create a KnowledgeBaseAgent instance","operationId":"createKnowledgeBaseAgent","description":"Instantiate a knowledge base agent backed by Qdrant vector database.\nSupports document ingestion and semantic search.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"knowledge-base-mno345","session_id":"sess-kb-005","agent_type":"knowledge_base","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-base/chat":{"post":{"tags":["KnowledgeBaseAgent"],"summary":"Send a message to the KnowledgeBaseAgent","operationId":"chatKnowledgeBaseAgent","description":"Query the knowledge base using natural language. The agent performs\nsemantic search and synthesizes an answer from the most relevant\ndocument chunks.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"How do I configure single sign-on?","session_id":"sess-kb-005","metadata":{"kb_name":"product-docs"}}}}},"responses":{"200":{"description":"Knowledge-based response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-base/chat/stream":{"post":{"tags":["KnowledgeBaseAgent"],"summary":"SSE streaming chat with the KnowledgeBaseAgent","operationId":"chatStreamKnowledgeBaseAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-base/ingest":{"post":{"tags":["KnowledgeBaseAgent"],"summary":"Ingest documents into a knowledge base","operationId":"ingestDocuments","description":"Ingest one or more documents (files or URLs) into a named Qdrant\ncollection. Documents are chunked, embedded, and stored as vectors.\nSupported formats: PDF, TXT, DOCX, CSV, JSON, HTML.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestRequest"},"example":{"kb_name":"product-docs","documents":["/data/docs/user-guide.pdf","https://docs.example.com/api-reference"],"custom_meta":{"source":"onboarding","version":"2.1"}}}}},"responses":{"200":{"description":"Ingestion result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IngestResponse"},"example":{"success":true,"kb_name":"product-docs","documents_ingested":2,"chunks_created":147,"errors":[]}}}},"400":{"description":"Invalid documents or collection name.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-base/query":{"post":{"tags":["KnowledgeBaseAgent"],"summary":"Semantic search over a knowledge base","operationId":"queryKnowledgeBase","description":"Execute a semantic similarity search against a named knowledge base\ncollection. Returns the top-k most relevant document chunks with\nsimilarity scores.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KBQueryRequest"},"example":{"kb_name":"product-docs","query":"How do I configure SSO?","top_k":3}}}},"responses":{"200":{"description":"Semantic search results.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KBQueryResponse"},"example":{"query":"How do I configure SSO?","kb_name":"product-docs","results":[{"text":"To configure SSO, navigate to Settings > Authentication...","score":0.94,"metadata":{"source":"user-guide.pdf","page":42}},{"text":"Single sign-on supports SAML 2.0 and OIDC protocols...","score":0.89,"metadata":{"source":"api-reference"}}]}}}},"401":{"description":"Unauthorized."},"404":{"description":"Knowledge base not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/knowledge-synthesis/create":{"post":{"tags":["KnowledgeSynthesisAgent"],"summary":"Create a KnowledgeSynthesisAgent instance","operationId":"createKnowledgeSynthesisAgent","description":"Instantiate a knowledge synthesis agent that orchestrates\ninformation from multiple sources and agents, producing\nquality-assessed synthesized responses.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"knowledge-synthesis-pqr678","session_id":"sess-synth-006","agent_type":"knowledge_synthesis","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-synthesis/chat":{"post":{"tags":["KnowledgeSynthesisAgent"],"summary":"Send a message to the KnowledgeSynthesisAgent","operationId":"chatKnowledgeSynthesisAgent","description":"Send a query for multi-source synthesis. The agent gathers\ninformation from relevant sources, synthesizes a comprehensive\nresponse, and includes quality assessment metadata.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Compare React and Vue.js for enterprise applications","session_id":"sess-synth-006"}}}},"responses":{"200":{"description":"Synthesized response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-synthesis/chat/stream":{"post":{"tags":["KnowledgeSynthesisAgent"],"summary":"SSE streaming chat with the KnowledgeSynthesisAgent","operationId":"chatStreamKnowledgeSynthesisAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/knowledge-synthesis/synthesize":{"post":{"tags":["KnowledgeSynthesisAgent"],"summary":"Multi-source knowledge synthesis","operationId":"synthesizeKnowledge","description":"Orchestrate a multi-source synthesis pipeline. The agent queries\nmultiple knowledge sources, evaluates response quality, and produces\na unified answer with provenance tracking and quality assessment.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SynthesizeRequest"},"example":{"query":"Compare transformer architectures for sequence modeling","strategy":"comprehensive","user_preferences":{"detail_level":"high","include_sources":true}}}}},"responses":{"200":{"description":"Synthesized knowledge output.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SynthesizeResponse"},"example":{"content":"Transformer architectures have evolved significantly...","sources":[{"agent":"knowledge-base","content":"The original transformer paper...","confidence":0.92},{"agent":"web-search","content":"Recent 2026 papers show...","confidence":0.85}],"quality_assessment":{"quality_level":"good","confidence_score":0.88,"sources_used":["knowledge-base","web-search"],"strengths":["Comprehensive coverage","Recent sources"],"weaknesses":["Could include more benchmarks"],"recommendations":["Add performance comparison tables"],"needs_additional_sources":false}}}}},"401":{"description":"Unauthorized."}}}},"/agents/quality-assessor/create":{"post":{"tags":["ResponseQualityAssessor"],"summary":"Create a ResponseQualityAssessor instance","operationId":"createResponseQualityAssessor","description":"Instantiate a response quality assessor that evaluates and scores\nagent responses on accuracy, completeness, relevance, and source\ncoverage.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"quality-assessor-stu901","session_id":"sess-qa-007","agent_type":"response_quality_assessor","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/quality-assessor/chat":{"post":{"tags":["ResponseQualityAssessor"],"summary":"Send a message to the ResponseQualityAssessor","operationId":"chatResponseQualityAssessor","description":"Conversational interface for quality assessment. Describe what you\nwant evaluated and the assessor will provide structured feedback.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"Assessment response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/quality-assessor/chat/stream":{"post":{"tags":["ResponseQualityAssessor"],"summary":"SSE streaming chat with the ResponseQualityAssessor","operationId":"chatStreamResponseQualityAssessor","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/quality-assessor/assess":{"post":{"tags":["ResponseQualityAssessor"],"summary":"Assess response quality","operationId":"assessResponseQuality","description":"Evaluate the quality of one or more responses to a given question.\nReturns a structured assessment with quality level, confidence score,\nstrengths, weaknesses, and improvement recommendations.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssessRequest"},"example":{"question":"Explain the CAP theorem in distributed systems.","responses":[{"source":"assistant-agent","content":"The CAP theorem states that a distributed system can only guarantee two of three properties: Consistency, Availability, and Partition tolerance."},{"source":"knowledge-base","content":"The CAP theorem, proposed by Eric Brewer in 2000, establishes fundamental trade-offs in distributed systems..."}]}}}},"responses":{"200":{"description":"Quality assessment.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseAssessment"},"example":{"quality_level":"good","confidence_score":0.85,"sources_used":["assistant-agent","knowledge-base"],"strengths":["Accurate technical explanation","Proper attribution to Brewer"],"weaknesses":["Missing discussion of PACELC extension"],"recommendations":["Add real-world examples from industry databases"],"needs_additional_sources":false,"final_response":"The CAP theorem, formulated by Eric Brewer in 2000 and proven by Gilbert and Lynch in 2002..."}}}},"400":{"description":"Invalid request (missing question or responses).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/media-editor/create":{"post":{"tags":["MediaEditorAgent"],"summary":"Create a MediaEditorAgent instance","operationId":"createMediaEditorAgent","description":"Instantiate a media processing agent backed by FFmpeg running in\nDocker. Supports audio, video, and image operations.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"media-editor-vwx234","session_id":"sess-media-008","agent_type":"media_editor","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/media-editor/chat":{"post":{"tags":["MediaEditorAgent"],"summary":"Send a message to the MediaEditorAgent","operationId":"chatMediaEditorAgent","description":"Describe a media processing task in natural language. The agent\ntranslates the request into FFmpeg commands and executes them.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Extract the audio from interview.mp4 as MP3 at 192kbps","session_id":"sess-media-008"}}}},"responses":{"200":{"description":"Processing result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/media-editor/chat/stream":{"post":{"tags":["MediaEditorAgent"],"summary":"SSE streaming chat with the MediaEditorAgent","operationId":"chatStreamMediaEditorAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/media-editor/process":{"post":{"tags":["MediaEditorAgent"],"summary":"Process media file","operationId":"processMedia","description":"Execute a structured media processing operation. Supported operations\ninclude trim, merge, convert, extract_audio, apply_filter, and resize.\nProcessing runs in an isolated Docker container with FFmpeg.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessMediaRequest"},"example":{"input_file":"/data/media/interview.mp4","operation":"extract_audio","parameters":{"format":"mp3","bitrate":"192k"}}}}},"responses":{"200":{"description":"Processing result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProcessMediaResponse"},"example":{"success":true,"output_file":"/data/media/interview.mp3","duration_ms":4500.0,"details":{"codec":"mp3","bitrate":"192k","duration_seconds":1847}}}}},"400":{"description":"Invalid operation or input file.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/youtube/create":{"post":{"tags":["YouTubeDownloadAgent"],"summary":"Create a YouTubeDownloadAgent instance","operationId":"createYouTubeDownloadAgent","description":"Instantiate a YouTube download agent backed by pytubefix running\nin Docker. Supports video and audio-only downloads.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"youtube-yza567","session_id":"sess-yt-009","agent_type":"youtube_download","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/youtube/chat":{"post":{"tags":["YouTubeDownloadAgent"],"summary":"Send a message to the YouTubeDownloadAgent","operationId":"chatYouTubeDownloadAgent","description":"Send a natural-language download request with a YouTube URL. The\nagent extracts the URL, determines the format, and downloads the\ncontent.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Download the audio from https://youtube.com/watch?v=dQw4w9WgXcQ","session_id":"sess-yt-009"}}}},"responses":{"200":{"description":"Download result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/youtube/chat/stream":{"post":{"tags":["YouTubeDownloadAgent"],"summary":"SSE streaming chat with the YouTubeDownloadAgent","operationId":"chatStreamYouTubeDownloadAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/youtube/download":{"post":{"tags":["YouTubeDownloadAgent"],"summary":"Download YouTube content","operationId":"downloadYoutube","description":"Download a YouTube video or audio track. The download runs inside\nan isolated Docker container using pytubefix. Audio-only mode\nextracts the audio stream without downloading video.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadYoutubeRequest"},"example":{"url":"https://www.youtube.com/watch?v=dQw4w9WgXcQ","audio_only":true,"output_filename":"rick-astley-audio"}}}},"responses":{"200":{"description":"Download result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DownloadYoutubeResponse"},"example":{"success":true,"file_path":"/data/downloads/rick-astley-audio.mp3","title":"Rick Astley - Never Gonna Give You Up","duration_seconds":213,"file_size_bytes":5242880}}}},"400":{"description":"Invalid URL or unsupported video.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/web-scraper/create":{"post":{"tags":["WebScraperAgent"],"summary":"Create a WebScraperAgent instance","operationId":"createWebScraperAgent","description":"Instantiate a web scraping agent backed by Playwright running in\nDocker. Supports JavaScript rendering, proxy configuration, and\nstructured data extraction.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"web-scraper-bcd890","session_id":"sess-scrape-010","agent_type":"web_scraper","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/web-scraper/chat":{"post":{"tags":["WebScraperAgent"],"summary":"Send a message to the WebScraperAgent","operationId":"chatWebScraperAgent","description":"Describe what to scrape in natural language. The agent determines\nthe target URL, extraction parameters, and returns the content.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Scrape the product listing from https://example.com/products","session_id":"sess-scrape-010"}}}},"responses":{"200":{"description":"Scraping result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/web-scraper/chat/stream":{"post":{"tags":["WebScraperAgent"],"summary":"SSE streaming chat with the WebScraperAgent","operationId":"chatStreamWebScraperAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/web-scraper/scrape":{"post":{"tags":["WebScraperAgent"],"summary":"Scrape a webpage","operationId":"scrapeUrl","description":"Execute a structured scraping task against a URL. Extracts text\ncontent, links, and images using Playwright in Docker. Optionally\ncaptures a full-page screenshot.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScrapingTask"},"example":{"url":"https://example.com/products","extract_links":true,"extract_images":true,"take_screenshot":false,"timeout":30}}}},"responses":{"200":{"description":"Scraping result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScrapingResponse"},"example":{"success":true,"text_content":"Products\n\nWidget A - $29.99\nWidget B - $49.99...","links":[{"text":"Widget A","href":"https://example.com/products/widget-a"},{"text":"Widget B","href":"https://example.com/products/widget-b"}],"images":["https://example.com/images/widget-a.jpg","https://example.com/images/widget-b.jpg"],"title":"Products - Example Store"}}}},"400":{"description":"Invalid URL.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."},"408":{"description":"Scraping timeout.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/analytics/create":{"post":{"tags":["AnalyticsAgent"],"summary":"Create an AnalyticsAgent instance","operationId":"createAnalyticsAgent","description":"Instantiate a data analytics agent powered by DuckDB. Supports\nloading CSV, XLSX, JSON, and Parquet files, then querying with\nnatural language or SQL.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"analytics-efg123","session_id":"sess-analytics-011","agent_type":"analytics","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/analytics/chat":{"post":{"tags":["AnalyticsAgent"],"summary":"Send a message to the AnalyticsAgent","operationId":"chatAnalyticsAgent","description":"Send a natural-language data analysis request. The agent generates\nSQL, executes it against loaded data, and returns results with\noptional visualization recommendations.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"What are the top 10 products by revenue?","session_id":"sess-analytics-011"}}}},"responses":{"200":{"description":"Analysis result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/analytics/chat/stream":{"post":{"tags":["AnalyticsAgent"],"summary":"SSE streaming chat with the AnalyticsAgent","operationId":"chatStreamAnalyticsAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/analytics/load":{"post":{"tags":["AnalyticsAgent"],"summary":"Load a data file for analysis","operationId":"loadAnalyticsData","description":"Load a data file into the analytics engine. Relative paths resolve\nagainst `docker_shared/input/analytics/`. Returns a schema summary\nand row-count preview.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadAnalyticsRequest"},"example":{"file_path":"sales_2026.csv","file_type":"csv"}}}},"responses":{"200":{"description":"Data loaded successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoadAnalyticsResponse"},"example":{"success":true,"file_name":"sales_2026.csv","row_count":15000,"column_count":12,"columns":[{"name":"date","dtype":"DATE"},{"name":"product","dtype":"VARCHAR"},{"name":"revenue","dtype":"DOUBLE"}],"preview":[{"date":"2026-01-01","product":"Widget A","revenue":299.99}]}}}},"400":{"description":"Unsupported file type or file not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/analytics/query":{"post":{"tags":["AnalyticsAgent"],"summary":"Query loaded analytics data","operationId":"queryAnalyticsData","description":"Query the loaded dataset using natural language or raw SQL. The\nagent translates natural-language questions into DuckDB SQL,\nexecutes the query, and returns structured results.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsQueryRequest"},"example":{"query":"What are the top 10 products by total revenue?"}}}},"responses":{"200":{"description":"Query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsQueryResponse"},"example":{"success":true,"data":[{"product":"Widget A","total":125000.5},{"product":"Widget B","total":98000.0}],"sql_generated":"SELECT product, SUM(revenue) as total FROM sales GROUP BY product ORDER BY total DESC LIMIT 10","row_count":10,"columns":["product","total"],"execution_time_ms":12.3}}}},"400":{"description":"Invalid query or no data loaded.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/database/create":{"post":{"tags":["DatabaseAgent"],"summary":"Create a DatabaseAgent instance","operationId":"createDatabaseAgent","description":"Instantiate a database agent supporting MongoDB, MySQL, and\nPostgreSQL. Translates natural-language questions into database\nqueries.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"database-hij456","session_id":"sess-db-012","agent_type":"database","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/database/chat":{"post":{"tags":["DatabaseAgent"],"summary":"Send a message to the DatabaseAgent","operationId":"chatDatabaseAgent","description":"Send a natural-language database question. The agent generates the\nappropriate query (SQL or MQL), executes it, and returns results.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Show me the top 10 customers by revenue","session_id":"sess-db-012"}}}},"responses":{"200":{"description":"Query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/database/chat/stream":{"post":{"tags":["DatabaseAgent"],"summary":"SSE streaming chat with the DatabaseAgent","operationId":"chatStreamDatabaseAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/database/connect":{"post":{"tags":["DatabaseAgent"],"summary":"Connect to a database","operationId":"connectDatabase","description":"Establish a connection to a MongoDB, MySQL, or PostgreSQL database.\nThe connection is maintained for the duration of the agent session\nand used for subsequent queries.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseConfig"},"example":{"db_type":"postgresql","host":"db.example.com","port":5432,"database":"analytics_db","username":"readonly_user","password":"s3cret","ssl":true}}}},"responses":{"200":{"description":"Connection established.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"db_type":{"type":"string","example":"postgresql"},"database":{"type":"string","example":"analytics_db"},"tables":{"type":"array","description":"Available tables/collections.","items":{"type":"string"},"example":["customers","orders","products"]}}}}}},"400":{"description":"Invalid connection parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."},"503":{"description":"Database unreachable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/database/query":{"post":{"tags":["DatabaseAgent"],"summary":"Execute a database query","operationId":"executeQuery","description":"Execute a natural-language question or raw SQL/MQL query against\nthe connected database. Natural-language queries are translated\ninto the appropriate query language automatically.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DatabaseQueryRequest"},"example":{"query":"What are the top 10 customers by revenue?"}}}},"responses":{"200":{"description":"Query result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueryResult"},"example":{"success":true,"data":[{"customer":"Acme Corp","revenue":125000},{"customer":"Globex Inc","revenue":98000}],"row_count":10,"columns":["customer","revenue"],"execution_time_ms":34.7}}}},"400":{"description":"Invalid query.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."},"409":{"description":"No database connected.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/api/create":{"post":{"tags":["APIAgent"],"summary":"Create an APIAgent instance","operationId":"createAPIAgent","description":"Instantiate an API integration agent with configurable security\ncontrols. Supports domain allowlists/blocklists, method restrictions,\nand automatic Docker routing for long-running requests.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"api-klm789","session_id":"sess-api-013","agent_type":"api","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/api/chat":{"post":{"tags":["APIAgent"],"summary":"Send a message to the APIAgent","operationId":"chatAPIAgent","description":"Send a natural-language API call description. The agent parses the\nrequest, validates it against security rules, executes the call,\nand returns the response.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Call POST api.example.com/users with Bearer token abc123 and body {\"name\": \"Jane\"}","session_id":"sess-api-013"}}}},"responses":{"200":{"description":"API call result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/api/chat/stream":{"post":{"tags":["APIAgent"],"summary":"SSE streaming chat with the APIAgent","operationId":"chatStreamAPIAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/api/request":{"post":{"tags":["APIAgent"],"summary":"Execute an API request","operationId":"makeApiRequest","description":"Execute a structured HTTP request. The request is validated against\nthe agent's security configuration (allowed/blocked domains, allowed\nmethods, SSL verification). Requests exceeding `max_safe_timeout`\n(default 8s) are automatically routed through Docker for safety.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIRequest"},"example":{"url":"https://api.example.com/v1/users","method":"POST","headers":{"Content-Type":"application/json"},"body":{"name":"Jane Doe","email":"jane@example.com"},"auth_config":{"auth_type":"bearer","token":"eyJhbGciOiJIUzI1NiIs..."},"timeout":8}}}},"responses":{"200":{"description":"API response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/APIResponse"},"example":{"status_code":201,"headers":{"Content-Type":"application/json"},"content":"{\"id\":42,\"name\":\"Jane Doe\",\"email\":\"jane@example.com\"}","content_type":"application/json","size_bytes":58,"execution_time_ms":142.5,"success":true}}}},"400":{"description":"Invalid request parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."},"403":{"description":"Domain or method blocked by security policy.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Domain 'localhost' is blocked by security policy","code":"DOMAIN_BLOCKED"}}}}}}},"/agents/gather/create":{"post":{"tags":["GatherAgent"],"summary":"Create a GatherAgent instance","operationId":"createGatherAgent","description":"Instantiate a conversational form-filling agent. The GatherAgent\ndrives guided questionnaire sessions with support for multiple\nquestion types and conditional branching logic.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"gather-nop012","session_id":"sess-gather-014","agent_type":"gather","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/gather/chat":{"post":{"tags":["GatherAgent"],"summary":"Send a message to the GatherAgent","operationId":"chatGatherAgent","description":"Interact with the GatherAgent conversationally. The agent manages\nquestion flow, validates answers, and handles conditional branching.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Python","session_id":"sess-gather-014"}}}},"responses":{"200":{"description":"Next question or completion status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/gather/chat/stream":{"post":{"tags":["GatherAgent"],"summary":"SSE streaming chat with the GatherAgent","operationId":"chatStreamGatherAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/gather/start":{"post":{"tags":["GatherAgent"],"summary":"Start a questionnaire session","operationId":"startGatherSession","description":"Initialize a new questionnaire session with a list of questions.\nQuestions can include conditional logic so that certain questions\nare only shown based on previous answers.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartGatherRequest"},"example":{"questionnaire":[{"id":"q1","text":"Do you have programming experience?","type":"yes-no","required":true},{"id":"q2","text":"What is your preferred language?","type":"single-select","choices":["Python","JavaScript","Go","Rust"],"required":true,"condition":{"parent_id":"q1","trigger_values":["yes"]}},{"id":"q3","text":"How many years of experience?","type":"free-text","required":true,"condition":{"parent_id":"q1","trigger_values":["yes"]}}]}}}},"responses":{"200":{"description":"Questionnaire session started.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartGatherResponse"},"example":{"session_id":"gather-sess-001","current_question":{"id":"q1","text":"Do you have programming experience?","type":"yes-no","required":true},"total_questions":3,"status":"in_progress"}}}},"400":{"description":"Invalid questionnaire definition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/gather/respond":{"post":{"tags":["GatherAgent"],"summary":"Submit an answer to the current question","operationId":"submitGatherResponse","description":"Submit an answer to the current question in an active gather session.\nThe agent validates the answer, evaluates conditional logic to\ndetermine the next question, and returns the next question or\ncompletion status.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatherRespondRequest"},"example":{"session_id":"gather-sess-001","answer":"yes"}}}},"responses":{"200":{"description":"Answer accepted; next question or completion.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GatherRespondResponse"},"example":{"accepted":true,"next_question":{"id":"q2","text":"What is your preferred language?","type":"single-select","choices":["Python","JavaScript","Go","Rust"],"required":true},"status":"in_progress","answers_collected":{"q1":"yes"}}}}},"400":{"description":"Invalid answer for question type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."},"404":{"description":"Gather session not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/agents/workflow-developer/create":{"post":{"tags":["WorkflowDeveloperAgent"],"summary":"Create a WorkflowDeveloperAgent instance","operationId":"createWorkflowDeveloperAgent","description":"Instantiate a workflow code generation agent. Accepts natural-language\ndescriptions and produces executable Python code using the SDK's\nworkflow system.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentRequest"}}}},"responses":{"201":{"description":"Agent created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAgentResponse"},"example":{"agent_id":"workflow-developer-qrs345","session_id":"sess-wf-015","agent_type":"workflow_developer","status":"ready"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/workflow-developer/chat":{"post":{"tags":["WorkflowDeveloperAgent"],"summary":"Send a message to the WorkflowDeveloperAgent","operationId":"chatWorkflowDeveloperAgent","description":"Describe a workflow in natural language. The agent asks clarifying\nquestions and iteratively builds the workflow code.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"},"example":{"message":"Create a workflow that searches the web, scrapes the top results, and stores them in a knowledge base","session_id":"sess-wf-015"}}}},"responses":{"200":{"description":"Workflow guidance or generated code.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatResponse"}}}},"401":{"description":"Unauthorized."}}}},"/agents/workflow-developer/chat/stream":{"post":{"tags":["WorkflowDeveloperAgent"],"summary":"SSE streaming chat with the WorkflowDeveloperAgent","operationId":"chatStreamWorkflowDeveloperAgent","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatRequest"}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"}}}},"401":{"description":"Unauthorized."}}}},"/agents/workflow-developer/generate":{"post":{"tags":["WorkflowDeveloperAgent"],"summary":"Generate workflow code","operationId":"generateWorkflow","description":"Generate executable Python workflow code from a natural-language\ndescription. The generated code uses the SDK's workflow system and\nsupports sequential, parallel, consensus, debate, and map-reduce\npatterns.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateWorkflowRequest"},"example":{"description":"Search the web for a topic, scrape the top 3 results, and ingest them into a knowledge base","agents_needed":["web-search","web-scraper","knowledge-base"]}}}},"responses":{"200":{"description":"Generated workflow.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GenerateWorkflowResponse"},"example":{"code":"from ambivo_agents.core.workflow import Workflow, WorkflowStep\nfrom ambivo_agents.agents.web_search import WebSearchAgent\nfrom ambivo_agents.agents.web_scraper import WebScraperAgent\nfrom ambivo_agents.agents.knowledge_base import KnowledgeBaseAgent\n\nasync def search_scrape_ingest(topic: str, kb_name: str):\n    search_agent = WebSearchAgent.create_simple(user_id=\"wf-user\")\n    scraper_agent = WebScraperAgent.create_simple(user_id=\"wf-user\")\n    kb_agent = KnowledgeBaseAgent.create_simple(user_id=\"wf-user\")\n\n    # Step 1: Search\n    results = await search_agent.chat(f\"Search for {topic}\")\n    # Step 2: Scrape top 3\n    urls = extract_urls(results.content)[:3]\n    for url in urls:\n        scraped = await scraper_agent.chat(f\"Scrape {url}\")\n    # Step 3: Ingest\n    await kb_agent.chat(f\"Ingest scraped content into {kb_name}\")\n\n    await search_agent.cleanup_session()\n    await scraper_agent.cleanup_session()\n    await kb_agent.cleanup_session()\n","description":"Sequential workflow: web search -> scrape top 3 results -> ingest into knowledge base","agents_used":["web_search","web_scraper","knowledge_base"],"pattern":"sequential"}}}},"400":{"description":"Invalid workflow description.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized."}}}}}}