{"openapi":"3.1.0","info":{"title":"Ambivo Agents Core SDK","version":"1.4.0","description":"## Overview\n\nCore infrastructure for the Ambivo Agents SDK. Covers BaseAgent lifecycle, SSE streaming protocol,\nRedis memory management, multi-provider LLM service, configuration system, and workflow orchestration.\n\nThis specification documents the HTTP API surface that wraps the `ambivo_agents` Python SDK, enabling\nlanguage-agnostic access to agent creation, chat, streaming, memory, LLM generation, file operations,\nconfiguration, and workflow execution.\n\n---\n\n## BaseAgent Lifecycle\n\nEvery agent inherits from `BaseAgent` and follows a consistent lifecycle:\n\n```python\n# Factory pattern -- returns agent + context for explicit handling\nagent, context = MyAgent.create(user_id=\"user123\")\nresponse = await agent.chat(\"Hello\")\nawait agent.cleanup_session()\n\n# Simple pattern -- context is auto-managed internally\nagent = MyAgent.create_simple(user_id=\"user123\")\n\n# Context manager -- automatic cleanup on exit\nasync with AgentSession(MyAgent, user_id=\"user123\") as agent:\n    response = await agent.chat(\"Hello\")\n```\n\nThree factory methods are available:\n\n| Method | Returns | Use case |\n|--------|---------|----------|\n| `create()` | `(agent, AgentContext)` | Full control over session context |\n| `create_simple()` | `agent` | Quick prototyping, context auto-managed |\n| `create_advanced()` | `agent` | Inject explicit memory manager and LLM service |\n\n---\n\n## SSE Streaming Protocol\n\nThe streaming chat endpoint (`POST /core/agent/{agent_id}/chat/stream`) returns an `text/event-stream`\nresponse. Clients MUST follow the wire format below.\n\n### Named Events\n\nThese use the SSE `event:` field:\n\n| Event name | Data | Client action |\n|------------|------|---------------|\n| `session` | `<session_id>` (plain string) | Store session ID internally. Do **NOT** display to user. |\n| `done` | *(empty)* | Stream is finished. Close the connection. |\n\n### Default (JSON) Events\n\nAll other frames arrive without a named `event:` field. The `data:` line contains a JSON object\nwith a `type` discriminator:\n\n| `type` | Additional fields | Client action |\n|--------|-------------------|---------------|\n| `stream_start` | `session_id` | Show typing indicator. |\n| `stream_status` | `session_id`, `status` | Show as status text (e.g. \"Searching...\"). Do **NOT** append to chat. |\n| `keepalive` | `session_id` | Ignore. Connection keep-alive ping. |\n| `stream_chunk` | `session_id`, `text` | Append `text` verbatim to the response buffer. |\n| `stream_complete` | `session_id`, `answer`, `metadata` | Final answer. Replace buffer with `answer`. |\n| `stream_error` | `session_id`, `error` | Display error to user. |\n| `stream_cancelled` | `session_id` | Stream was cancelled server-side. |\n\n### Critical Buffering Rule\n\n```\nbuffer += data.text\n```\n\n**Never** trim, strip, or add spaces between chunks. Concatenate `text` fields exactly as received.\n\n### Wire Format Example\n\n```\nevent: session\ndata: ses_abc123\n\ndata: {\"type\":\"stream_start\",\"session_id\":\"ses_abc123\"}\n\ndata: {\"type\":\"stream_status\",\"session_id\":\"ses_abc123\",\"status\":\"Thinking...\"}\n\ndata: {\"type\":\"stream_chunk\",\"session_id\":\"ses_abc123\",\"text\":\"Hello\"}\n\ndata: {\"type\":\"stream_chunk\",\"session_id\":\"ses_abc123\",\"text\":\", world!\"}\n\ndata: {\"type\":\"stream_complete\",\"session_id\":\"ses_abc123\",\"answer\":\"Hello, world!\",\"metadata\":{\"provider\":\"openai\",\"tokens\":12}}\n\nevent: done\ndata:\n```\n\n---\n\n## Configuration\n\nTwo methods for configuring the SDK:\n\n1. **YAML file** -- `agent_config.yaml` loaded automatically when `auto_configure=True`\n2. **Environment variables** -- prefixed with `AMBIVO_AGENTS_` (e.g. `AMBIVO_AGENTS_REDIS_HOST`)\n\nEnvironment variables override YAML values when both are present.\n\n---\n\n## Multi-Provider LLM\n\nThe LLM service supports multiple providers with automatic failover:\n\n- **OpenAI** -- GPT-4, GPT-4o, GPT-3.5\n- **Anthropic** -- Claude 3.5, Claude 3 Opus/Sonnet/Haiku\n- **AWS Bedrock** -- Claude, Titan, and other Bedrock models\n\nProvider rotation happens automatically when a provider hits rate limits or errors.\nAfter 3 consecutive errors a provider enters cooldown for a configurable number of minutes.\n","contact":{"name":"Ambivo Engineering","url":"https://ambivo.com"}},"servers":[{"url":"https://ingress.ambivo.com","description":"Production"},{"url":"http://localhost:8000","description":"Local Development"}],"security":[{"BearerAuth":[]}],"tags":[{"name":"BaseAgent Lifecycle","description":"Agent creation, session management, and cleanup"},{"name":"Chat Interface","description":"Synchronous and streaming chat with agents"},{"name":"SSE Streaming","description":"Server-Sent Events protocol and event types"},{"name":"Memory Management","description":"Redis-based conversation history and context storage"},{"name":"LLM Service","description":"Multi-provider LLM with automatic failover"},{"name":"File Operations","description":"Read, parse, and convert files from local paths and remote URLs"},{"name":"Configuration","description":"YAML and environment variable configuration"},{"name":"Workflows","description":"Sequential and parallel workflow orchestration"}],"paths":{"/core/agent/create":{"post":{"operationId":"createAgent","summary":"Create agent with factory method","description":"Creates an agent instance using the standard factory pattern. Returns the agent ID,\nsession ID, and full agent context. This is the recommended creation method for\nproduction use because it gives the caller explicit access to the `AgentContext`.\n\nEquivalent SDK call:\n```python\nagent, context = MyAgent.create(user_id=\"user123\")\n```\n","tags":["BaseAgent Lifecycle"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["agent_class","user_id"],"properties":{"agent_class":{"type":"string","description":"Fully-qualified agent class name (e.g. `AssistantAgent`, `ModeratorAgent`, `KnowledgeBaseAgent`).","example":"ModeratorAgent"},"user_id":{"type":"string","description":"Unique identifier for the user who owns this agent session.","example":"user_abc123"},"tenant_id":{"type":"string","description":"Tenant identifier for multi-tenant deployments. Defaults to `default` if omitted.","example":"tenant_001"},"session_id":{"type":"string","description":"Optional session ID to reuse an existing session. When omitted the server generates a new UUID.\nProviding this allows multiple agents to share conversation context.\n","example":"ses_existing_456"},"system_message":{"type":"string","description":"Custom system message that overrides the agent's default persona prompt.","example":"You are a helpful coding assistant specializing in Python."},"auto_configure":{"type":"boolean","description":"When `true`, the agent loads configuration from `agent_config.yaml` automatically.","default":true,"example":true}}},"example":{"agent_class":"ModeratorAgent","user_id":"user_abc123","tenant_id":"tenant_001","auto_configure":true}}}},"responses":{"201":{"description":"Agent created successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"agent_id":{"type":"string","description":"Unique identifier assigned to the new agent instance.","example":"agent_mod_7f3a"},"session_id":{"type":"string","description":"Session ID for this agent (generated or reused).","example":"ses_abc123"},"context":{"$ref":"#/components/schemas/AgentContext"}}},"example":{"agent_id":"agent_mod_7f3a","session_id":"ses_abc123","context":{"session_id":"ses_abc123","conversation_id":"conv_001","user_id":"user_abc123","tenant_id":"tenant_001","agent_id":"agent_mod_7f3a","created_at":"2026-03-21T10:00:00Z","metadata":{}}}}}},"400":{"description":"Invalid request (unknown agent class, missing user_id).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Unknown agent class: FooAgent","code":"INVALID_AGENT_CLASS"}}}}}}},"/core/agent/create-simple":{"post":{"operationId":"createAgentSimple","summary":"Create agent (simplified)","description":"Simplified agent creation that auto-manages context internally. Returns only\nthe agent ID. Best suited for quick prototyping or single-agent scenarios.\n\nEquivalent SDK call:\n```python\nagent = MyAgent.create_simple(user_id=\"user123\")\n```\n","tags":["BaseAgent Lifecycle"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["agent_class","user_id"],"properties":{"agent_class":{"type":"string","description":"Agent class name.","example":"AssistantAgent"},"user_id":{"type":"string","description":"Unique user identifier.","example":"user_abc123"}}},"example":{"agent_class":"AssistantAgent","user_id":"user_abc123"}}}},"responses":{"201":{"description":"Agent created successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"agent_id":{"type":"string","description":"Unique identifier for the created agent.","example":"agent_asst_9b2c"}}},"example":{"agent_id":"agent_asst_9b2c"}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/agent/create-advanced":{"post":{"operationId":"createAgentAdvanced","summary":"Create agent with explicit dependencies","description":"Advanced agent creation that accepts pre-configured memory manager and LLM service\ninstances. Use this when you need full control over shared infrastructure (e.g.\nmultiple agents sharing the same Redis connection pool).\n\nEquivalent SDK call:\n```python\nmemory = create_redis_memory_manager(\"agent_id\")\nllm = create_multi_provider_llm_service()\nagent = MyAgent.create_advanced(\"agent_id\", memory, llm)\n```\n","tags":["BaseAgent Lifecycle"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["agent_class","agent_id","memory_manager_config","llm_service_config"],"properties":{"agent_class":{"type":"string","description":"Agent class name.","example":"KnowledgeBaseAgent"},"agent_id":{"type":"string","description":"Explicit agent ID to assign.","example":"agent_kb_custom_01"},"memory_manager_config":{"type":"object","description":"Configuration for the Redis memory manager.","properties":{"host":{"type":"string","example":"redis.internal.ambivo.com"},"port":{"type":"integer","example":6379},"password":{"type":"string","example":"s3cret"},"db":{"type":"integer","example":0},"session_id":{"type":"string","example":"ses_shared_pool"}},"example":{"host":"redis.internal.ambivo.com","port":6379,"db":0,"session_id":"ses_shared_pool"}},"llm_service_config":{"type":"object","description":"Configuration for the multi-provider LLM service.","properties":{"providers":{"type":"array","items":{"type":"string"},"example":["openai","anthropic"]},"preferred_provider":{"type":"string","example":"openai"},"temperature":{"type":"number","example":0.7}},"example":{"providers":["openai","anthropic"],"preferred_provider":"openai","temperature":0.7}}}},"example":{"agent_class":"KnowledgeBaseAgent","agent_id":"agent_kb_custom_01","memory_manager_config":{"host":"redis.internal.ambivo.com","port":6379,"db":0,"session_id":"ses_shared_pool"},"llm_service_config":{"providers":["openai","anthropic"],"preferred_provider":"openai","temperature":0.7}}}}},"responses":{"201":{"description":"Agent created with explicit dependencies.","content":{"application/json":{"schema":{"type":"object","properties":{"agent_id":{"type":"string","description":"The agent ID that was provided in the request.","example":"agent_kb_custom_01"}}},"example":{"agent_id":"agent_kb_custom_01"}}}},"400":{"description":"Invalid configuration.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/agent/{agent_id}/session":{"delete":{"operationId":"cleanupAgentSession","summary":"Cleanup agent session","description":"Cleans up all resources associated with the agent session including memory,\nconversation history, thread pool executors, and any cached state. This should\nalways be called when an agent is no longer needed.\n\nEquivalent SDK call:\n```python\nawait agent.cleanup_session()\n```\n","tags":["BaseAgent Lifecycle"],"parameters":[{"name":"agent_id","in":"path","required":true,"description":"The agent instance ID to clean up.","schema":{"type":"string"},"example":"agent_mod_7f3a"}],"responses":{"200":{"description":"Session cleaned up successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether cleanup completed without errors.","example":true},"cleared_memory":{"type":"boolean","description":"Whether conversation memory was cleared from Redis.","example":true},"cleared_executor":{"type":"boolean","description":"Whether the thread pool executor was shut down.","example":true}}},"example":{"success":true,"cleared_memory":true,"cleared_executor":true}}}},"404":{"description":"Agent not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Agent not found: agent_mod_7f3a","code":"AGENT_NOT_FOUND"}}}}}}},"/core/agent/{agent_id}/chat":{"post":{"operationId":"chatWithAgent","summary":"Send message and get response","description":"Sends a user message to the agent and returns the full response. This is the\nprimary high-level interface -- the agent handles routing, memory storage,\nand context management internally.\n\nEquivalent SDK call:\n```python\nresponse = await agent.chat(\"Hello\")\n```\n","tags":["Chat Interface"],"parameters":[{"name":"agent_id","in":"path","required":true,"description":"Target agent instance ID.","schema":{"type":"string"},"example":"agent_mod_7f3a"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"The user's message text.","example":"What is machine learning?"},"metadata":{"type":"object","description":"Optional metadata to attach to this message (e.g. source, client version).","additionalProperties":true,"example":{"source":"web_ui","client_version":"2.1.0"}}}},"example":{"message":"What is machine learning?","metadata":{"source":"web_ui"}}}}},"responses":{"200":{"description":"Agent response.","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"The agent's text response.","example":"Machine learning is a subset of artificial intelligence that enables systems to learn and improve from experience without being explicitly programmed."}}},"example":{"content":"Machine learning is a subset of artificial intelligence that enables systems to learn and improve from experience without being explicitly programmed."}}}},"404":{"description":"Agent not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Agent processing error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"LLM provider unavailable after failover attempts","code":"LLM_UNAVAILABLE"}}}}}}},"/core/agent/{agent_id}/chat/sync":{"post":{"operationId":"chatWithAgentSync","summary":"Synchronous chat (blocking)","description":"Blocking synchronous version of the chat endpoint. The server will not return\nuntil the full response is ready. Useful for simple integrations that cannot\nhandle async patterns.\n\nEquivalent SDK call:\n```python\nresponse = agent.chat_sync(\"Hello\")\n```\n","tags":["Chat Interface"],"parameters":[{"name":"agent_id","in":"path","required":true,"description":"Target agent instance ID.","schema":{"type":"string"},"example":"agent_mod_7f3a"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"The user's message text.","example":"Explain quantum computing in one sentence."}}},"example":{"message":"Explain quantum computing in one sentence."}}}},"responses":{"200":{"description":"Agent response (blocking).","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"The agent's complete text response.","example":"Quantum computing uses quantum bits (qubits) that can exist in superposition states to perform certain computations exponentially faster than classical computers."}}},"example":{"content":"Quantum computing uses quantum bits (qubits) that can exist in superposition states to perform certain computations exponentially faster than classical computers."}}}},"404":{"description":"Agent not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Processing error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/agent/{agent_id}/chat/stream":{"post":{"operationId":"chatWithAgentStream","summary":"SSE streaming chat","description":"Sends a message and receives the response as a Server-Sent Events stream.\nThe client must follow the SSE protocol documented in the info section.\n\n**Event sequence:**\n1. Named event `session` with the session ID\n2. JSON event `stream_start`\n3. Zero or more `stream_status` events (e.g. \"Thinking...\", \"Searching...\")\n4. One or more `stream_chunk` events with incremental text\n5. JSON event `stream_complete` with the full answer\n6. Named event `done`\n\n**Buffering rule:** `buffer += data.text` -- never trim, strip, or insert spaces.\n\nEquivalent SDK call:\n```python\nasync for chunk in agent.process_message_stream(message):\n    print(chunk.content, end=\"\")\n```\n","tags":["Chat Interface","SSE Streaming"],"parameters":[{"name":"agent_id","in":"path","required":true,"description":"Target agent instance ID.","schema":{"type":"string"},"example":"agent_mod_7f3a"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"The user's message text.","example":"Tell me about the history of AI."},"metadata":{"type":"object","description":"Optional metadata for this message.","additionalProperties":true,"example":{"source":"mobile_app"}}}},"example":{"message":"Tell me about the history of AI.","metadata":{"source":"mobile_app"}}}}},"responses":{"200":{"description":"SSE event stream.","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/StreamChunk"},"example":"event: session\ndata: ses_abc123\n\ndata: {\"type\":\"stream_start\",\"session_id\":\"ses_abc123\"}\n\ndata: {\"type\":\"stream_status\",\"session_id\":\"ses_abc123\",\"status\":\"Thinking...\"}\n\ndata: {\"type\":\"stream_chunk\",\"session_id\":\"ses_abc123\",\"text\":\"The history of \"}\n\ndata: {\"type\":\"stream_chunk\",\"session_id\":\"ses_abc123\",\"text\":\"artificial intelligence \"}\n\ndata: {\"type\":\"stream_chunk\",\"session_id\":\"ses_abc123\",\"text\":\"dates back to the 1950s.\"}\n\ndata: {\"type\":\"stream_complete\",\"session_id\":\"ses_abc123\",\"answer\":\"The history of artificial intelligence dates back to the 1950s.\",\"metadata\":{\"provider\":\"anthropic\",\"tokens\":42}}\n\nevent: done\ndata:\n"}}},"404":{"description":"Agent not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/agent/{agent_id}/process-message":{"post":{"operationId":"processAgentMessage","summary":"Low-level message processing","description":"Sends a fully-formed `AgentMessage` object to the agent for processing and\nreturns the response as an `AgentMessage`. This is the low-level interface\nthat `chat()` is built on. Use it when you need full control over message\nmetadata, sender/recipient IDs, and message types.\n\nEquivalent SDK call:\n```python\nresponse_message = await agent.process_message(agent_message)\n```\n","tags":["Chat Interface"],"parameters":[{"name":"agent_id","in":"path","required":true,"description":"Target agent instance ID.","schema":{"type":"string"},"example":"agent_mod_7f3a"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentMessage"},"example":{"id":"msg_001","sender_id":"user_abc123","recipient_id":"agent_mod_7f3a","content":"What is the weather like today?","message_type":"user_input","metadata":{"source":"api"},"session_id":"ses_abc123","conversation_id":"conv_001","timestamp":"2026-03-21T10:05:00Z"}}}},"responses":{"200":{"description":"Processed agent response message.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentMessage"},"example":{"id":"msg_002","sender_id":"agent_mod_7f3a","recipient_id":"user_abc123","content":"I don't have access to real-time weather data. You could try asking the web search agent.","message_type":"agent_response","metadata":{"routed_to":"assistant","processing_time_ms":230},"session_id":"ses_abc123","conversation_id":"conv_001","timestamp":"2026-03-21T10:05:01Z"}}}},"404":{"description":"Agent not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Processing error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/streaming/protocol":{"get":{"operationId":"getStreamingProtocol","summary":"Get SSE protocol documentation","description":"Returns machine-readable documentation of the SSE streaming protocol including\nall event types, wire format examples, and buffering rules. Useful for client\nSDK generators and integration testing.\n","tags":["SSE Streaming"],"responses":{"200":{"description":"SSE protocol specification.","content":{"application/json":{"schema":{"type":"object","properties":{"event_types":{"type":"array","description":"All SSE event types that can be emitted.","items":{"type":"object","properties":{"type":{"type":"string","description":"Event type identifier."},"fields":{"type":"array","items":{"type":"string"},"description":"Fields present in this event type."},"action":{"type":"string","description":"Recommended client action for this event."}}}},"wire_format_examples":{"type":"array","description":"Example SSE frames as raw strings.","items":{"type":"string"}},"buffering_rules":{"type":"object","description":"Rules for buffering streamed text.","properties":{"rule":{"type":"string"},"description":{"type":"string"}}}}},"example":{"event_types":[{"type":"stream_start","fields":["session_id"],"action":"Show typing indicator"},{"type":"stream_chunk","fields":["session_id","text"],"action":"Append text verbatim to buffer"},{"type":"stream_status","fields":["session_id","status"],"action":"Show as status text, NOT in chat"},{"type":"keepalive","fields":["session_id"],"action":"Ignore"},{"type":"stream_complete","fields":["session_id","answer","metadata"],"action":"Final answer, replace buffer"},{"type":"stream_error","fields":["session_id","error"],"action":"Show error to user"},{"type":"stream_cancelled","fields":["session_id"],"action":"Stream was cancelled"}],"wire_format_examples":["event: session\ndata: ses_abc123\n","data: {\"type\":\"stream_chunk\",\"session_id\":\"ses_abc123\",\"text\":\"Hello\"}\n","event: done\ndata:\n"],"buffering_rules":{"rule":"buffer += data.text","description":"Never trim, strip, or add spaces between chunks. Concatenate text fields exactly as received."}}}}}}}},"/core/memory/store":{"post":{"operationId":"storeMessage","summary":"Store message in conversation history","description":"Stores a message in the Redis-backed conversation history. Messages are\ncompressed with LZ4 for efficient storage. Each message is keyed by\nsession ID and conversation ID.\n\nEquivalent SDK call:\n```python\nagent.memory_manager.store_message(message)\n```\n","tags":["Memory Management"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["session_id","message"],"properties":{"session_id":{"type":"string","description":"Session ID that owns this conversation.","example":"ses_abc123"},"conversation_id":{"type":"string","description":"Optional conversation thread ID within the session.","example":"conv_001"},"message":{"$ref":"#/components/schemas/AgentMessage"}}},"example":{"session_id":"ses_abc123","conversation_id":"conv_001","message":{"id":"msg_010","sender_id":"user_abc123","recipient_id":"agent_mod_7f3a","content":"Remember that my favorite color is blue.","message_type":"user_input","metadata":{},"session_id":"ses_abc123","conversation_id":"conv_001","timestamp":"2026-03-21T10:10:00Z"}}}}},"responses":{"201":{"description":"Message stored successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"message_id":{"type":"string","example":"msg_010"}}},"example":{"success":true,"message_id":"msg_010"}}}},"400":{"description":"Invalid message format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/memory/messages":{"get":{"operationId":"getRecentMessages","summary":"Get recent messages","description":"Retrieves recent messages from conversation history, ordered newest first.\nResults are decompressed from LZ4 on the fly.\n\nEquivalent SDK call:\n```python\nmessages = agent.memory_manager.get_recent_messages(limit=10, conversation_id=\"conv_001\")\n```\n","tags":["Memory Management"],"parameters":[{"name":"session_id","in":"query","required":true,"description":"Session ID to retrieve messages from.","schema":{"type":"string"},"example":"ses_abc123"},{"name":"conversation_id","in":"query","required":false,"description":"Filter to a specific conversation thread. Omit to get messages across all conversations.","schema":{"type":"string"},"example":"conv_001"},{"name":"limit","in":"query","required":false,"description":"Maximum number of messages to return. Defaults to 10.","schema":{"type":"integer","default":10,"minimum":1,"maximum":100},"example":20}],"responses":{"200":{"description":"List of recent messages.","content":{"application/json":{"schema":{"type":"object","properties":{"messages":{"type":"array","items":{"$ref":"#/components/schemas/AgentMessage"}}}},"example":{"messages":[{"id":"msg_010","sender_id":"user_abc123","recipient_id":"agent_mod_7f3a","content":"Remember that my favorite color is blue.","message_type":"user_input","metadata":{},"session_id":"ses_abc123","conversation_id":"conv_001","timestamp":"2026-03-21T10:10:00Z"},{"id":"msg_011","sender_id":"agent_mod_7f3a","recipient_id":"user_abc123","content":"Got it! I'll remember that your favorite color is blue.","message_type":"agent_response","metadata":{},"session_id":"ses_abc123","conversation_id":"conv_001","timestamp":"2026-03-21T10:10:01Z"}]}}}},"400":{"description":"Missing session_id parameter.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/memory/context/store":{"post":{"operationId":"storeContext","summary":"Store context key-value pair","description":"Stores an arbitrary key-value pair in session context. Context values persist\nacross conversations within the same session and are available to all agents\nsharing that session.\n\nEquivalent SDK call:\n```python\nagent.memory_manager.store_context(\"preferred_language\", \"Python\", conversation_id=\"conv_001\")\n```\n","tags":["Memory Management"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["session_id","key","value"],"properties":{"session_id":{"type":"string","description":"Session ID to store context under.","example":"ses_abc123"},"key":{"type":"string","description":"Context key name.","example":"preferred_language"},"value":{"description":"Context value. Can be a string, number, boolean, array, or object.","example":"Python"}}},"example":{"session_id":"ses_abc123","key":"preferred_language","value":"Python"}}}},"responses":{"201":{"description":"Context stored successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true}}},"example":{"success":true}}}},"400":{"description":"Invalid request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/memory/context/{key}":{"get":{"operationId":"getContext","summary":"Get context value","description":"Retrieves a context value by key for the given session.\n\nEquivalent SDK call:\n```python\nvalue = agent.memory_manager.get_context(\"preferred_language\")\n```\n","tags":["Memory Management"],"parameters":[{"name":"key","in":"path","required":true,"description":"The context key to retrieve.","schema":{"type":"string"},"example":"preferred_language"},{"name":"session_id","in":"query","required":true,"description":"Session ID to look up context from.","schema":{"type":"string"},"example":"ses_abc123"}],"responses":{"200":{"description":"Context value found.","content":{"application/json":{"schema":{"type":"object","properties":{"key":{"type":"string","example":"preferred_language"},"value":{"description":"The stored context value.","example":"Python"}}},"example":{"key":"preferred_language","value":"Python"}}}},"404":{"description":"Key not found for this session.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Context key not found: preferred_language","code":"CONTEXT_KEY_NOT_FOUND"}}}}}}},"/core/memory/clear":{"delete":{"operationId":"clearMemory","summary":"Clear conversation memory","description":"Clears all messages and context for a session or specific conversation.\nWhen `conversation_id` is provided, only that conversation's data is removed.\nWhen omitted, all conversations in the session are cleared.\n\nEquivalent SDK call:\n```python\nagent.memory_manager.clear_memory(conversation_id=\"conv_001\")\n```\n","tags":["Memory Management"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["session_id"],"properties":{"session_id":{"type":"string","description":"Session ID to clear.","example":"ses_abc123"},"conversation_id":{"type":"string","description":"Optional conversation ID to scope the clear operation.","example":"conv_001"}}},"example":{"session_id":"ses_abc123","conversation_id":"conv_001"}}}},"responses":{"200":{"description":"Memory cleared successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"cleared_messages":{"type":"integer","description":"Number of messages removed.","example":15},"cleared_context_keys":{"type":"integer","description":"Number of context keys removed.","example":3}}},"example":{"success":true,"cleared_messages":15,"cleared_context_keys":3}}}},"400":{"description":"Missing session_id.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/llm/generate":{"post":{"operationId":"generateLLMResponse","summary":"Generate LLM response","description":"Generates a response using the multi-provider LLM service. The service automatically\nselects the best available provider based on priority, rate limits, and error state.\nYou can optionally force a specific provider.\n\nSupports OpenAI, Anthropic, and AWS Bedrock providers with automatic failover.\n\nEquivalent SDK call:\n```python\nresponse = await llm_service.generate_response(prompt, context)\n```\n","tags":["LLM Service"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"string","description":"The prompt text to send to the LLM.","example":"Explain the difference between REST and GraphQL APIs."},"system_message":{"type":"string","description":"Optional system message to set the LLM's persona.","example":"You are a senior software architect."},"conversation_history":{"type":"array","description":"Optional prior conversation messages for context.","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"}}},"example":[{"role":"user","content":"What is an API?"},{"role":"assistant","content":"An API (Application Programming Interface) is a set of protocols and tools for building software applications."}]},"provider":{"type":"string","description":"Force a specific LLM provider. Omit for automatic selection.","enum":["openai","anthropic","bedrock"],"example":"anthropic"}}},"example":{"prompt":"Explain the difference between REST and GraphQL APIs.","system_message":"You are a senior software architect.","provider":"anthropic"}}}},"responses":{"200":{"description":"LLM response generated.","content":{"application/json":{"schema":{"type":"object","properties":{"content":{"type":"string","description":"The generated response text.","example":"REST uses fixed endpoints with HTTP methods, while GraphQL uses a single endpoint with a query language that lets clients request exactly the data they need."},"provider_used":{"type":"string","description":"The provider that actually served this request.","example":"anthropic"}}},"example":{"content":"REST uses fixed endpoints with HTTP methods, while GraphQL uses a single endpoint with a query language that lets clients request exactly the data they need.","provider_used":"anthropic"}}}},"503":{"description":"All LLM providers unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"All LLM providers are currently unavailable. Providers in cooldown.","code":"LLM_ALL_PROVIDERS_UNAVAILABLE"}}}}}}},"/core/llm/generate/stream":{"post":{"operationId":"generateLLMResponseStream","summary":"Stream LLM response","description":"Generates a streaming response using the multi-provider LLM service. Returns\nan SSE stream of text chunks as they are generated by the LLM.\n\nEquivalent SDK call:\n```python\nasync for chunk in llm_service.generate_response_stream(prompt, context):\n    print(chunk, end=\"\")\n```\n","tags":["LLM Service","SSE Streaming"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["prompt"],"properties":{"prompt":{"type":"string","description":"The prompt text to send to the LLM.","example":"Write a haiku about distributed systems."},"system_message":{"type":"string","description":"Optional system message.","example":"You are a creative poet."},"conversation_history":{"type":"array","description":"Optional prior conversation for context.","items":{"type":"object","properties":{"role":{"type":"string","enum":["user","assistant","system"]},"content":{"type":"string"}}}},"provider":{"type":"string","description":"Force a specific LLM provider.","enum":["openai","anthropic","bedrock"]}}},"example":{"prompt":"Write a haiku about distributed systems.","system_message":"You are a creative poet."}}}},"responses":{"200":{"description":"Streaming LLM response as SSE.","content":{"text/event-stream":{"schema":{"type":"string"},"example":"data: {\"type\":\"stream_chunk\",\"text\":\"Nodes whisper through \"}\n\ndata: {\"type\":\"stream_chunk\",\"text\":\"the wire\\n\"}\n\ndata: {\"type\":\"stream_chunk\",\"text\":\"Consensus blooms in silence\\n\"}\n\ndata: {\"type\":\"stream_chunk\",\"text\":\"Data finds its home\"}\n\nevent: done\ndata:\n"}}},"503":{"description":"All LLM providers unavailable.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/llm/providers":{"get":{"operationId":"getLLMProviders","summary":"Get provider status","description":"Returns the current status of all configured LLM providers, including\navailability, request counts, error counts, and cooldown state.\n","tags":["LLM Service"],"responses":{"200":{"description":"Provider status list.","content":{"application/json":{"schema":{"type":"object","properties":{"providers":{"type":"array","items":{"$ref":"#/components/schemas/ProviderConfig"}}}},"example":{"providers":[{"provider_name":"openai","model_name":"gpt-4o","priority":1,"available":true,"total_requests":1542,"total_errors":3,"cooldown_until":null},{"provider_name":"anthropic","model_name":"claude-3-5-sonnet","priority":2,"available":true,"total_requests":823,"total_errors":0,"cooldown_until":null},{"provider_name":"bedrock","model_name":"anthropic.claude-3-sonnet","priority":3,"available":false,"total_requests":45,"total_errors":5,"cooldown_until":"2026-03-21T10:35:00Z"}]}}}}}}},"/core/files/read":{"post":{"operationId":"readFile","summary":"Read local or remote file","description":"Reads a file from a local path or remote URL. Supports TXT, JSON, CSV, XML,\nand YAML formats. Remote files are fetched via HTTP/HTTPS. Automatic encoding\ndetection is applied for local files.\n\nEquivalent SDK call:\n```python\nresult = await agent.read_file(\"path/to/file.txt\")\n# or\nresult = await agent.read_file(\"https://example.com/data.json\")\n```\n","tags":["File Operations"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["file_path"],"properties":{"file_path":{"type":"string","description":"Local file path or remote URL. Local paths can be absolute or relative\n(resolved against configured base directories). URLs must start with `http://` or `https://`.\n","example":"/data/reports/sales_q1.csv"}}},"example":{"file_path":"/data/reports/sales_q1.csv"}}}},"responses":{"200":{"description":"File read successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the file was read without errors.","example":true},"content":{"type":"string","description":"Raw file content as a string.","example":"name,revenue,region\nWidget A,15000,North\nWidget B,23000,South"},"metadata":{"type":"object","description":"File metadata.","properties":{"file_path":{"type":"string","example":"/data/reports/sales_q1.csv"},"file_size":{"type":"integer","description":"File size in bytes.","example":2048},"file_type":{"type":"string","example":"csv"},"encoding":{"type":"string","example":"utf-8"},"is_remote":{"type":"boolean","example":false}}}}},"example":{"success":true,"content":"name,revenue,region\nWidget A,15000,North\nWidget B,23000,South","metadata":{"file_path":"/data/reports/sales_q1.csv","file_size":2048,"file_type":"csv","encoding":"utf-8","is_remote":false}}}}},"404":{"description":"File not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"File not found: /data/reports/missing.csv","code":"FILE_NOT_FOUND"}}}},"400":{"description":"Unsupported file type or unreadable content.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/core/files/parse":{"post":{"operationId":"parseFileContent","summary":"Parse file content by type","description":"Parses raw file content according to the specified format. Returns structured\ndata with metadata about the parsed result.\n\nSupported formats:\n- **json** -- Returns parsed JSON with structure metadata\n- **csv** -- Returns list of dictionaries with column info\n- **xml** -- Converts to nested dictionary structure\n- **yaml** -- Full YAML parsing\n- **text** -- Returns content with line and character counts\n\nEquivalent SDK call:\n```python\nresult = await agent.parse_file_content(content, \"csv\")\n```\n","tags":["File Operations"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["content","file_type"],"properties":{"content":{"type":"string","description":"Raw file content to parse.","example":"name,revenue,region\nWidget A,15000,North\nWidget B,23000,South"},"file_type":{"type":"string","description":"Format to parse the content as.","enum":["json","csv","xml","yaml","text"],"example":"csv"}}},"example":{"content":"name,revenue,region\nWidget A,15000,North\nWidget B,23000,South","file_type":"csv"}}}},"responses":{"200":{"description":"Content parsed successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"data":{"description":"Parsed data structure. Shape depends on the file_type.","example":[{"name":"Widget A","revenue":15000,"region":"North"},{"name":"Widget B","revenue":23000,"region":"South"}]},"metadata":{"type":"object","properties":{"file_type":{"type":"string","example":"csv"},"row_count":{"type":"integer","example":2},"columns":{"type":"array","items":{"type":"string"},"example":["name","revenue","region"]}}}}},"example":{"success":true,"data":[{"name":"Widget A","revenue":15000,"region":"North"},{"name":"Widget B","revenue":23000,"region":"South"}],"metadata":{"file_type":"csv","row_count":2,"columns":["name","revenue","region"]}}}}},"400":{"description":"Parse error or unsupported file type.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Failed to parse content as json: Expecting property name enclosed in double quotes","code":"PARSE_ERROR"}}}}}}},"/core/files/convert":{"post":{"operationId":"convertFileFormat","summary":"Convert between file formats","description":"Converts data between supported formats. Currently supports JSON-to-CSV and\nCSV-to-JSON conversions with automatic type inference.\n\nEquivalent SDK calls:\n```python\ncsv_data = await agent.convert_json_to_csv(json_data)\njson_data = await agent.convert_csv_to_json(csv_content)\n```\n","tags":["File Operations"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["data","from_format","to_format"],"properties":{"data":{"description":"The data to convert. For JSON-to-CSV this should be an array of objects.\nFor CSV-to-JSON this should be a CSV string.\n","example":[{"name":"Widget A","revenue":15000,"region":"North"},{"name":"Widget B","revenue":23000,"region":"South"}]},"from_format":{"type":"string","description":"Source format.","enum":["json","csv"],"example":"json"},"to_format":{"type":"string","description":"Target format.","enum":["json","csv"],"example":"csv"}}},"example":{"data":[{"name":"Widget A","revenue":15000,"region":"North"},{"name":"Widget B","revenue":23000,"region":"South"}],"from_format":"json","to_format":"csv"}}}},"responses":{"200":{"description":"Data converted successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","example":true},"converted":{"description":"The converted data. String for CSV output, array/object for JSON output.","example":"name,revenue,region\nWidget A,15000,North\nWidget B,23000,South"}}},"example":{"success":true,"converted":"name,revenue,region\nWidget A,15000,North\nWidget B,23000,South"}}}},"400":{"description":"Unsupported conversion or invalid data.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Unsupported conversion: xml -> csv","code":"UNSUPPORTED_CONVERSION"}}}}}}},"/core/config":{"get":{"operationId":"getConfig","summary":"Get current configuration","description":"Returns the full merged configuration from `agent_config.yaml` and any\nenvironment variable overrides. Sensitive values (API keys, passwords) are\nmasked in the response.\n\nEquivalent SDK call:\n```python\nfrom ambivo_agents.config.loader import load_config\nconfig = load_config()\n```\n","tags":["Configuration"],"responses":{"200":{"description":"Full configuration object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigSection"},"example":{"redis":{"host":"redis.internal.ambivo.com","port":6379,"password":"****","db":0},"llm":{"providers":["openai","anthropic","bedrock"],"preferred_provider":"openai","temperature":0.7},"knowledge_base":{"qdrant_url":"http://qdrant:6333","vector_size":1536,"chunk_size":512},"docker":{"shared_base_dir":"./docker_shared","images":{"code_executor":"sgosain/amb-ubuntu-python-public-pod","youtube":"sgosain/amb-ubuntu-python-public-pod"}},"agent_capabilities":{"web_search":true,"code_execution":true,"knowledge_base":true,"media_processing":false,"youtube_download":true}}}}}}}},"/core/config/{section}":{"get":{"operationId":"getConfigSection","summary":"Get config section","description":"Returns a specific configuration section. Valid sections include `redis`, `llm`,\n`knowledge_base`, `docker`, `agent_capabilities`, `web_search`, `analytics`,\nand `api_agent`.\n","tags":["Configuration"],"parameters":[{"name":"section","in":"path","required":true,"description":"Configuration section name.","schema":{"type":"string","enum":["redis","llm","knowledge_base","docker","agent_capabilities","web_search","analytics","api_agent"]},"example":"llm"}],"responses":{"200":{"description":"Configuration section.","content":{"application/json":{"schema":{"type":"object","additionalProperties":true},"example":{"providers":["openai","anthropic","bedrock"],"preferred_provider":"openai","temperature":0.7}}}},"404":{"description":"Unknown configuration section.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Unknown configuration section: foobar","code":"CONFIG_SECTION_NOT_FOUND"}}}}}}},"/core/workflow/create":{"post":{"operationId":"createWorkflow","summary":"Create workflow","description":"Creates a new workflow definition with nodes (agents) and edges (connections).\nWorkflows support sequential, parallel, conditional, and loop execution patterns.\n\nEquivalent SDK call:\n```python\nworkflow = WorkflowBuilder()\n    .add_agent(search_agent, \"search\")\n    .add_agent(scraper_agent, \"scrape\")\n    .add_edge(\"search\", \"scrape\")\n    .build()\n```\n","tags":["Workflows"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","nodes","edges"],"properties":{"name":{"type":"string","description":"Human-readable workflow name.","example":"Web Research Pipeline"},"nodes":{"type":"array","description":"Workflow nodes, each representing an agent or control node.","items":{"type":"object","required":["id","agent_class"],"properties":{"id":{"type":"string","description":"Unique node identifier within this workflow.","example":"search"},"agent_class":{"type":"string","description":"Agent class to instantiate for this node.","example":"WebSearchAgent"},"node_type":{"type":"string","description":"Type of workflow node.","enum":["agent","condition","join","fork"],"default":"agent","example":"agent"},"metadata":{"type":"object","description":"Additional node configuration.","additionalProperties":true}}}},"edges":{"type":"array","description":"Directed edges connecting nodes.","items":{"type":"object","required":["from_node","to_node"],"properties":{"from_node":{"type":"string","description":"Source node ID.","example":"search"},"to_node":{"type":"string","description":"Target node ID.","example":"scrape"},"condition":{"type":"string","description":"Optional condition expression. Edge is followed only when condition evaluates to true.","example":"result.has_urls == true"},"weight":{"type":"integer","description":"Edge weight for priority ordering (lower is higher priority).","default":1,"example":1}}}},"execution_type":{"type":"string","description":"How the workflow nodes should be executed.","enum":["sequential","parallel","conditional","loop"],"default":"sequential","example":"sequential"}}},"example":{"name":"Web Research Pipeline","nodes":[{"id":"search","agent_class":"WebSearchAgent","node_type":"agent"},{"id":"scrape","agent_class":"WebScraperAgent","node_type":"agent"},{"id":"ingest","agent_class":"KnowledgeBaseAgent","node_type":"agent"}],"edges":[{"from_node":"search","to_node":"scrape","weight":1},{"from_node":"scrape","to_node":"ingest","weight":1}],"execution_type":"sequential"}}}},"responses":{"201":{"description":"Workflow created.","content":{"application/json":{"schema":{"type":"object","properties":{"workflow_id":{"type":"string","description":"Unique identifier for the created workflow.","example":"wf_research_abc123"}}},"example":{"workflow_id":"wf_research_abc123"}}}},"400":{"description":"Invalid workflow definition (e.g. cyclic graph, unknown agent class).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Cyclic dependency detected between nodes: search -> scrape -> search","code":"WORKFLOW_INVALID_GRAPH"}}}}}}},"/core/workflow/{workflow_id}/execute":{"post":{"operationId":"executeWorkflow","summary":"Execute workflow","description":"Executes a previously created workflow with the given input message and context.\nThe workflow engine processes nodes according to the execution type (sequential,\nparallel, conditional, or loop) and returns the aggregated result.\n\nEquivalent SDK call:\n```python\nresult = await workflow.execute(message, context)\n```\n","tags":["Workflows"],"parameters":[{"name":"workflow_id","in":"path","required":true,"description":"Workflow ID to execute.","schema":{"type":"string"},"example":"wf_research_abc123"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["message"],"properties":{"message":{"type":"string","description":"Input message to the first workflow node.","example":"Research the latest developments in quantum computing"},"context":{"$ref":"#/components/schemas/ExecutionContext"}}},"example":{"message":"Research the latest developments in quantum computing","context":{"session_id":"ses_abc123","conversation_id":"conv_wf_001","user_id":"user_abc123","tenant_id":"tenant_001","metadata":{"priority":"high"}}}}}},"responses":{"200":{"description":"Workflow execution result.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkflowResult"},"example":{"success":true,"messages":[{"id":"msg_wf_001","sender_id":"web_search_agent","recipient_id":"web_scraper_agent","content":"Found 5 relevant articles about quantum computing advances.","message_type":"agent_response","metadata":{"urls_found":5},"session_id":"ses_abc123","conversation_id":"conv_wf_001","timestamp":"2026-03-21T10:20:01Z"},{"id":"msg_wf_002","sender_id":"web_scraper_agent","recipient_id":"knowledge_base_agent","content":"Scraped content from 4 of 5 URLs successfully.","message_type":"agent_response","metadata":{"pages_scraped":4},"session_id":"ses_abc123","conversation_id":"conv_wf_001","timestamp":"2026-03-21T10:20:15Z"},{"id":"msg_wf_003","sender_id":"knowledge_base_agent","recipient_id":"user_abc123","content":"Ingested 4 documents into the quantum_computing knowledge base.","message_type":"agent_response","metadata":{"documents_ingested":4,"collection":"quantum_computing"},"session_id":"ses_abc123","conversation_id":"conv_wf_001","timestamp":"2026-03-21T10:20:22Z"}],"execution_time":21.5,"nodes_executed":["search","scrape","ingest"],"errors":[],"metadata":{"total_documents":4,"execution_type":"sequential"}}}}},"404":{"description":"Workflow not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"error":"Workflow not found: wf_missing_123","code":"WORKFLOW_NOT_FOUND"}}}},"500":{"description":"Workflow execution error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"JWT bearer token issued by Ambivo authentication service. Include in the\n`Authorization` header as `Bearer <token>`.\n"}},"schemas":{"AgentMessage":{"type":"object","description":"Core message object used for all agent communication. Every message has a sender,\noptional recipient, content, type, and session context. This is the fundamental\ndata structure that flows through the entire agent system.\n","required":["id","sender_id","content","message_type"],"properties":{"id":{"type":"string","description":"Unique message identifier, typically a UUID.","example":"msg_a1b2c3d4"},"sender_id":{"type":"string","description":"ID of the message sender (user ID or agent ID).","example":"user_abc123"},"recipient_id":{"type":"string","nullable":true,"description":"ID of the intended recipient. Null for broadcast messages.","example":"agent_mod_7f3a"},"content":{"type":"string","description":"The message text content.","example":"What is machine learning?"},"message_type":{"type":"string","description":"Discriminator for how the message should be processed.","enum":["user_input","agent_response","system_message","tool_call","tool_response","error","status_update"],"example":"user_input"},"metadata":{"type":"object","description":"Arbitrary key-value metadata attached to this message.","additionalProperties":true,"example":{"source":"web_ui","client_version":"2.1.0"}},"session_id":{"type":"string","nullable":true,"description":"Session ID this message belongs to.","example":"ses_abc123"},"conversation_id":{"type":"string","nullable":true,"description":"Conversation thread ID within the session.","example":"conv_001"},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of when the message was created.","example":"2026-03-21T10:05:00Z"}},"example":{"id":"msg_a1b2c3d4","sender_id":"user_abc123","recipient_id":"agent_mod_7f3a","content":"What is machine learning?","message_type":"user_input","metadata":{"source":"web_ui"},"session_id":"ses_abc123","conversation_id":"conv_001","timestamp":"2026-03-21T10:05:00Z"}},"StreamChunk":{"type":"object","description":"A single chunk in the SSE streaming protocol. Each chunk has a `type` discriminator\nthat tells the client how to handle it. Chunks arrive as JSON in the `data:` field\nof SSE frames.\n","required":["type"],"properties":{"type":{"type":"string","description":"Event type discriminator. Determines what fields are present and how the\nclient should handle this chunk.\n","enum":["stream_start","stream_chunk","stream_status","stream_complete","stream_error","stream_cancelled","keepalive"],"example":"stream_chunk"},"session_id":{"type":"string","description":"Session ID for this stream.","example":"ses_abc123"},"text":{"type":"string","description":"Incremental text content (present only for `stream_chunk` type).\nMust be appended to the buffer exactly as received -- no trimming or spacing.\n","example":"Hello, world!"},"status":{"type":"string","description":"Status text for `stream_status` events (e.g. \"Searching...\", \"Thinking...\").","example":"Searching the knowledge base..."},"answer":{"type":"string","description":"Complete final answer (present only for `stream_complete` type).","example":"Machine learning is a branch of AI that learns from data."},"error":{"type":"string","description":"Error message (present only for `stream_error` type).","example":"Provider timeout after 30 seconds"},"sub_type":{"type":"string","description":"Sub-classification of the chunk for fine-grained client handling.","enum":["content","status","result","error","metadata"],"example":"content"},"metadata":{"type":"object","description":"Additional metadata for the chunk (e.g. token counts, provider info).","additionalProperties":true,"example":{"provider":"anthropic","tokens":42}},"timestamp":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of when this chunk was generated.","example":"2026-03-21T10:05:01.234Z"}},"example":{"type":"stream_chunk","session_id":"ses_abc123","text":"Hello, world!","sub_type":"content","metadata":{},"timestamp":"2026-03-21T10:05:01.234Z"}},"ExecutionContext":{"type":"object","description":"Execution context passed to agents and workflows. Contains session identity\nand arbitrary metadata for the current operation.\n","required":["session_id","conversation_id","user_id","tenant_id"],"properties":{"session_id":{"type":"string","description":"Broader user session or application context identifier.","example":"ses_abc123"},"conversation_id":{"type":"string","description":"Specific conversation thread within the session.","example":"conv_001"},"user_id":{"type":"string","description":"Unique user identifier.","example":"user_abc123"},"tenant_id":{"type":"string","description":"Tenant identifier for multi-tenant deployments.","example":"tenant_001"},"metadata":{"type":"object","description":"Arbitrary execution metadata.","additionalProperties":true,"example":{"priority":"high","request_source":"api"}}},"example":{"session_id":"ses_abc123","conversation_id":"conv_001","user_id":"user_abc123","tenant_id":"tenant_001","metadata":{"priority":"high"}}},"AgentContext":{"type":"object","description":"Built-in context for every BaseAgent instance. Automatically created when an\nagent is instantiated via a factory method. Contains all identity information\nand can be converted to an `ExecutionContext` for operations.\n","required":["session_id","conversation_id","user_id","tenant_id","agent_id","created_at"],"properties":{"session_id":{"type":"string","description":"Session ID assigned to this agent.","example":"ses_abc123"},"conversation_id":{"type":"string","description":"Default conversation ID for this agent.","example":"conv_001"},"user_id":{"type":"string","description":"User who created this agent.","example":"user_abc123"},"tenant_id":{"type":"string","description":"Tenant this agent belongs to.","example":"tenant_001"},"agent_id":{"type":"string","description":"Unique identifier for this agent instance.","example":"agent_mod_7f3a"},"created_at":{"type":"string","format":"date-time","description":"ISO 8601 timestamp of when the agent was created.","example":"2026-03-21T10:00:00Z"},"metadata":{"type":"object","description":"Additional agent metadata that can be updated via `update_metadata()`.","additionalProperties":true,"example":{}}},"example":{"session_id":"ses_abc123","conversation_id":"conv_001","user_id":"user_abc123","tenant_id":"tenant_001","agent_id":"agent_mod_7f3a","created_at":"2026-03-21T10:00:00Z","metadata":{}}},"ProviderConfig":{"type":"object","description":"Configuration and runtime status for an LLM provider. Tracks request counts,\nerror rates, and cooldown state for automatic failover decisions.\n","required":["provider_name","priority","available"],"properties":{"provider_name":{"type":"string","description":"Provider identifier (e.g. `openai`, `anthropic`, `bedrock`).","example":"openai"},"model_name":{"type":"string","description":"The specific model used by this provider.","example":"gpt-4o"},"priority":{"type":"integer","description":"Provider priority (lower number = higher priority). Used for selection order.","minimum":1,"example":1},"available":{"type":"boolean","description":"Whether the provider is currently available for requests.","example":true},"total_requests":{"type":"integer","description":"Total number of requests made to this provider since startup.","minimum":0,"example":1542},"total_errors":{"type":"integer","description":"Total number of errors from this provider since startup.","minimum":0,"example":3},"cooldown_until":{"type":"string","format":"date-time","nullable":true,"description":"If the provider is in cooldown, this is the ISO 8601 timestamp when it becomes\navailable again. Null when the provider is not in cooldown.\n","example":null},"max_requests_per_minute":{"type":"integer","description":"Rate limit -- maximum requests per minute.","example":60},"max_requests_per_hour":{"type":"integer","description":"Rate limit -- maximum requests per hour.","example":3600},"cooldown_minutes":{"type":"integer","description":"Number of minutes a provider stays in cooldown after repeated errors.","example":5}},"example":{"provider_name":"openai","model_name":"gpt-4o","priority":1,"available":true,"total_requests":1542,"total_errors":3,"cooldown_until":null,"max_requests_per_minute":60,"max_requests_per_hour":3600,"cooldown_minutes":5}},"MemoryStats":{"type":"object","description":"Performance and usage statistics for the Redis memory manager. Tracks cache\nefficiency, operation counts, and error rates.\n","properties":{"total_operations":{"type":"integer","description":"Total number of memory operations (reads + writes) since startup.","minimum":0,"example":8450},"cache_hits":{"type":"integer","description":"Number of operations served from the local TTL cache.","minimum":0,"example":6200},"cache_misses":{"type":"integer","description":"Number of operations that required a Redis round-trip.","minimum":0,"example":2250},"error_count":{"type":"integer","description":"Number of memory operations that resulted in errors.","minimum":0,"example":5},"cache_hit_rate":{"type":"number","format":"float","description":"Cache hit rate as a percentage (0.0 - 100.0). Computed as `cache_hits / (cache_hits + cache_misses) * 100`.","minimum":0,"maximum":100,"example":73.37},"compression_savings_bytes":{"type":"integer","description":"Total bytes saved by LZ4 compression of stored messages.","minimum":0,"example":1048576},"avg_response_time_ms":{"type":"number","format":"float","description":"Average response time in milliseconds for memory operations.","example":2.3},"redis_memory_usage_bytes":{"type":"integer","description":"Current Redis memory usage in bytes for this agent's keys.","minimum":0,"example":5242880},"local_cache_size":{"type":"integer","description":"Number of entries currently in the local TTL cache.","minimum":0,"example":150}},"example":{"total_operations":8450,"cache_hits":6200,"cache_misses":2250,"error_count":5,"cache_hit_rate":73.37,"compression_savings_bytes":1048576,"avg_response_time_ms":2.3,"redis_memory_usage_bytes":5242880,"local_cache_size":150}},"WorkflowResult":{"type":"object","description":"Result of a workflow execution. Contains the success status, all messages\nproduced during execution, timing information, and any errors encountered.\n","required":["success","messages","execution_time","nodes_executed"],"properties":{"success":{"type":"boolean","description":"Whether the workflow completed without critical errors.","example":true},"messages":{"type":"array","description":"All agent messages produced during workflow execution, in chronological order.","items":{"$ref":"#/components/schemas/AgentMessage"}},"execution_time":{"type":"number","format":"float","description":"Total wall-clock execution time in seconds.","example":21.5},"nodes_executed":{"type":"array","description":"Ordered list of node IDs that were executed.","items":{"type":"string"},"example":["search","scrape","ingest"]},"errors":{"type":"array","description":"List of non-fatal error messages encountered during execution.","items":{"type":"string"},"example":[]},"metadata":{"type":"object","description":"Additional execution metadata (e.g. counts, execution type).","additionalProperties":true,"example":{"total_documents":4,"execution_type":"sequential"}}},"example":{"success":true,"messages":[{"id":"msg_wf_001","sender_id":"web_search_agent","recipient_id":"web_scraper_agent","content":"Found 5 relevant articles.","message_type":"agent_response","metadata":{"urls_found":5},"session_id":"ses_abc123","conversation_id":"conv_wf_001","timestamp":"2026-03-21T10:20:01Z"}],"execution_time":21.5,"nodes_executed":["search","scrape","ingest"],"errors":[],"metadata":{"total_documents":4,"execution_type":"sequential"}}},"ConfigSection":{"type":"object","description":"Complete configuration object representing all sections of `agent_config.yaml`.\nEach top-level key is a configuration section. Sensitive values (API keys,\npasswords) are masked when returned via the API.\n","properties":{"redis":{"type":"object","description":"Redis connection settings for the memory management system.","properties":{"host":{"type":"string","description":"Redis server hostname.","example":"redis.internal.ambivo.com"},"port":{"type":"integer","description":"Redis server port.","example":6379},"password":{"type":"string","description":"Redis authentication password (masked in API responses).","example":"****"},"db":{"type":"integer","description":"Redis database number.","example":0}},"example":{"host":"redis.internal.ambivo.com","port":6379,"password":"****","db":0}},"llm":{"type":"object","description":"LLM provider configuration including available providers and defaults.","properties":{"providers":{"type":"array","description":"List of enabled LLM provider names.","items":{"type":"string"},"example":["openai","anthropic","bedrock"]},"preferred_provider":{"type":"string","description":"Default provider to try first before failover.","example":"openai"},"temperature":{"type":"number","format":"float","description":"Default sampling temperature for LLM responses.","minimum":0,"maximum":2,"example":0.7}},"example":{"providers":["openai","anthropic","bedrock"],"preferred_provider":"openai","temperature":0.7}},"knowledge_base":{"type":"object","description":"Qdrant vector database settings for the knowledge base agent.","properties":{"qdrant_url":{"type":"string","description":"URL of the Qdrant vector database instance.","example":"http://qdrant:6333"},"vector_size":{"type":"integer","description":"Dimensionality of embedding vectors.","example":1536},"chunk_size":{"type":"integer","description":"Maximum number of tokens per text chunk for ingestion.","example":512}},"example":{"qdrant_url":"http://qdrant:6333","vector_size":1536,"chunk_size":512}},"docker":{"type":"object","description":"Docker container execution settings for sandboxed agent operations.","properties":{"shared_base_dir":{"type":"string","description":"Base directory for Docker shared volumes.","example":"./docker_shared"},"images":{"type":"object","description":"Docker image mappings for each agent type.","additionalProperties":{"type":"string"},"example":{"code_executor":"sgosain/amb-ubuntu-python-public-pod","youtube":"sgosain/amb-ubuntu-python-public-pod","media":"sgosain/amb-ubuntu-python-public-pod"}}},"example":{"shared_base_dir":"./docker_shared","images":{"code_executor":"sgosain/amb-ubuntu-python-public-pod","youtube":"sgosain/amb-ubuntu-python-public-pod"}}},"agent_capabilities":{"type":"object","description":"Feature flags to enable or disable specific agent capabilities.","properties":{"web_search":{"type":"boolean","description":"Enable web search agent.","example":true},"code_execution":{"type":"boolean","description":"Enable code execution agent (requires Docker).","example":true},"knowledge_base":{"type":"boolean","description":"Enable knowledge base agent (requires Qdrant).","example":true},"media_processing":{"type":"boolean","description":"Enable media processing agent (requires FFmpeg in Docker).","example":false},"youtube_download":{"type":"boolean","description":"Enable YouTube download agent (requires Docker).","example":true}},"example":{"web_search":true,"code_execution":true,"knowledge_base":true,"media_processing":false,"youtube_download":true}}},"example":{"redis":{"host":"redis.internal.ambivo.com","port":6379,"password":"****","db":0},"llm":{"providers":["openai","anthropic","bedrock"],"preferred_provider":"openai","temperature":0.7},"knowledge_base":{"qdrant_url":"http://qdrant:6333","vector_size":1536,"chunk_size":512},"docker":{"shared_base_dir":"./docker_shared","images":{"code_executor":"sgosain/amb-ubuntu-python-public-pod","youtube":"sgosain/amb-ubuntu-python-public-pod"}},"agent_capabilities":{"web_search":true,"code_execution":true,"knowledge_base":true,"media_processing":false,"youtube_download":true}}},"ErrorResponse":{"type":"object","description":"Standard error response returned by all endpoints on failure.","required":["error","code"],"properties":{"error":{"type":"string","description":"Human-readable error message.","example":"Agent not found"},"code":{"type":"string","description":"Machine-readable error code for programmatic handling.","example":"AGENT_NOT_FOUND"}},"example":{"error":"Agent not found","code":"AGENT_NOT_FOUND"}}}}}