{"openapi":"3.1.0","info":{"title":"Ambivo Automations API","version":"1.0.0","description":"Automation rules engine and workflow integration for Ambivo CRM.\n\n## Authentication\nAll endpoints require a Bearer JWT token in the `Authorization` header.\n\n## Response Pattern\n- **Success**: `{ \"result\": 1, ...data }`\n- **Error**: `{ \"result\": 0, \"error\": \"message\" }`\n\n## Architecture Overview\n\nEntity CRUD events flow through: Entity Service -> AutomationRulesService -> (WorkflowTriggerService OR legacy execute_action) -> automation_rules_execution_log\n\n## How It Works\n\n1. **Entity CRUD events** (lead create, contact update, etc.) trigger `evaluate_automation_rules()` asynchronously via `asyncio.create_task()`\n2. The service loads all active automation rules matching the entity type and event name\n3. For each rule:\n   - If the rule has a `workflow_id`, execution is delegated to the **AI Workflow System** via `WorkflowTriggerService`\n   - Otherwise, each action in `action_list` is evaluated against conditions (`match_criteria_dict`, `match_updated_fields_dict`) and executed if matched\n4. Every evaluation (executed or skipped) is logged to `automation_rules_execution_log`\n\n## Entity Types\n\nStandard entities: `lead`, `contact`, `account`, `opportunity`, `order`, `invoice`, `task`, `user`, `fax`, `call_incoming`, `property`\n\nCustom module entities use `is_custom_module_entity: true` with the custom collection name as `entity_type`.\n\n## Event Types\n\n| Event | Trigger | Notes |\n|---|---|---|\n| `create` | New record created | `instance_payload` = full entity data |\n| `update` | Record updated | Includes `updated_fields_dict` with before/after |\n| `delete` | Record deleted | `instance_payload` = deleted record data |\n| `background_process` | Cron schedule | Uses `cron_str`, processes batches of records |\n\n## Available Actions\n\n| Action | Description |\n|---|---|\n| `send_email` | Send email via tenant's email service |\n| `send_sms` | Send SMS via tenant's phone service |\n| `send_notification` | In-app + push notification |\n| `send_data_email` | Email with aggregated data attachment |\n| `send_data_sms` | SMS with aggregated data link |\n| `send_data_notification` | Notification with aggregated data |\n| `create_lead` | Create a new lead record |\n| `create_opportunity` | Create a new opportunity |\n| `create_appointment` | Create calendar event |\n| `create_task` | Create a task for a user |\n| `create_task_from_sequence` | Create tasks from a predefined sequence |\n| `add_to_campaign` | Add entity to marketing campaign |\n| `add_tags` | Add tags to entity record |\n| `update_record` | Update fields on the entity |\n| `call_api` | HTTP call to external API |\n| `create_payment_intent` | Create Stripe payment intent |\n| `create_invoice_intuit` | Create invoice in QuickBooks |\n| `store_response_as_pdf` | Convert entity data to PDF |\n| `sync_to_sparkapt` | Sync contact to SparkAPT |\n| `paypal_payment_received` | Process PayPal webhook event |\n| `create_insurance_policy` | Create insurance policy record |\n\n## Condition System\n\nEach action supports two independent condition types (AND logic):\n\n**`match_criteria_dict`** \u2014 MongoDB query operators against current entity state:\n```json\n{\"$and\": [{\"lead_status\": {\"$eq\": \"open\"}}, {\"amount\": {\"$gte\": 1000}}]}\n```\nSupported operators: `$eq`, `$ne`, `$gt`, `$lt`, `$gte`, `$lte`, `$in`, `$nin`, `$regex`, `$exists`, `$or`, `$and`, `$nor`\n\n**`match_updated_fields_dict`** \u2014 Field change matching (update events only):\n```json\n{\"lead_status\": {\"before\": \"*\", \"after\": \"assigned\"}}\n```\n`\"*\"` = wildcard (any value). All fields must match (AND logic).\n\n## Template Variables\n\nAction `args_payload` fields support `{{variable}}` interpolation:\n- **Entity fields**: `{{first_name}}`, `{{email}}`, `{{phone}}`, `{{status}}`\n- **Tenant context**: `{{tenant_name}}`, `{{tenant_id}}`, `{{current_ts}}`\n- **Nested access**: `{{product_dict_list.0.renewal_date}}`\n\n## Initial Delay\n\nActions can be delayed via `initial_delay` (seconds):\n- `0` = immediate execution\n- `> 60` = scheduled as background job via `tenant_scheduled_task`\n- Supports expressions: `\"n_minutes|5|5 * 60\"`, `\"expr({{appointment_ts}} - {{current_ts}} - 3600)\"`\n\n## AI-Powered Generation\n\nNatural language automation generation is available via the [Autonomous Agents API](/docs/autonomous-agents):\n- `POST /agent/automation/generate` \u2014 Convert description to automation rules\n- `POST /agent/automation/refine` \u2014 Modify rules via feedback\n- `POST /agent/automation/explain` \u2014 Get plain English explanation\n"},"servers":[{"url":"https://ingress.ambivo.com","description":"Production"},{"url":"http://localhost:9000","description":"Local development"}],"tags":[{"name":"Automation Rules","description":"CRUD operations for automation rules"},{"name":"Execution Log","description":"Automation execution history and audit trail"},{"name":"Workflow Integration","description":"Bridge between automation rules and the AI Workflow System"},{"name":"Simulation","description":"Test automation rules without executing actions"},{"name":"Background Processes","description":"Cron-based scheduled automation execution"},{"name":"Smart Task Agent","description":"Natural language task management via SmartTaskAgent.\nCreate, list, update, assign, complete, and delete tasks through conversational chat.\nUses `/user_tasks` REST API internally.\n"},{"name":"Smart Data Import Agent","description":"Conversational CSV data import via SmartDataImportAgent.\nMulti-turn workflow: entity type selection \u2192 CSV fetch \u2192 auto field mapping \u2192 review \u2192 submit.\nUses `/user/data_import/manage` internally.\n"},{"name":"Smart E-Sign Agent","description":"Natural language e-signature operations via SmartESignAgent.\nManage contract templates, send for signature, track status, generate signing links, download evidence.\n"},{"name":"Smart Research Agent","description":"Lead/company enrichment and topic research via SmartResearchAgent.\nAsync workflow (~15 min) via vectordbapi `/pgv/research` pipeline.\n"}],"paths":{"/user/automations":{"get":{"operationId":"listAutomationRules","tags":["Automation Rules"],"summary":"List automation rules","description":"Retrieve automation rules for the authenticated user's tenant.\nSupports pagination, filtering, sorting, and text search.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"page_size","in":"query","schema":{"type":"integer","default":25},"description":"Number of records per page"},{"name":"page_num","in":"query","schema":{"type":"integer","default":1},"description":"Page number (1-based)"},{"name":"get_count","in":"query","schema":{"type":"boolean","default":false},"description":"Include total count in response"},{"name":"sort_dict","in":"query","schema":{"type":"string"},"description":"JSON sort specification, e.g. `{\"created_ts\": -1}`"},{"name":"match_filter_dict","in":"query","schema":{"type":"string"},"description":"JSON MongoDB filter, e.g. `{\"entity_type\": \"lead\", \"is_active\": true}`"},{"name":"search_text","in":"query","schema":{"type":"string"},"description":"Free-text search across rule descriptions"}],"responses":{"200":{"description":"List of automation rules","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"automation_rules":{"type":"array","items":{"$ref":"#/components/schemas/AutomationRule"}},"count":{"type":"integer","description":"Total count (when `get_count=true`)"}}},"example":{"result":1,"automation_rules":[{"_id":"65eb697c9d9544634789bd40","entity_type":"lead","event_name":"create","is_active":true,"description":"When a lead is created, add to campaign","action_list":[{"action":"add_to_campaign","args_payload":{"campaign_id":"65eb6803aeac5f678808b105"}}]}],"count":44}}}}}},"post":{"operationId":"createAutomationRule","tags":["Automation Rules"],"summary":"Create an automation rule","description":"Create a new automation rule. The rule will be evaluated whenever a matching\nentity event occurs.\n\nThis endpoint also supports two special actions via the `action` field:\n- `\"simulate\"` \u2014 Test rules against sample data without executing (see Simulation tag)\n- `\"execute_background_process\"` \u2014 Manually trigger a background process rule (see Background Processes tag)\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/CreateAutomationRuleRequest"},{"$ref":"#/components/schemas/SimulateRequest"},{"$ref":"#/components/schemas/ExecuteBackgroundProcessRequest"}]},"examples":{"create_rule":{"summary":"Create a lead notification rule","value":{"entity_type":"lead","event_name":"create","is_active":true,"description":"Send SMS when a lead is created","action_list":[{"action":"send_sms","level":"tenant","data_level":"single","initial_delay":0,"match_criteria_dict":{},"match_updated_fields_dict":{},"args_payload":{"from_number":"+16159005100","to_number":"{{phone}}","text":"Hi {{first_name}}, thanks for your interest!"}}]}},"simulate":{"summary":"Simulate rule evaluation","value":{"action":"simulate","entity_type":"lead","event_name":"create","is_custom_module_entity":false,"instance_payload":{"first_name":"John","last_name":"Doe","email":"john@example.com","lead_status":"open"},"updated_fields_dict":{}}},"background_process":{"summary":"Trigger background process","value":{"action":"execute_background_process","id":"65eb697c9d9544634789bd40"}}}}}},"responses":{"200":{"description":"Rule created or action result","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer"},"automation_rule_id":{"type":"string","description":"ID of the created rule (create action)"},"evaluation_result":{"type":"object","description":"Simulation results (simulate action)"}}},"examples":{"created":{"summary":"Rule created","value":{"result":1,"automation_rule_id":"65eb697c9d9544634789bd40"}},"simulated":{"summary":"Simulation result","value":{"result":1,"evaluation_result":{"rules_evaluated":3,"actions_matched":2,"actions_skipped":1,"details":[]}}}}}}}}},"patch":{"operationId":"updateAutomationRule","tags":["Automation Rules"],"summary":"Update an automation rule","description":"Update an existing automation rule. Only the fields provided in `payload` are updated.\n\nCommon use cases:\n- Toggle `is_active` to enable/disable a rule\n- Update `action_list` to change actions or conditions\n- Set `workflow_id` to delegate execution to the AI Workflow System\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["automation_rule_id","payload"],"properties":{"automation_rule_id":{"type":"string","description":"ID of the rule to update"},"payload":{"type":"object","description":"Fields to update"}}},"examples":{"disable_rule":{"summary":"Disable a rule","value":{"automation_rule_id":"65eb697c9d9544634789bd40","payload":{"is_active":false}}},"link_workflow":{"summary":"Link rule to AI Workflow System","value":{"automation_rule_id":"65eb697c9d9544634789bd40","payload":{"workflow_id":"abc-123-workflow-id"}}},"update_actions":{"summary":"Update action list","value":{"automation_rule_id":"65eb697c9d9544634789bd40","payload":{"action_list":[{"action":"send_email","level":"tenant","data_level":"single","initial_delay":0,"match_criteria_dict":{},"match_updated_fields_dict":{},"args_payload":{"sender_name":"{{tenant_name}}","sender_email":"noreply@ambivo.com","message_subject":"New Lead: {{first_name}} {{last_name}}","message_body":"<p>A new lead has been created.</p>","to_list":["manager@company.com"]}}]}}}}}}},"responses":{"200":{"description":"Rule updated","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1}}}}}}}},"delete":{"operationId":"deleteAutomationRule","tags":["Automation Rules"],"summary":"Delete automation rules","description":"Delete one or multiple automation rules.\n\n- `action: \"delete\"` with `automation_rule_id` \u2014 delete a single rule\n- `action: \"delete_many\"` with `automation_rule_ids` \u2014 delete multiple rules\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"type":"object","required":["action","automation_rule_id"],"properties":{"action":{"type":"string","enum":["delete"]},"automation_rule_id":{"type":"string"}}},{"type":"object","required":["action","automation_rule_ids"],"properties":{"action":{"type":"string","enum":["delete_many"]},"automation_rule_ids":{"type":"array","items":{"type":"string"}}}}]},"examples":{"delete_one":{"summary":"Delete a single rule","value":{"action":"delete","automation_rule_id":"65eb697c9d9544634789bd40"}},"delete_many":{"summary":"Delete multiple rules","value":{"action":"delete_many","automation_rule_ids":["65eb697c9d9544634789bd40","65eb697c9d9544634789bd41"]}}}}}},"responses":{"200":{"description":"Rules deleted","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1}}}}}}}}},"/agent/workflow/trigger":{"post":{"operationId":"triggerWorkflow","tags":["Workflow Integration"],"summary":"Trigger a workflow execution","description":"Trigger a workflow in the AI Workflow System from within ambivo_api.\nUsed by agents and internal services to start workflow executions with entity context.\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["workflow_id"],"properties":{"workflow_id":{"type":"string","description":"ID of the workflow to trigger"},"context":{"type":"object","description":"Context data passed to the workflow","properties":{"entity_type":{"type":"string"},"entity_id":{"type":"string"},"agent_action":{"type":"string"}},"additionalProperties":true},"initial_delay":{"type":"integer","default":0,"description":"Seconds to delay before execution (0 = immediate)"}}},"example":{"workflow_id":"workflow_123","context":{"entity_type":"lead","entity_id":"lead_456","agent_action":"qualify_lead"},"initial_delay":0}}}},"responses":{"200":{"description":"Workflow triggered","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer"},"workflow_instance_id":{"type":"string"},"status":{"type":"string"}}},"example":{"result":1,"workflow_instance_id":"exec_789","status":"started"}}}}}}},"/agent/workflow/callback":{"post":{"operationId":"workflowCallback","tags":["Workflow Integration"],"summary":"Workflow completion callback","description":"Receive a callback when a workflow execution completes.\nData is stored in Redis with a 1-hour TTL and published to the\n`agent_events:{callback_session_id}` Redis channel.\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["callback_session_id"],"properties":{"callback_session_id":{"type":"string","description":"Session ID matching the original trigger request"},"workflow_result":{"type":"object","description":"Result data from workflow execution"},"status":{"type":"string","enum":["completed","failed","pending"],"default":"completed"}}},"example":{"callback_session_id":"uuid-12345","workflow_result":{"lead_score":85,"recommendation":"high_priority"},"status":"completed"}}}},"responses":{"200":{"description":"Callback processed","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"message":{"type":"string","example":"Callback processed"}}}}}}}}},"/user/automations/log":{"get":{"operationId":"getAutomationExecutionLog","tags":["Execution Log"],"summary":"Get automation execution log","description":"Retrieve the execution history of automation rules. Results are grouped by\n`event_execution_thread_id` so all actions from a single rule evaluation\nappear together.\n\nEach log entry records whether the action was executed or skipped, the match\ncriteria result, any errors, and the response payload.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"page_size","in":"query","schema":{"type":"integer","default":25}},{"name":"page_num","in":"query","schema":{"type":"integer","default":1}},{"name":"sort_dict","in":"query","schema":{"type":"string"},"description":"JSON sort, e.g. `{\"ts\": -1}`"},{"name":"match_filter_dict","in":"query","schema":{"type":"string"},"description":"JSON filter, e.g. `{\"automation_rule_id\": \"xxx\"}`"}],"responses":{"200":{"description":"Execution log entries","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"execution_log":{"type":"array","items":{"$ref":"#/components/schemas/ExecutionLogEntry"}}}},"examples":{"executed_action":{"summary":"Successfully executed action","value":{"result":1,"execution_log":[{"ts":1772769483,"action_name":"create_task","action_args":{"userid":"6356c6b48770d7b56663c32e","priority":2},"result":1,"executed":true,"error":false,"event_execution_thread_id":"lead_create_1772769483000_2d2e6631","automation_rule_id":"69696b64a151ea4f0ceaccef","initial_delay":0}]}},"skipped_action":{"summary":"Skipped action (criteria not matched)","value":{"result":1,"execution_log":[{"ts":1772769483,"action":"send_sms","executed":false,"error":false,"match_declined_reason":"Match Criteria: No match","message":"action ignored as no criteria match!","event_execution_thread_id":"lead_create_1772769483000_2d2e6631"}]}}}}}}}}},"/agent/chat/direct":{"post":{"operationId":"agentChatDirect","tags":["Smart Task Agent","Smart Data Import Agent","Smart E-Sign Agent","Smart Research Agent"],"summary":"Chat directly with a specific smart agent","description":"Bypasses the supervisor routing and sends a message directly to a named agent.\nSupports multi-turn conversations via `session_id` (Redis-backed memory).\n\nAvailable agent types:\n- `SmartTaskAgent` \u2014 Task management (create, list, update, assign, complete, delete)\n- `SmartDataImportAgent` \u2014 CSV data import (multi-step: entity type \u2192 CSV \u2192 map \u2192 submit)\n- `SmartESignAgent` \u2014 E-signature operations (templates, send, status, signing links)\n- `SmartResearchAgent` \u2014 Lead/company enrichment and topic research (~15 min async)\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentChatRequest"},"examples":{"task_list":{"summary":"List tasks","value":{"agent_type":"SmartTaskAgent","message":"Show my open tasks","session_id":"sess_001"}},"task_create":{"summary":"Create a task","value":{"agent_type":"SmartTaskAgent","message":"Create a task to call back John Doe, due tomorrow, high priority","session_id":"sess_001"}},"import_start":{"summary":"Start CSV import","value":{"agent_type":"SmartDataImportAgent","message":"Import accounts from CSV https://example.com/data.csv, map phone_number to phone_list","session_id":"sess_002"}},"import_confirm":{"summary":"Confirm import mapping","value":{"agent_type":"SmartDataImportAgent","message":"Looks good, submit it","session_id":"sess_002"}},"esign_send":{"summary":"Send a contract for signature","value":{"agent_type":"SmartESignAgent","message":"Send the NDA template to alex@acme.com","session_id":"sess_003"}},"esign_status":{"summary":"Check signing status","value":{"agent_type":"SmartESignAgent","message":"What's pending signature?","session_id":"sess_003"}},"research_person":{"summary":"Research a prospect","value":{"agent_type":"SmartResearchAgent","message":"Research John Smith at Coca Cola","session_id":"sess_004"}},"research_status":{"summary":"Check research status","value":{"agent_type":"SmartResearchAgent","message":"Check status of research abc123-def456","session_id":"sess_004"}}}}}},"responses":{"200":{"description":"Agent response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AgentChatResponse"}}}}}}},"/user_tasks":{"get":{"operationId":"listUserTasks","tags":["Smart Task Agent"],"summary":"List tasks (paginated)","description":"List tasks with pagination, filters, sorting, and text search.\nCalled internally by SmartTaskAgent for `list_tasks` action.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"page_size","in":"query","schema":{"type":"integer","default":50,"maximum":500},"description":"Items per page"},{"name":"page_num","in":"query","schema":{"type":"integer","default":1},"description":"Page number (1-based)"},{"name":"filters","in":"query","schema":{"type":"string"},"description":"JSON filter object, e.g. `{\"status\": \"assigned\", \"priority\": 1}`"},{"name":"sort_dict","in":"query","schema":{"type":"string"},"description":"JSON sort spec, e.g. `{\"due_date\": -1}`"},{"name":"search_query","in":"query","schema":{"type":"string"},"description":"Search in name/description"}],"responses":{"200":{"description":"Paginated task list","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserTask"}},"total_count":{"type":"integer"},"page_size":{"type":"integer"},"page_num":{"type":"integer"}}}}}}}},"post":{"operationId":"createUserTask","tags":["Smart Task Agent"],"summary":"Create task(s)","description":"Create a single task or bulk-create an array of tasks.","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/UserTaskCreate"},{"type":"array","items":{"$ref":"#/components/schemas/UserTaskCreate"}}]}}}},"responses":{"200":{"description":"Created task","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"data":{"type":"object"},"message":{"type":"string"}}}}}}}},"patch":{"operationId":"updateUserTask","tags":["Smart Task Agent"],"summary":"Update a task","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserTaskUpdate"}}}},"responses":{"200":{"description":"Updated task","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"data":{"type":"object"}}}}}}}},"delete":{"operationId":"deleteUserTasks","tags":["Smart Task Agent"],"summary":"Batch delete tasks","security":[{"bearerAuth":[]}],"parameters":[{"name":"task_ids","in":"query","required":true,"schema":{"type":"string"},"description":"JSON array of task IDs, e.g. `[\"60abc...\",\"60def...\"]`"}],"responses":{"200":{"description":"Deletion result","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"message":{"type":"string"}}}}}}}}},"/user_tasks/search":{"get":{"operationId":"searchUserTasks","tags":["Smart Task Agent"],"summary":"Search tasks by keyword","security":[{"bearerAuth":[]}],"parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"},"description":"Search text (matched against name and description)"},{"name":"filters","in":"query","schema":{"type":"string"},"description":"Optional JSON filter object"}],"responses":{"200":{"description":"Matching tasks","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserTask"}}}}}}}}}},"/user_tasks/{task_id}":{"get":{"operationId":"getUserTaskById","tags":["Smart Task Agent"],"summary":"Get task by ID","security":[{"bearerAuth":[]}],"parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","pattern":"^[a-fA-F0-9]{24}$"}}],"responses":{"200":{"description":"Task details","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"data":{"$ref":"#/components/schemas/UserTask"}}}}}}}}},"/user/data_import/manage":{"post":{"operationId":"manageDataImport","tags":["Smart Data Import Agent"],"summary":"Create, submit, or execute a data import job","description":"Unified data import endpoint. Supports three actions:\n- `add` \u2014 Create a draft import job\n- `submit` \u2014 Execute a previously created job\n- `import` \u2014 Shorthand for add + auto-execute\n\nSmartDataImportAgent calls this with `action: \"import\"` after field mapping.\n\nProcessing modes:\n- \u226430 records: synchronous\n- 31\u20133,000 records: async (Celery)\n- >3,000 records: batch (Celery, 2K-record chunks)\n","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataImportRequest"},"examples":{"import_accounts":{"summary":"Import accounts with field mapping","value":{"action":"import","payload":{"raw_import_list":[{"name":"Acme Corp","industry":"Manufacturing","web_site":"https://acmecorp.com","phone_number":"555-123-4567"}],"entity_type":"account","field_mappings_dict":{"name":"name","industry":"industry","website":"web_site","phone_list":"phone_number"},"import_name":"Account Import Q2","import_file_url":"https://example.com/data.csv"}}}}}}},"responses":{"200":{"description":"Import job result","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DataImportResponse"}}}}}}},"/entity/status-values":{"get":{"operationId":"getEntityStatusValues","tags":["Smart Data Import Agent"],"summary":"Get valid status/stage values for entity types","description":"Returns the list of acceptable status or stage values for one or all entity types.\nUsed by SmartDataImportAgent to validate imported data before submission.\nInvalid values default to `\"open\"` (status entities) or `\"draft\"` (stage entities).\n\nResponse also includes a `stages` field (and the alias `values_meta`)\nwith per-entry metadata (`label / color / is_seeded / is_overridden /\nposition / entity_custom_stage_id?`); see the CRM spec\n(`ambivo-crm.openapi.yaml -> GET /entity/status-values`) for the full\ncontract including tenant override semantics.\n","security":[{"bearerAuth":[]}],"parameters":[{"name":"entity_type","in":"query","schema":{"type":"string"},"description":"Specific entity type (omit for all types)"}],"responses":{"200":{"description":"Status/stage values","content":{"application/json":{"example":{"result":1,"data":{"lead":{"field_name":"status","values":["open","assigned","attempted","contacted","meeting-setup","disqualified","incorrect"]},"opportunity":{"field_name":"stage","values":["prospecting","discovery","developing","negotiation_review","contract_pending","closed_won","closed_lost"]},"order":{"field_name":"stage","values":["draft","open","fulfilled","pending_fulfillment","invoiced","paid","cancelled"]}}}}}}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"AgentChatRequest":{"type":"object","required":["agent_type","message"],"properties":{"agent_type":{"type":"string","enum":["SmartTaskAgent","SmartDataImportAgent","SmartESignAgent","SmartResearchAgent"],"description":"Which smart agent to invoke"},"message":{"type":"string","description":"Natural language instruction"},"session_id":{"type":"string","description":"Session ID for multi-turn conversation memory (Redis-backed)"},"tenant_scope":{"type":"boolean","default":false,"description":"If true, query across all tenant users (admin only)"}}},"AgentChatResponse":{"type":"object","properties":{"result":{"type":"integer","description":"1 = success, 0 = error"},"natural_language_summary":{"type":"string","description":"Human-readable response text"},"response":{"type":"string","description":"Alias of natural_language_summary"},"entity_type":{"type":"string","description":"Agent entity type (task, data_import, esign, research)"},"query_type":{"type":"string","enum":["action","list","single","aggregate"]},"count":{"type":"integer"},"total_count":{"type":"integer"},"session_id":{"type":"string"},"processing_time_ms":{"type":"integer"},"decision":{"type":"object","description":"LLM decision metadata (action, confidence, reasoning, parameters)","properties":{"action":{"type":"string"},"confidence":{"type":"number"},"reasoning":{"type":"string"},"parameters":{"type":"object"}}},"data":{"description":"Result data (array for list, object for single)"},"status":{"type":"string","enum":["complete","more-info-needed","error"],"description":"Conversation state \u2014 `more-info-needed` indicates follow-up questions"},"questions":{"type":"array","description":"Follow-up questions when status is more-info-needed","items":{"type":"object","properties":{"id":{"type":"string"},"question":{"type":"string"},"options":{"type":"array","items":{"type":"string"}},"required":{"type":"boolean"}}}},"follow_up_actions":{"type":"array","items":{"type":"string"},"description":"Suggested next actions for the client"}}},"UserTask":{"type":"object","properties":{"user_task_id":{"type":"string","description":"24-char hex ObjectId"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string","enum":["assigned","in-progress","rejected","reviewsubmit","reviewpass","completed"]},"priority":{"type":"integer","enum":[1,2,3,4],"description":"1=Critical, 2=High, 3=Medium, 4=Low"},"due_date":{"type":"integer","description":"Unix timestamp"},"userid":{"type":"string","description":"Assigned user ID"},"action":{"type":"string","enum":["general","call","email","text","postcard","support-request","ambivo-support","work-order","attend-meeting","renewal-reminder"]},"action_data":{"type":"string","description":"Phone, email, or address for the action"},"subject_type":{"type":"string","enum":["lead","property","contact","opportunity","entity_list","account","none"],"description":"CRM entity type this task is about"},"subject":{"type":"string","description":"_id of the linked CRM entity"},"is_completed":{"type":"boolean"},"completed_date":{"type":"integer"},"tags":{"type":"array","items":{"type":"string"}},"is_starred":{"type":"boolean"},"cal_event_id":{"type":"string","description":"Google/Microsoft calendar event ID"},"cal_html_link":{"type":"string","description":"Direct URL to calendar appointment"},"cal_provider":{"type":"string","enum":["google","microsoft",""]},"project_id":{"type":"string"},"project_name":{"type":"string"},"tenant_id":{"type":"string"},"timestamp":{"type":"integer"}}},"UserTaskCreate":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"description":{"type":"string","default":""},"due_date":{"type":"integer","description":"Unix timestamp"},"priority":{"type":"integer","default":2},"action":{"type":"string","default":"general"},"action_data":{"type":"string","default":""},"subject_type":{"type":"string","default":"none"},"subject":{"type":"string"},"tags":{"type":"array","items":{"type":"string"}}}},"UserTaskUpdate":{"type":"object","required":["user_task_id"],"properties":{"user_task_id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"priority":{"type":"integer"},"due_date":{"type":"integer"},"action":{"type":"string"},"action_data":{"type":"string"},"is_completed":{"type":"boolean"},"completed_date":{"type":"integer"}}},"DataImportRequest":{"type":"object","properties":{"action":{"type":"string","enum":["add","submit","import"],"default":"import"},"id":{"type":"string","description":"Import log ID (for submit action)"},"payload":{"type":"object","properties":{"raw_import_list":{"type":"array","items":{"type":"object"},"description":"Array of raw CSV rows as JSON objects"},"entity_type":{"type":"string","description":"The full list is `IMPORTABLE_ENTITY_TYPES` in Core `service/import_key_flows.py`; any other built-in type is refused with `ENTITY_TYPE_NOT_IMPORTABLE`. `invoice` creates invoices (until 2026-09-26 it created orders) and is never sent to Stripe. `bill` creates vendor bills through the same writer as `POST /user/bill/manage`.","enum":["lead","contact","account","opportunity","order","campaign_member","invoice","bill"]},"field_mappings_dict":{"type":"object","description":"Map entity fields \u2192 CSV column names, e.g. `{\"first_name\": \"First Name\"}`. For `invoice` and `bill`, map `line_<key>` fields (`line_description`, `line_qty`, `line_unit_price`, `line_amount`, `line_product_name`) and each row becomes a line."},"line_group_config":{"type":"object","description":"`{enabled, group_by}`. Rows that share a key become one record with all their lines. The key for `invoice` is `invoice_num`; for `bill`, `bill_number`."},"defaults":{"type":"object","description":"`account` only. A value for every blank cell of a field, e.g. `{\"relationship_type\": \"vendor\"}` so a vendor list is not saved as customers. camelCase keys are accepted. Refused with `INVALID_IMPORT_OPTION` for a bad value."},"on_duplicate":{"type":"string","enum":["skip","create"],"default":"skip","description":"`account` only. `skip`: a company whose email is already on file is left out, with a warning naming it; a run where every row is on file completes. `create`: a second company tagged \"duplicate email\"."},"opening_balance":{"type":"boolean","default":false,"description":"`invoice` and `bill` only. The documents are already in the opening trial balance, so Books never posts them. Each is saved open (invoice) or pending (bill), with `books_accounting_status: not_required` and `is_opening_balance: true`; a row in any other stage is refused. Aging and payments still see them."},"import_name":{"type":"string"},"import_file_url":{"type":"string"},"create_list":{"type":"boolean","default":false},"collection_id":{"type":"string","description":"Custom module collection ID"}}}}},"DataImportResponse":{"type":"object","properties":{"result":{"type":"integer"},"import_id":{"type":"string","description":"Import log ID for tracking"},"records_submitted":{"type":"integer"},"execution_mode":{"type":"string","enum":["sync","celery","batch_celery"]},"auto_launched":{"type":"boolean"},"msg":{"type":"string"}}},"AutomationRule":{"type":"object","description":"An automation rule definition","properties":{"_id":{"type":"string","description":"MongoDB ObjectId"},"entity_type":{"type":"string","description":"Target entity type","enum":["lead","contact","account","opportunity","order","invoice","task","user","fax","call_incoming","property"],"example":"lead"},"event_name":{"type":"string","enum":["create","update","delete","background_process"],"description":"Event that triggers this rule"},"tenant_id":{"type":"string"},"is_active":{"type":"boolean","description":"Only active rules are evaluated"},"is_custom_module_entity":{"type":"boolean","description":"`true` for custom module entities","default":false},"level":{"type":"string","enum":["tenant","user","mixed"],"description":"Scope level (auto-computed from action levels)"},"description":{"type":"string","description":"Human-readable rule description"},"cron_str":{"type":"string","description":"Cron expression for `background_process` rules (e.g., `0 0 */1 * *`)","example":"0 0 */1 * *"},"effective_ts":{"type":"number","description":"Epoch timestamp of last background_process run"},"next_ts":{"type":"number","description":"Next scheduled run time"},"workflow_id":{"type":"string","description":"If set, delegates to AI Workflow System instead of legacy actions"},"action_list":{"type":"array","items":{"$ref":"#/components/schemas/ActionDefinition"}},"action_explanation_str":{"type":"string","description":"Auto-generated English explanation of the rule's actions"},"access_dict":{"type":"object","description":"Access control settings"},"meta":{"type":"object","description":"Arbitrary metadata"},"custom_form_dict":{"type":"object","description":"Custom form configuration"},"created_ts":{"type":"number","description":"Creation timestamp (epoch)"},"updated_ts":{"type":"number","description":"Last update timestamp (epoch)"},"created_by_userid":{"type":"string"},"updated_by_userid":{"type":"string"}}},"ActionDefinition":{"type":"object","description":"A single action within an automation rule","properties":{"action_id":{"type":"string","format":"uuid","description":"Unique identifier for this action"},"action":{"type":"string","description":"Action type to execute","enum":["send_email","send_sms","send_notification","send_data_email","send_data_sms","send_data_notification","create_lead","create_opportunity","create_appointment","create_task","create_task_from_sequence","add_to_campaign","add_tags","update_record","call_api","create_payment_intent","create_invoice_intuit","store_response_as_pdf","sync_to_sparkapt","paypal_payment_received","create_insurance_policy"]},"level":{"type":"string","enum":["tenant","user"],"description":"Execution scope"},"data_level":{"type":"string","enum":["single","aggregate"],"description":"`single` = per-record, `aggregate` = grouped data","default":"single"},"initial_delay":{"oneOf":[{"type":"integer"},{"type":"string"}],"description":"Delay before execution (seconds). Formats:\n- `0` = immediate\n- `300` = 5 minute delay\n- `\"n_minutes|5|5 * 60\"` = pipe-delimited (label|value|expression)\n- `\"expr({{appointment_ts}} - {{current_ts}} - 3600)\"` = dynamic expression\n","default":0},"override_args_payload":{"type":"boolean","description":"Override default payload interpolation","default":false},"match_criteria_dict":{"type":"object","description":"MongoDB query filter evaluated against current entity state.\nSupports `$eq`, `$ne`, `$gt`, `$lt`, `$gte`, `$lte`, `$in`, `$nin`, `$regex`, `$exists`, `$or`, `$and`, `$nor`.\n","example":{"$and":[{"lead_status":{"$eq":"open"}},{"amount":{"$gte":1000}}]}},"match_updated_fields_dict":{"type":"object","description":"Field change conditions (update events only). Each field specifies\nrequired before/after values. `\"*\"` = wildcard (any value).\nAll fields must match (AND logic).\n","example":{"lead_status":{"before":"*","after":"assigned"}}},"filter":{"type":"object","description":"UI-friendly filter representation","properties":{"logic":{"type":"string","enum":["and","or"]},"conditions":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"type":{"type":"string"},"operator":{"type":"string"},"value":{}}}}}},"args_payload":{"type":"object","description":"Action-specific arguments. Supports `{{variable}}` template interpolation.\nSee action-specific schemas below.\n"},"cta_link":{"type":"object","description":"Call-to-action link configuration"}}},"SendEmailArgs":{"type":"object","description":"`args_payload` for `send_email` action","properties":{"sender_name":{"type":"string","example":"{{tenant_name}}"},"sender_email":{"type":"string","format":"email","example":"noreply@ambivo.com"},"message_subject":{"type":"string","example":"New Lead: {{first_name}} {{last_name}}"},"message_body":{"type":"string","description":"HTML email body","example":"<p>A new lead has been created.</p>"},"to_list":{"type":"array","items":{"type":"string"},"example":["manager@company.com","{{email}}"]}}},"SendSmsArgs":{"type":"object","description":"`args_payload` for `send_sms` action","properties":{"from_number":{"type":"string","example":"+16159005100"},"to_number":{"type":"string","example":"{{phone}}"},"text":{"type":"string","example":"Hi {{first_name}}, thanks for your interest!"}}},"CallApiArgs":{"type":"object","description":"`args_payload` for `call_api` action.\nURL must pass `is_acceptable_host()` validation (private IPs, localhost, and certain domains are blocked).\n","properties":{"url":{"type":"string","format":"uri","description":"Target URL (must pass host validation)"},"method":{"type":"string","enum":["GET","POST","PUT","PATCH","DELETE"],"default":"POST"},"payload":{"type":"object","description":"Request body"},"headers":{"type":"object","description":"Custom headers"},"q_params":{"type":"object","description":"Query parameters"}}},"CreateTaskArgs":{"type":"object","description":"`args_payload` for `create_task` action","properties":{"userid":{"type":"string","description":"User to assign the task to"},"priority":{"type":"integer","enum":[1,2,3],"description":"1=High, 2=Medium, 3=Low"},"task_name":{"type":"string"},"description":{"type":"string"},"due_date_offset_minutes":{"type":"integer","description":"Due date as offset from current time (minutes)"}}},"AddToCampaignArgs":{"type":"object","description":"`args_payload` for `add_to_campaign` action","properties":{"campaign_id":{"type":"string","description":"Target campaign ID"},"first_name":{"type":"string","example":"{{first_name}}"},"last_name":{"type":"string","example":"{{last_name}}"},"email":{"type":"string","example":"{{email}}"},"phone":{"type":"string","example":"{{phone}}"}}},"UpdateRecordArgs":{"type":"object","description":"`args_payload` for `update_record` action","properties":{"update_field":{"type":"string","description":"Field name to update"},"update_value":{"description":"New value (string, number, or dict for multiple fields)"}}},"CreateAppointmentArgs":{"type":"object","description":"`args_payload` for `create_appointment` action","properties":{"event_name":{"type":"string"},"description":{"type":"string"},"to_list":{"type":"array","items":{"type":"string"}},"start_date_time":{"type":"string"},"end_date_time":{"type":"string"},"time_zone":{"type":"string"},"userid":{"type":"string"}}},"ExecutionLogEntry":{"type":"object","description":"A single execution log entry","properties":{"ts":{"type":"number","description":"Timestamp (epoch)"},"action_name":{"type":"string","description":"Action that was evaluated"},"action_args":{"type":"object","description":"Interpolated action arguments"},"result":{"type":"integer","description":"1=success, 2=failure"},"resp_payload":{"type":"object","description":"Response from action execution"},"executed":{"type":"boolean","description":"Whether the action was actually executed"},"error":{"type":"boolean","description":"Whether an error occurred"},"event_execution_thread_id":{"type":"string","description":"Groups all actions from one rule evaluation. Format: `{entity_type}_{event_name}_{epoch_ms}_{uuid_hex8}`","example":"lead_create_1772769483000_2d2e6631"},"automation_rule_id":{"type":"string"},"tenant_id":{"type":"string"},"userid":{"type":"string"},"match_criteria_dict":{"type":"object"},"match_updated_fields_dict":{"type":"object"},"updated_fields_dict":{"type":"object","description":"Actual fields that were updated (for update events)"},"match_declined_reason":{"type":"string","description":"Reason the action was skipped (when `executed=false`)"},"initial_delay":{"type":"integer"},"tenant_scheduled_task_id":{"type":"string","description":"ID of scheduled task (when delayed)"},"action_id":{"type":"string","format":"uuid"},"entity_updated_id":{"type":"string","description":"ID of the entity that triggered the evaluation"},"interpolated_instance_payload":{"type":"object","description":"Entity data after interpolation"},"delegated_to_workflow":{"type":"boolean","description":"`true` when execution was delegated to AI Workflow System"},"workflow_id":{"type":"string","description":"Workflow ID (when delegated)"},"execution_id":{"type":"string","description":"Workflow execution ID (when delegated)"},"created_date":{"type":"string","format":"date-time"}}},"CreateAutomationRuleRequest":{"type":"object","required":["entity_type","event_name","action_list"],"properties":{"entity_type":{"type":"string","description":"Target entity type"},"event_name":{"type":"string","enum":["create","update","delete","background_process"]},"is_active":{"type":"boolean","default":true},"is_custom_module_entity":{"type":"boolean","default":false},"description":{"type":"string"},"cron_str":{"type":"string","description":"Required for `background_process` event_name"},"workflow_id":{"type":"string","description":"Link to AI Workflow System (skips legacy actions)"},"action_list":{"type":"array","items":{"$ref":"#/components/schemas/ActionDefinition"}}}},"SimulateRequest":{"type":"object","required":["action","entity_type","event_name","instance_payload"],"description":"Test automation rules against sample data without executing actions.\nUseful for validating rule conditions before going live.\n","properties":{"action":{"type":"string","enum":["simulate"]},"entity_type":{"type":"string"},"event_name":{"type":"string","enum":["create","update","delete"]},"is_custom_module_entity":{"type":"boolean","default":false},"instance_payload":{"type":"object","description":"Sample entity data to test against"},"updated_fields_dict":{"type":"object","description":"Sample field changes (for update events)"}}},"ExecuteBackgroundProcessRequest":{"type":"object","required":["action","id"],"description":"Manually trigger a background process automation rule","properties":{"action":{"type":"string","enum":["execute_background_process"]},"id":{"type":"string","description":"Automation rule ID to execute"}}}}}}