{"openapi":"3.1.0","info":{"title":"Ambivo Testing Data API","version":"1.0.0","description":"Endpoints for E2E test automation. These endpoints create and destroy\ntest tenants with pre-configured users for automated UI testing.\n\n## Authentication\nAll endpoints require a static secret key in the `X-TEST-SECRET-KEY` header.\nThe key is validated against the `test_tenant_keys` MongoDB collection.\n\n## Security\n- Requests from known spam IPs are blocked (HTTP 403 / result: 2).\n- Maximum 2 test tenants may exist at any time (tenants with non-empty `meta.test_secret_key`).\n- Only tenants tagged with a valid `meta.test_secret_key` can be deleted via these endpoints.\n- **Key rotation safe:** The DELETE endpoint validates the tenant's *stored* key against the\n  `test_tenant_keys` collection \u2014 not against the header value. This means you can rotate the\n  secret key in the DB and still delete tenants created with a previous key, as long as the\n  old key remains in the collection.\n\n## Test Tenant Details\n| Field          | Value                          |\n|----------------|--------------------------------|\n| Tenant name    | `test-ambivo`                  |\n| Domain         | `test.ambivo.com`              |\n| Admin email    | `test-admin@test.ambivo.com`   |\n| Non-admin email| `test-user@test.ambivo.com`    |\n| Password       | `Test@1234567`                 |\n\n## Typical Test-framework Workflow\n1. `POST /test/tenant/create` \u2014 get back `tenant_id`, JWTs, and credentials\n2. Run UI tests using the returned JWT tokens / credentials\n3. `DELETE /test/tenant/{tenant_id}` \u2014 clean up when done\n\n## MongoDB Setup\nInsert your secret key into the `test_tenant_keys` collection:\n```js\ndb.test_tenant_keys.insertOne({ \"key\": \"<your-secret-key>\" })\n```\n\n## Important Notes\n- The create endpoint is **not idempotent**. If a test tenant already exists, it returns\n  `TEST_TENANT_ALREADY_EXISTS`. Call DELETE first before re-creating.\n- No \"New Tenant Signup\" notification email is sent for `test.ambivo.com` or `invalid.ambivo.com` domains.\n- An orphan-user cleanup Celery task (`admin_routine_tasks.clean_orphan_users`) runs every 12 hours\n  to catch users whose tenant was deleted but whose user records survived due to async cleanup races.\n","contact":{"name":"Ambivo Engineering","url":"https://ambivo.com"}},"servers":[{"url":"https://ingress.ambivo.com","description":"Production"},{"url":"http://localhost:9000","description":"Local Development"}],"tags":[{"name":"Test Tenant","description":"Create and destroy test tenants for E2E automation"}],"paths":{"/test/tenant/create":{"post":{"operationId":"createTestTenant","tags":["Test Tenant"],"summary":"Create a test tenant with admin and non-admin users","description":"Creates a new test tenant (`test.ambivo.com`) with two users:\n- **Admin**: `test-admin@test.ambivo.com` (tenant admin)\n- **Non-admin**: `test-user@test.ambivo.com` (regular user)\n\nBoth users are created with `confirmed_email=true` and logged in to return JWT tokens.\n\n**Guards:**\n- Returns error if a tenant with domain `test.ambivo.com` already exists (not idempotent \u2014 call DELETE first).\n- Returns error if 2 or more test tenants already exist.\n- Returns error if the caller's IP is flagged as spam.\n\n**Timeout:** The entire operation is wrapped in a 35-second timeout.\n","parameters":[{"$ref":"#/components/parameters/TestSecretKey"}],"responses":{"200":{"description":"Test tenant created successfully","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","enum":[1]},"tenant_id":{"type":"string","example":"69ab1b3d5a4ac9293ccae03f"},"domain":{"type":"string","example":"test.ambivo.com"},"admin":{"$ref":"#/components/schemas/TestUserCredentials"},"non_admin":{"$ref":"#/components/schemas/TestUserCredentials"}}},"example":{"result":1,"tenant_id":"69ab1b3d5a4ac9293ccae03f","domain":"test.ambivo.com","admin":{"email":"test-admin@test.ambivo.com","password":"Test@1234567","user_id":"69ab1b3c5a4ac9293ccae03e","jwt_token":"eyJhbGciOiJIUzI1NiIs..."},"non_admin":{"email":"test-user@test.ambivo.com","password":"Test@1234567","user_id":"69ab1b455a4ac9293ccae04b","jwt_token":"eyJhbGciOiJIUzI1NiIs..."}}}}},"200 (error - tenant exists)":{"description":"Test tenant already exists","content":{"application/json":{"example":{"result":2,"error":"TEST_TENANT_ALREADY_EXISTS","tenant_id":"69ab1b3d5a4ac9293ccae03f","msg":"Test tenant already exists. DELETE it first before re-creating."}}}},"200 (error - max reached)":{"description":"Maximum test tenants reached","content":{"application/json":{"example":{"result":2,"error":"MAX_TEST_TENANTS_REACHED","msg":"Maximum 2 test tenants already exist."}}}},"200 (error - spam IP)":{"description":"Caller IP is flagged as spam","content":{"application/json":{"example":{"result":2,"error":"BLOCKED_SPAM_IP"}}}},"401":{"description":"Missing or invalid `X-TEST-SECRET-KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing":{"value":{"result":2,"error":"Missing X-TEST-SECRET-KEY header"}},"invalid":{"value":{"result":2,"error":"Invalid X-TEST-SECRET-KEY"}}}}}},"504":{"description":"Operation timed out (35s limit)","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"result":2,"error":"Timeout: tenant creation took too long"}}}}}}},"/test/tenant/{tenant_id}":{"delete":{"operationId":"deleteTestTenant","tags":["Test Tenant"],"summary":"Delete a test tenant and all its data","description":"Permanently deletes a test tenant, its users, and all associated data.\n\n**Safety checks:**\n- The tenant must have a `meta.test_secret_key` that exists as a valid key in the\n  `test_tenant_keys` MongoDB collection. Note: the stored key is validated against\n  the DB, not compared to the header \u2014 this supports key rotation.\n- Requests from spam IPs are blocked.\n- Seeded/production tenants cannot be deleted (domain check).\n\n**Cleanup:** After `delete_tenant`, an explicit `db.user.delete_many` removes any\norphaned user records (guards against async `spawn_callback` race conditions).\n","parameters":[{"$ref":"#/components/parameters/TestSecretKey"},{"name":"tenant_id","in":"path","required":true,"description":"The tenant ID returned by the create endpoint","schema":{"type":"string","example":"69ab1b3d5a4ac9293ccae03f"}}],"responses":{"200":{"description":"Test tenant deleted successfully","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","enum":[1]},"msg":{"type":"string","example":"Test tenant deleted"},"tenant_id":{"type":"string"},"users_deleted":{"type":"integer","description":"Number of user records hard-deleted"}}},"example":{"result":1,"msg":"Test tenant deleted","tenant_id":"69ab1b3d5a4ac9293ccae03f","users_deleted":2}}}},"401":{"description":"Missing or invalid `X-TEST-SECRET-KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"missing":{"value":{"result":2,"error":"Missing X-TEST-SECRET-KEY header"}},"invalid":{"value":{"result":2,"error":"Invalid X-TEST-SECRET-KEY"}}}}}},"403":{"description":"Not a test tenant or spam IP blocked","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"not_test":{"value":{"result":2,"error":"Not a test tenant \u2014 deletion refused"}},"spam":{"value":{"result":2,"error":"BLOCKED_SPAM_IP"}}}}}},"404":{"description":"Tenant not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"example":{"result":2,"error":"Tenant not found"}}}}}}}},"components":{"parameters":{"TestSecretKey":{"name":"X-TEST-SECRET-KEY","in":"header","required":true,"description":"Static secret key for test endpoint authentication.\nMust match a `key` value in the `test_tenant_keys` MongoDB collection.\n","schema":{"type":"string"}}},"schemas":{"TestUserCredentials":{"type":"object","properties":{"email":{"type":"string","format":"email"},"password":{"type":"string"},"user_id":{"type":"string"},"jwt_token":{"type":"string","description":"Bearer JWT token for authenticating subsequent API calls"}}},"ErrorResponse":{"type":"object","properties":{"result":{"type":"integer","enum":[2]},"error":{"type":"string"}},"required":["result","error"]}}}}