{"openapi":"3.1.0","info":{"title":"Ambivo Workforce API","version":"1.0.0","description":"**Ambivo Workforce** is time and attendance: shift definitions, a roster, a clock\nlog, and the attendance register payroll reads. It runs inside the Ambivo Core API\n(`ingress.ambivo.com`) and shares its auth, tenancy, access control and response\nenvelope. There is no separate Workforce service.\n\n## The model: template \u2192 occurrence \u2192 outcome\n\n| Entity | What it is | Example |\n|---|---|---|\n| `work_shift` | The **template**. Has no date. | \"Cafe Morning, 06:00\u201314:00, Mon\u2013Sat\" |\n| `shift_assignment` | One **occurrence** for one person. The roster row. | \"Maria works Cafe Morning on 2026-08-24\" |\n| `punch_event` | The **raw log** of clock events. | \"Maria clocked in at 06:04 from the front counter iPad\" |\n| `attendance_day` | The **outcome**, computed from punches. Payroll reads it. | \"Maria: 7h 45m worked, 15m late, 0 OT on 2026-08-24\" |\n\nA fifth, `shift_change_request`, carries an employee asking the employer to change\na future roster row. A sixth, `time_off`, carries days a person is away from work.\nApproved time off keeps that person off the roster. A crew (`/user/workforce/crew`) is a named group of people at\none site.\n\n**The register is computed from the punch log.** `POST /user/attendance_day/process`\nwrites each `attendance_day`. A supervisor changes a day only through the\n`/user/attendance_day/manage` actions `adjust`, `approve`, `unapprove`,\n`approve_overtime`, `unapprove_overtime`, `lock` and `unlock`.\nRe-processing a day leaves `manual_adjust_minutes` as it was.\n`payable_minutes` is `worked_minutes + manual_adjust_minutes`, never below 0.\n\n## Response envelope\n\nA Workforce refusal is HTTP **200** with `result: 2`. Branch on `result`:\n\n```json\n{ \"result\": 1, \"shift_assignment\": [ ... ], \"total_count\": 12 }\n{ \"result\": 2, \"error_code\": \"SHIFT_ALREADY_STARTED\", \"error\": { \"message\": \"...\" } }\n```\n\nOther statuses come from the platform: 401 without a valid token, and 403 while\nthe tenant account is pending review. An unhandled error is HTTP 200 with\n`result: 2` and `status_code: 500` in the body. On the REST routes\n(`/list`, the record routes, `/user/time_off`, payroll export), the\n`/user/workforce/*` routes and the crew routes it is instead\n`{\"result\": 2, \"error\": \"Internal error\", \"error_code\": \"INTERNAL_ERROR\"}`.\nThere `error` is a string and there is no `status_code`. The sign-in\nendpoints also answer some refusals at 400, 401, 403 (`BOT_DETECTED`) or 429.\n\nRecords are keyed by **entity name**: `work_shift`, `shift_assignment`,\n`punch_event`, `attendance_day`, `shift_change_request`, `time_off`, `crew`.\n\nMost writes need the tenant's Workforce Pro feature: creating and editing shift\ndefinitions and shifts, clocking, minting a badge, raising a change request,\nprocessing the register, and creating and editing crews. Without it the write\nanswers `WORKFORCE_REQUIRES_PRO` at HTTP 200.\n\n## Authorization\n\nThree rules apply together.\n\n* **`module_access`** (from the caller's roles) decides whether a caller may do a\n  thing at all, for example `shift_assignment: [\"C\",\"R\",\"U\",\"D\"]`.\n* **Record ownership** decides which rows a list returns. Roster rows, punches,\n  register days and change requests are owned by the employee (`userid` =\n  `employee_userid`). Lists of roster rows, punches and register days return the\n  caller's own rows and the rows of people below them in the role tree. The\n  change request queue is described on its own route. A tenant admin gets only\n  their own rows on these lists. `/user/workforce/roster` reads a whole site.\n* **Workforce scope** (`GET /user/workforce/me`). A supervisor is a tenant admin or\n  a caller whose roles grant `U` on `shift_assignment`. A caller whose roles name\n  sites acts only at those sites, and lists leave out other sites' rows apart from\n  the caller's own. Roles are read from the database on every request.\n\nShift definitions are created readable by the whole tenant (`access_dict`\n`{\"*\": [\"R\"]}`). Writing one needs `work_shift` privileges.\n\nOn a tenant with role hierarchy off, Workforce treats only a real admin as a\nsupervisor: someone holding a role with wildcard `module_access` or\n`role_purpose: admin`. Nobody on such a tenant is limited to sites.\n\nThree roles are seeded: `workforce_manager`, `workforce_supervisor`,\n`workforce_employee`. `workforce_employee` has `R` on `work_shift`,\n`shift_assignment`, `punch_event` and `attendance_day`, and `C` and `R` on\n`shift_change_request` and `time_off`.\n\n**Clocking yourself never checks `module_access`.** `POST /user/punch_event/clock`\nchecks `C` on `punch_event` only when `employee_userid` names someone else.\n`workforce_employee` has no `C` on `punch_event`, so an employee clocks only\nthemselves. A manual punch (`POST /user/punch_event`, or `/manage` `add`) needs\n`C` on `punch_event`, also for yourself.\n\n## Dates and timezones\n\n`shift_date_str`, `work_date_str` and `punch_date_str` (\"YYYY-MM-DD\") are the day\nkeys. The epoch fields beside them are for sorting and range reads.\n\nA roster row's timezone is resolved when the row is written: the row's own\n`timezone`, else the shift definition's, else the tenant's `timeZone`, else\n`America/Los_Angeles`. When the first zone found is unrecognised, the tenant's\n`timeZone` is used, then `America/Los_Angeles`. `start_ts` and `end_ts`\nare stored then, so a later edit to the shift definition does not move rows\nalready written.\n\nA shift whose `end_time <= start_time` **crosses midnight**. Its `shift_date_str`\nstays the day it started. A punch matched to a roster row is filed under that\nrow's `shift_date_str`. A punch with no roster row is filed under its local date.\nThe zone is the punch's own `timezone`, else the tenant's, else\n`America/Los_Angeles`.\n\n## Biometrics\n\n`verification: device_biometric` records that the handset's own Face ID or\nfingerprint check passed. The client sends that value. No image or face template\nis sent. A self-service clock or badge may claim `none`, `selfie`,\n`device_biometric`, `pin` or `access_code`. `card`, `face` and `fingerprint` are\naccepted only from `/user/punch_event/ingest`. The `/manage` `add` action and\n`POST /user/punch_event` accept them for a punch for someone else.\n","contact":{"name":"Ambivo","url":"https://www.ambivo.com"}},"servers":[{"url":"https://ingress.ambivo.com","description":"Production"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Work Shift","description":"The shift master. Templates with no date."},{"name":"Roster","description":"Shift assignments. One occurrence per employee per day."},{"name":"Clock","description":"Punch events, badges and terminal scans."},{"name":"Attendance Register","description":"The computed outcome payroll reads."},{"name":"Change Requests","description":"An employee asking the employer to change a future roster row."},{"name":"Time Off","description":"Days a person is away from work. Crew ask, a supervisor decides. Approving removes the person's shifts in those days, and the roster then refuses them with `ON_LEAVE`."},{"name":"Supervisor","description":"What the caller may do and where, the roster at a site (Day, Week, By person, By shift), and the people a supervisor can put on a shift."},{"name":"Crews","description":"Named groups of people at one site, assigned to shifts together. Crews are separate from CRM teams."},{"name":"Sign-in","description":"Signing in from the mobile app, and the one-time-code verification that can be required on top of it. These are platform endpoints. The Workforce mobile app uses them."},{"name":"Payroll Export","description":"A pay period as a Toast Payroll custom-import file."},{"name":"Internal","description":"Called by Celery with the internal secret."}],"paths":{"/user/work_shift/manage":{"post":{"tags":["Work Shift"],"summary":"Create, update, delete or list shift templates","description":"`action`: `add` | `update` | `delete` | `get` | `get_entity_ids`.\n`update`, `delete` and a single `get` name the row with a top-level\n`work_shift_id`.\n\nWrites need `C` / `U` / `D` on `work_shift` and are site scoped (see\n`DELETE /user/work_shift/{id}`). Reads need no privilege.\n\n**Delete is guarded.** A definition used by any shift or register day is\nrefused with `WORK_SHIFT_IN_USE`. A batch delete (`ids_list`) answers\n`{deleted_ids, refused: [{work_shift_id, error_code}], deleted_count}`.\n\n`start_time` / `end_time` accept `HH:MM` (seconds are dropped) or a minute\ncount, and are stored as `start_time_min` / `end_time_min`. A blank time is\nrefused with `WORK_SHIFT_START_TIME_MIN_REQUIRED` or\n`WORK_SHIFT_END_TIME_MIN_REQUIRED`. Send both times on `add`. A time\nleft out is 00:00, so leaving out both makes a 24-hour shift.\nAn empty number field is stored as 0.\n\n`geofence_radius_m` is 0 (the default) or at least 161. A new or changed\nvalue from 1 to 160 is `WORK_SHIFT_GEOFENCE_RADIUS_TOO_SMALL`. A value\nthat is not a number is `WORK_SHIFT_GEOFENCE_RADIUS_INVALID`.\n\nOther refusals: `WORK_SHIFT_NAME_REQUIRED`, `WORK_SHIFT_CODE_DUPLICATE`,\n`WORK_SHIFT_BREAK_EXCEEDS_SHIFT`, `WORK_SHIFT_ROUNDING_MINUTES_UNSUPPORTED`,\n`WORK_SHIFT_OT_DAILY_THRESHOLD_REQUIRED`,\n`WORK_SHIFT_OT_WEEKLY_THRESHOLD_REQUIRED`,\n`WORK_SHIFT_GEOFENCE_RADIUS_REQUIRED`,\n`WORK_SHIFT_GEOFENCE_LOCATION_REQUIRED`, `WORK_SHIFT_TIMEZONE_INVALID`,\n`WORK_SHIFT_NOT_FOUND`, `NOT_AUTHORIZED_FOR_WORK_SHIFT`, `SITE_NOT_ALLOWED`,\n`SITE_CODE_INVALID`, `WORK_SHIFT_PEOPLE_NEEDED_INVALID` (with `data`\n`{min, max}`), `WORK_SHIFT_ID_REQUIRED`, `WORK_SHIFT_ID_INVALID`,\n`WORK_SHIFT_IN_USE_CHECK_FAILED`, `UNSUPPORTED_ACTION`,\n`WORK_SHIFT_STATUS_INVALID`, `WORK_SHIFT_ROUNDING_MODE_INVALID`,\n`WORK_SHIFT_OT_BASIS_INVALID`, `WORK_SHIFT_OT_MULTIPLIER_NEGATIVE`,\n`WORK_SHIFT_DAYS_OF_WEEK_INVALID`, `WORK_SHIFT_DAYS_OF_WEEK_OUT_OF_RANGE`,\n`WORK_SHIFT_BREAK_LIST_INVALID`, `WORK_SHIFT_BREAK_LIST_OUT_OF_RANGE` and\n`WORK_SHIFT_BREAK_KIND_INVALID`.\n\nA time that cannot be read is `WORK_SHIFT_START_TIME_MIN_INVALID` or\n`WORK_SHIFT_END_TIME_MIN_INVALID`. An hour over 23, a minute over 59, or a\ncount outside 0 to 1439 is `WORK_SHIFT_START_TIME_MIN_OUT_OF_RANGE` or\n`WORK_SHIFT_END_TIME_MIN_OUT_OF_RANGE`. A number field that is not a\nnumber is `WORK_SHIFT_<FIELD>_INVALID`, and a negative one is\n`WORK_SHIFT_<FIELD>_NEGATIVE`, for example\n`WORK_SHIFT_GRACE_IN_MINUTES_NEGATIVE`.\n\nA list read caps `page_size` at 200.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageRequest"},"examples":{"add":{"value":{"action":"add","payload":{"name":"Cafe Morning","code":"CM","start_time":"06:00","end_time":"14:00","days_of_week":[0,1,2,3,4,5],"site_code":"endvr","job_title":"Barista","unpaid_break_minutes":30,"ot_basis":"daily","ot_after_daily_minutes":480,"require_geofence":false,"auto_clock_out":false}}},"list":{"value":{"action":"get","page_size":50,"page_num":1}}}}}},"responses":{"200":{"description":"Standard envelope keyed `work_shift`: a list plus `total_count` for `get`, one record plus `work_shift_id` for `add` and `update`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/WorkShiftListResponse"}}}}}}},"/user/work_shift/picklist":{"get":{"tags":["Work Shift"],"summary":"Lightweight shift definition list for pickers (query string)","description":"The same as POST, with the arguments in the query string. This is what the\nweb app's reference picker sends. Object arguments are JSON. Before\n2026-09-30 this route answered 405 to GET, and the picker showed an empty list.\n","parameters":[{"name":"match_filter_dict","in":"query","schema":{"type":"string"},"description":"JSON object. A value that does not parse as an object is dropped, and the list comes back unfiltered."},{"name":"search_text","in":"query","schema":{"type":"string"}},{"name":"include_inactive","in":"query","schema":{"type":"boolean","default":false},"description":"`true`, `1`, `yes` or `on`. Anything else is false."},{"name":"page_num","in":"query","schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","schema":{"type":"integer"}},{"name":"sort_dict","in":"query","schema":{"type":"string"},"description":"JSON object. Accepted and ignored: the order is fixed, as for POST."}],"responses":{"200":{"description":"Envelope with a compact `work_shift` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"total_count":{"type":"integer"},"work_shift":{"type":"array","items":{"type":"object","properties":{"work_shift_id":{"type":"string"},"name":{"type":"string"},"code":{"type":"string"},"status":{"type":"string"},"start_time":{"type":"string"},"end_time":{"type":"string"},"crosses_midnight":{"type":"boolean"},"scheduled_minutes":{"type":"integer","description":"Always 0. Read `template_minutes` on the full record."},"days_of_week":{"type":"array","items":{"type":"integer"}},"color":{"type":"string"}}}}}}]}}}}}},"post":{"tags":["Work Shift"],"summary":"Lightweight shift definition list for pickers","description":"Active definitions only, unless `include_inactive` is true or\n`match_filter_dict` names a `status`. `page_size` is capped at 200.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match_filter_dict":{"type":"object"},"search_text":{"type":"string"},"include_inactive":{"type":"boolean","default":false,"description":"Send a JSON boolean. Any non-empty string, \"false\" included, is read as true."},"page_num":{"type":"integer","default":1},"page_size":{"type":"integer","default":50,"maximum":200}}}}}},"responses":{"200":{"description":"Envelope with a compact `work_shift` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"total_count":{"type":"integer"},"work_shift":{"type":"array","items":{"type":"object","properties":{"work_shift_id":{"type":"string"},"name":{"type":"string"},"code":{"type":"string"},"status":{"type":"string"},"start_time":{"type":"string"},"end_time":{"type":"string"},"crosses_midnight":{"type":"boolean"},"scheduled_minutes":{"type":"integer","description":"Always 0. Read `template_minutes` on the full record."},"days_of_week":{"type":"array","items":{"type":"integer"}},"color":{"type":"string"}}}}}}]}}}}}}},"/user/shift_assignment/manage":{"post":{"tags":["Roster"],"summary":"Create, update, delete or list roster rows","description":"`action`: `add` | `update` | `delete` | `get` | `get_entity_ids`.\n`update`, `delete` and a single `get` name the row with a top-level\n`shift_assignment_id`.\n\nWrites need `C` / `U` / `D` on `shift_assignment`\n(`NOT_AUTHORIZED_FOR_SHIFT_ASSIGNMENT`). A caller whose roles name sites\nwrites only rows at those sites (`SITE_NOT_ALLOWED`).\n\nA payload may write only these fields: `employee_userid`, `work_shift_id`,\n`shift_date_str`, `timezone`, `site_code`, `status`, `assignment_type`,\n`cancel_reason`, `notes`, `tags`, `latitude`, `longitude`,\n`geofence_radius_m`, `require_geofence`, `require_photo`,\n`require_biometric`, `auto_clock_out`, `job_title`, `meta`,\n`custom_form_dict`. Other keys are dropped.\n\n**One shift's own times.** `add` and `update` also read `start_time` and\n`end_time`, together: `\"HH:MM\"` (seconds allowed and dropped) or minutes\nafter midnight, as wall time on `shift_date_str` in the row's `timezone`.\nAn end at or before the start ends the next day. The row then has\n`times_overridden: true` and the minutes in `start_time_min_override` and\n`end_time_min_override`, and `start_ts`, `end_ts` and `scheduled_minutes`\ncome from them. Lateness, early departure and timesheets read those. The\nshift definition is not changed. `use_definition_times: true`, or both\ntimes empty, goes back to the definition's times. On `update`, a new\n`work_shift_id` with no times also goes back to the new definition's\ntimes. A new `shift_date_str` keeps them as wall times on the new day.\nRefusals: `SHIFT_TIMES_BOTH_REQUIRED`, `SHIFT_START_TIME_INVALID`,\n`SHIFT_END_TIME_INVALID`, `SHIFT_TIMES_SAME`, `SHIFT_TIMES_TOO_LONG` (more\nthan 16 real hours, counted across a clock change),\n`SHIFT_TIMES_SHORTER_THAN_BREAK` (not longer than the unpaid break),\n`SHIFT_TIMES_ALREADY_PROCESSED` (the register counted the row),\n`SHIFT_TIME_DOES_NOT_EXIST` (the start or the end falls in a spring-forward\ngap on its day, for example 02:30 on a day the clocks go from 02:00 to\n03:00), and the overlap check below. A time the autumn change repeats\nis its first occurrence, in summer time. A definition's own times keep\nthe old rule: a start in the gap lands after it (02:30 reads as 03:30).\n\nWhen an `update` moves the window of a `published` or `confirmed` row that\nhas not ended, the person gets one push and websocket notice, \"Your shift\ntimes changed\", about a minute after the last edit. Each edit stages a\n`tenant_tasks.call_api` task to `POST /admin/workforce/shift_times_notice`\na minute out and retracts the one before it. When it runs, the server\nreads the row again and sends nothing when the times equal what the person\nwas last told, the row is gone, cancelled, a draft or ended, or it now\nbelongs to someone else. No notice is staged when the same update gave the\nrow to someone else. The notice is in the person's `preferred_language`\n(`PUT /user/data`; the Workforce app sends the language it shows), else\nthe tenant's `language_code`, else English. An English that the person\nnever saved (every user starts with `en`) gives way to a Spanish or\nTurkish tenant language: saving `preferred_language` stamps\n`preferred_language_set_ts`, and only then does English count as chosen.\nIt is written in English, Spanish or Turkish. The shift reminder is set again for the new start.\n\nThe server sets `start_ts`, `end_ts`, `scheduled_minutes`,\n`unpaid_break_minutes`, `work_shift_name` and `employee_name`. `site_code`,\n`job_title`, the location, `require_geofence`, `require_photo`,\n`require_biometric` and `auto_clock_out` are copied from the shift\ndefinition unless the payload sends them.\n\nA sent `employee_userid` must be an active user of the tenant\n(`EMPLOYEE_NOT_FOUND`). `employee_userid` is required only for a caller\nwhose roles name sites (`EMPLOYEE_NOT_FOUND` when missing). For anyone\nelse, `add` without it creates a row with no employee, owned by the\ncaller. A shift overlapping another non-cancelled shift of the same employee is\nrefused with `SHIFT_ASSIGNMENT_OVERLAP`. A unique index over non-cancelled\nrows refuses the same person on the same definition on the same day\n(`SHIFT_ASSIGNMENT_DUPLICATE`). A shift dated inside the employee's\napproved time off is refused with `ON_LEAVE`; an update is checked when\nit changes the date, the person, or brings a cancelled row back\n(`TIME_OFF_CHECK_FAILED` when time off could not be read). A definition that belongs to a site is used\nonly at that site (`SITE_TEMPLATE_MISMATCH`).\n\nOther refusals: `SHIFT_ASSIGNMENT_STATUS_NOT_ALLOWED` (only the register sets\n`completed`), `CANCEL_REASON_REQUIRED` (a change to `cancelled` without\n`cancel_reason`), `SHIFT_ASSIGNMENT_ALREADY_PROCESSED` (editing or deleting a\nrow the register used), `SHIFT_ASSIGNMENT_FIELD_NOT_WRITABLE` (a change to\n`userid` or `access_dict`), `SITE_CODE_INVALID`, `SHIFT_ASSIGNMENT_BUSY`,\n`WORK_SHIFT_ID_REQUIRED`, `WORK_SHIFT_NOT_FOUND`,\n`SHIFT_ASSIGNMENT_DATE_INVALID`, `SHIFT_ASSIGNMENT_STATUS_INVALID`,\n`SHIFT_ASSIGNMENT_TYPE_INVALID`, `SHIFT_ASSIGNMENT_ID_REQUIRED`,\n`SHIFT_ASSIGNMENT_ID_INVALID`, `SHIFT_ASSIGNMENT_NOT_FOUND`,\n`WORK_SHIFT_ID_INVALID`, `EMPLOYEE_LOOKUP_FAILED`,\n`SHIFT_ASSIGNMENT_OVERLAP_CHECK_FAILED`, `UNSUPPORTED_ACTION`. A\n`geofence_radius_m` that is not a number is\n`SHIFT_ASSIGNMENT_GEOFENCE_RADIUS_M_INVALID`, and a negative one is\n`SHIFT_ASSIGNMENT_GEOFENCE_RADIUS_M_NEGATIVE`. A `latitude` or\n`longitude` that is not a number is `SHIFT_ASSIGNMENT_LATITUDE_INVALID`\nor `SHIFT_ASSIGNMENT_LONGITUDE_INVALID`. This route drops\n`tenant_id` from the payload. `PATCH /user/shift_assignment/{id}` refuses a\nchange to it.\n\nChanging `employee_userid` moves the row's owner to the new employee and\nwithdraws the previous employee's pending change requests on the row.\nDeleting a row closes its pending change requests as `shift_removed`\nwith `closed_reason: shift_deleted`. A\nbatch delete (`ids_list`) answers `{deleted_ids, refused, deleted_count}`.\nA list read caps `page_size` at 500 and sorts by `start_ts`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageRequest"},"examples":{"add":{"value":{"action":"add","payload":{"employee_userid":"5b1744418b578622c7ed8620","work_shift_id":"6a86147de558c062f9167177","shift_date_str":"2026-08-24"}}}}}}},"responses":{"200":{"description":"Standard envelope keyed `shift_assignment`: a list plus `total_count` for `get`, one record plus `shift_assignment_id` for `add` and `update`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShiftAssignmentListResponse"}}}}}}},"/user/shift_assignment/picklist":{"get":{"tags":["Roster"],"summary":"Compact roster list for pickers (query string)","description":"The same as POST, with the arguments in the query string. This is what the\nweb app's reference picker sends. Object arguments are JSON. Before\n2026-09-30 this route answered 405 to GET, and the picker showed an empty list.\n","parameters":[{"name":"match_filter_dict","in":"query","schema":{"type":"string"},"description":"JSON object. A value that does not parse as an object is dropped, and the list comes back unfiltered."},{"name":"search_text","in":"query","schema":{"type":"string"}},{"name":"page_num","in":"query","schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","schema":{"type":"integer"}},{"name":"sort_dict","in":"query","schema":{"type":"string"},"description":"JSON object. Accepted and ignored: the order is fixed, as for POST."}],"responses":{"200":{"description":"Envelope with a compact `shift_assignment` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"shift_assignment":{"type":"array","items":{"type":"object","properties":{"shift_assignment_id":{"type":"string"},"name":{"type":"string","description":"\"employee_name - work_shift_name (shift_date_str)\""},"employee_userid":{"type":"string"},"employee_name":{"type":"string"},"work_shift_id":{"type":"string"},"shift_date_str":{"type":"string"},"status":{"type":"string"}}}},"total_count":{"type":"integer"}}}]}}}}}},"post":{"tags":["Roster"],"summary":"Compact roster list for pickers","description":"Sorted by `start_ts`. `page_size` defaults to 500 and is capped at 500.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match_filter_dict":{"type":"object"},"search_text":{"type":"string"},"page_num":{"type":"integer","default":1},"page_size":{"type":"integer","default":500,"maximum":500}}}}}},"responses":{"200":{"description":"Envelope with a compact `shift_assignment` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"shift_assignment":{"type":"array","items":{"type":"object","properties":{"shift_assignment_id":{"type":"string"},"name":{"type":"string","description":"\"employee_name - work_shift_name (shift_date_str)\""},"employee_userid":{"type":"string"},"employee_name":{"type":"string"},"work_shift_id":{"type":"string"},"shift_date_str":{"type":"string"},"status":{"type":"string"}}}},"total_count":{"type":"integer"}}}]}}}}}}},"/user/shift_assignment/generate":{"post":{"tags":["Roster"],"summary":"Assign crew. Create shifts for people or a crew over a date range","description":"People are `employee_userid_list` plus the crew's members who are active\nusers, read at request time (`crew_id`), with duplicates removed. An id in\n`employee_userid_list` that is not an active user refuses the whole call\nwith `EMPLOYEE_NOT_FOUND`.\n\nA crew's site is used when `site_code` is omitted. A different `site_code` is\n`CREW_SITE_MISMATCH`. An archived crew is `CREW_ARCHIVED`, a crew with no\nactive members is `CREW_HAS_NO_MEMBERS`, and a crew at a site the caller\ndoes not manage is `CREW_NOT_FOUND`.\n\nDays: `pattern`, or `days_of_week` (0 = Monday \u2026 6 = Sunday) when `pattern`\nis absent. With neither, the shift definition's own days. With a\ntop-level `days_of_week`, a day the shift definition does not run on is a\n`skip` row with `OUTSIDE_DAYS`. This applies only when the definition\nnames its days. The same days sent as `pattern: {type: weekly,\ndays_of_week}` are created, with no `OUTSIDE_DAYS` check.\n\n`pattern` shapes:\n\n| `type` | Fields |\n|---|---|\n| `weekly` | `days_of_week` |\n| `rotating` | `days_on`, `days_off`, `anchor_date_str` (default `from_date_str`) |\n| `alternating` | `work_shift_ids` (2 or more), `cycle_days` (default 7), `days_of_week`, `anchor_date_str` |\n| `custom` | `dates`. Dates outside the range are ignored. |\n\n**Partial success.** Every person \u00d7 date gets a row with an `outcome`:\n`create`, `skip` or `fail`, and a `reason_code` when not created:\n\n| reason_code | Outcome | Meaning |\n|---|---|---|\n| `ALREADY_ON_A_SHIFT` | `skip`, or `fail` when `skip_existing: false` | An overlapping shift exists, or an earlier row of this request takes the time. |\n| `NOT_AT_SITE` | `skip` | The person works at other sites and not this one: every one of their roles that names a site names another, and they have no shift here in the last 14 or next 27 days. A person whose roles name no site is at every site. A tenant admin is at every site, and on a tenant with role hierarchy off everyone is. |\n| `OUTSIDE_DAYS` | `skip` | See above. |\n| `ON_LEAVE` | `skip` | The person has approved time off that day (`time_off`). |\n| any other code | `fail` | A create that was refused, for example `SHIFT_ASSIGNMENT_STATUS_NOT_ALLOWED`. |\n\nCreated shifts default to `status: draft` and `assignment_type: regular`.\nEvery created shift carries `recurrence_group_id`, and for a crew `crew_id`\nand `crew_name` (a snapshot). Publish them with\n`POST /user/shift_assignment/publish` `{\"recurrence_group_id\": \"...\"}`.\n\n**Idempotency.** Send a `client_request_id` (a UUID per tap of Save). The\nsame id with the same body returns the first response with `replayed: true`\nand creates nothing. The same id with a different body is\n`CLIENT_REQUEST_ID_REUSED`. A retry within 5 minutes while the first is\nstill running is `GENERATE_IN_PROGRESS`. Ids are per user and kept 7 days.\nA refused request does not use up its id.\n\n**Limits.** At most 180 days and 2000 person \u00d7 date rows. Past either, the\nwhole call is refused with `GENERATE_LIMIT_EXCEEDED` and `data`\n`{max_days, max_rows, day_count | row_count}`. Nothing is written.\n\n**Headcount.** `staffing` has one entry per date and shift definition in the\nrequest: `people_needed` (the definition's, null when none), `people_after`\n(distinct people on a non-cancelled shift of that definition that day,\ncounted again after the writes) and `short_by` (`people_needed -\npeople_after` when above zero, else 0). People are counted at the request's\nsite, or the shift definition's site when none is sent, or at every site\nwhen neither has one. A day the definition does not run on (`OUTSIDE_DAYS`)\nis left out. Short days are never refused.\n\nNeeds `C` on `shift_assignment`. A caller whose roles name sites generates\nonly at those sites.\n\nWhole-call refusals: `NOT_AUTHORIZED_FOR_SHIFT_ASSIGNMENT`,\n`WORK_SHIFT_ID_REQUIRED`, `WORK_SHIFT_ID_INVALID`, `WORK_SHIFT_NOT_FOUND`,\n`EMPLOYEE_LIST_REQUIRED` (no people and no crew), `SITE_TEMPLATE_MISMATCH`,\n`SITE_CODE_INVALID`, `SITE_NOT_ALLOWED`, `DATE_RANGE_INVALID`,\n`NO_APPLICABLE_DATES` (the pattern gives no dates),\n`SCHEDULE_PATTERN_INVALID`, the `PATTERN_*` codes and\n`SHIFT_ASSIGNMENT_OVERLAP_CHECK_FAILED`. `ROSTER_GROUP_NOT_SAVED` means rows\nwere created but not all were tagged with `recurrence_group_id`.\n\n`message` reads \"Rostered N shift(s)\". Its \"N already rostered\" part\ncounts every skip, including `NOT_AT_SITE`, `ON_LEAVE` and\n`OUTSIDE_DAYS`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignCrewRequest"}}}},"responses":{"200":{"description":"Envelope with rows and counts, or a refusal","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignCrewResponse"}}}}}}},"/user/shift_assignment/preview":{"post":{"tags":["Roster"],"summary":"Preview what Assign crew would do, without writing","description":"Same body as `/generate` (`client_request_id`, `status` and\n`assignment_type` are ignored). With neither `employee_userid_list` nor\n`crew_id` the response is dates only (`pattern_type`, `slot_count`,\n`slots`) and needs no privilege. A range over 180 days is then\n`DATE_RANGE_TOO_LARGE`. Other refusals: `DATE_RANGE_INVALID`,\n`WORK_SHIFT_ID_INVALID` (missing or malformed `work_shift_id`),\n`WORK_SHIFT_NOT_FOUND`, `NO_APPLICABLE_DATES`, `SCHEDULE_PATTERN_INVALID`\nand the `PATTERN_*` codes. On this path a `days_of_week` that is not a\nlist is ignored.\n\nWith people or a crew it also returns `rows`, `create_count`, `skip_count`,\n`fail_count`, `crew_id`, `crew_name` and `staffing`, computed as generate\ncomputes them, and needs `C` on `shift_assignment`. In the preview,\n`people_after` is the people on the roster now plus this preview's `create`\nrows. Its refusals are those of `/generate`, including\n`GENERATE_LIMIT_EXCEEDED` for a range over 180 days.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignCrewRequest"}}}},"responses":{"200":{"description":"Envelope with the would-be rows","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignCrewResponse"}}}}}}},"/user/shift_assignment/copy_week":{"post":{"tags":["Roster"],"summary":"Copy one site's week of shifts to another week, as drafts","description":"Reads the 7 days from `from_date_str` at `site_code`. Every shift there\nthat is not cancelled and has an employee is copied, drafts included.\nEach copy lands on its own date plus the gap between `from_date_str` and\n`to_date_str`. A gap that is not a multiple of 7 moves shifts to other\nweekdays. A target week in the past is allowed.\n\nEach copy keeps the person, the shift definition, `assignment_type`, the\nshift's own times when `times_overridden`, and the crew. Notes, tags,\n`job_title`, the location and the geofence, photo and biometric settings\ncome from the shift definition again. Copies are `draft`, share one\n`recurrence_group_id`, and are created through the manage `add` path.\nPublish them with `POST /user/shift_assignment/publish`\n`{\"recurrence_group_id\": \"...\"}`.\n\nEvery source shift gets a row with an `outcome`: `create`, `skip` or\n`fail`. Skip reasons: `DEFINITION_INACTIVE`, `PERSON_INACTIVE`,\n`NOT_AT_SITE`, `ON_LEAVE`, `ALREADY_ON_A_SHIFT`. A failed row carries\nthe create's own refusal code, or `CREATE_FAILED`.\n\n`client_request_id` works as on `/generate` and shares its store, kept 7\ndays. A preview does not use it.\n\nNeeds `C` on `shift_assignment` and Workforce Pro, also for a preview.\nThe site must be registered, and one of the caller's sites when their\nroles name sites.\n\nRefusals: `TENANT_NOT_FOUND`, `NOT_AUTHORIZED_FOR_SHIFT_ASSIGNMENT`,\n`WORKFORCE_REQUIRES_PRO`, `SITE_CODE_REQUIRED`, `FROM_DATE_INVALID`,\n`TO_DATE_INVALID`, `SITE_CODE_INVALID`, `SITE_NOT_ALLOWED`,\n`COPY_WEEKS_OVERLAP` (the target starts within 6 days of the source,\neither way), `GENERATE_LIMIT_EXCEEDED` (over 2000 source shifts, with\n`data` `{max_days, max_rows, row_count}`),\n`SHIFT_ASSIGNMENT_OVERLAP_CHECK_FAILED`, `EMPLOYEE_LOOKUP_FAILED`,\n`TIME_OFF_CHECK_FAILED`, `CLIENT_REQUEST_ID_REUSED`,\n`GENERATE_IN_PROGRESS`, `ROSTER_GROUP_NOT_SAVED`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["site_code","from_date_str"],"properties":{"site_code":{"type":"string"},"from_date_str":{"type":"string","example":"2026-10-04","description":"First day of the week to copy. Any weekday."},"to_date_str":{"type":"string","example":"2026-10-11","description":"First day of the target week. Defaults to 7 days after `from_date_str`."},"preview":{"type":"boolean","default":false,"description":"Answer the rows and write nothing. Only `true` or the string \"true\" count. `1` or \"yes\" writes the copies."},"client_request_id":{"type":"string"}}}}}},"responses":{"200":{"description":"Envelope with `rows`, `from_date_str`, `to_date_str`, `site_code`, `create_count`, `skip_count` and `fail_count`. A write also returns `recurrence_group_id`, `created_ids` and `created_count`, plus `client_request_id` when one was sent and `replayed: true` on a replay. `message` reads \"N shift(s) to copy\", also after a write.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"employee_userid":{"type":"string"},"name":{"type":"string"},"source_shift_assignment_id":{"type":"string"},"source_shift_date_str":{"type":"string"},"shift_date_str":{"type":"string"},"start_ts":{"type":"integer"},"end_ts":{"type":"integer"},"work_shift_id":{"type":"string"},"work_shift_name":{"type":"string"},"times_overridden":{"type":"boolean"},"start_time_min":{"type":"integer"},"end_time_min":{"type":"integer"},"assignment_type":{"type":"string"},"crew_id":{"type":"string"},"crew_name":{"type":"string"},"outcome":{"type":"string","enum":["create","skip","fail"]},"reason_code":{"type":"string","description":"On a row that was not created"},"shift_assignment_id":{"type":"string","description":"On a created row"}}}},"from_date_str":{"type":"string"},"to_date_str":{"type":"string","description":"First day of the target week"},"site_code":{"type":"string"},"create_count":{"type":"integer"},"skip_count":{"type":"integer"},"fail_count":{"type":"integer"},"recurrence_group_id":{"type":"string"},"created_ids":{"type":"array","items":{"type":"string"}},"created_count":{"type":"integer"},"client_request_id":{"type":"string"},"replayed":{"type":"boolean"}}}]}}}}}}},"/user/shift_assignment/publish":{"post":{"tags":["Roster"],"summary":"Move draft rows to published","description":"Targets, combined when more than one is sent: `ids_list`,\n`recurrence_group_id`, or `site_code` with `shift_date_str` (every draft at\nthat site that day). With no target, or only one of `site_code` and\n`shift_date_str`, the call is `PUBLISH_TARGET_REQUIRED`.\n\nOnly `draft` rows change. Matched rows in other statuses are counted in\n`skipped_count`. A caller whose roles name sites is refused with\n`SITE_NOT_ALLOWED` when any matched row is at another site or at no site.\n\nNeeds `U` on `shift_assignment`. An unparseable id in `ids_list` refuses the\nwhole call with `SHIFT_ASSIGNMENT_ID_INVALID`. A bad `shift_date_str` is\n`SHIFT_ASSIGNMENT_DATE_INVALID`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"ids_list":{"type":"array","items":{"type":"string"}},"recurrence_group_id":{"type":"string"},"site_code":{"type":"string"},"shift_date_str":{"type":"string","example":"2026-09-11"}}}}}},"responses":{"200":{"description":"Envelope with `published_count`, `matched_count`, `skipped_count`"}}}},"/user/shift_assignment/board":{"post":{"tags":["Roster"],"summary":"The roster board. One date range, grouped by date","description":"Reads the caller's visible rows (the same scoping as the list route) for\n`from_date_str` to `to_date_str`, at most 42 days. `match_filter_dict`\nadds conditions, but its `shift_date_str` is replaced by the range.\nRefusals: `DATE_RANGE_INVALID`, `DATE_RANGE_TOO_LARGE`\n(with `max_days`). `page_size` defaults to 500 and is capped at 500.\n`total_count` is counted on page 1 only. On page 1, `truncated` is true\nwhen `total_count` is larger than the rows returned. On later pages\n`total_count` is 0 and `truncated` is false.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["from_date_str","to_date_str"],"properties":{"from_date_str":{"type":"string","example":"2026-08-24"},"to_date_str":{"type":"string","example":"2026-08-30"},"match_filter_dict":{"type":"object"},"page_num":{"type":"integer","default":1},"page_size":{"type":"integer","default":500,"maximum":500}}}}}},"responses":{"200":{"description":"Envelope with rows grouped by date","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"by_date":{"type":"object","description":"Keyed by `shift_date_str`, each a list of roster rows","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/ShiftAssignment"}}},"dates":{"type":"array","items":{"type":"string"}},"page_num":{"type":"integer"},"page_size":{"type":"integer"},"returned_count":{"type":"integer"},"total_count":{"type":"integer"},"truncated":{"type":"boolean"}}}]}}}}}}},"/user/shift_assignment/substitute":{"post":{"tags":["Roster"],"summary":"Put a substitute on someone's shift","description":"Creates a **second row** for the substitute. The original is cancelled\n(`cancel_reason` is `reason`, or \"Covered by substitute\") and gets\n`covered_by_assignment_id`. The cover row has `assignment_type: cover`,\n`replaces_assignment_id`, the original's site, and `status` (default\n`published`).\n\nA substitute with approved time off that day is refused with `ON_LEAVE`,\nand the original stays as it was.\n\nIf the cover cannot be created, the original is restored and the refusal is\nreturned.\n\nNeeds `U` and `C` on `shift_assignment`, at the row's site. Refusals:\n`NOT_AUTHORIZED_FOR_SHIFT_ASSIGNMENT`, `SHIFT_ASSIGNMENT_ID_INVALID`,\n`SHIFT_ASSIGNMENT_BUSY`,\n`SUBSTITUTE_USERID_REQUIRED`, `SHIFT_ASSIGNMENT_ALREADY_PROCESSED`,\n`SHIFT_ASSIGNMENT_ALREADY_CANCELLED`, `SUBSTITUTE_SAME_AS_EMPLOYEE`,\n`EMPLOYEE_NOT_FOUND`, `SHIFT_ASSIGNMENT_NOT_FOUND`, `SITE_NOT_ALLOWED`,\n`SHIFT_ASSIGNMENT_NEEDS_ATTENTION` (the restore\nfailed).\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["shift_assignment_id","substitute_userid"],"properties":{"shift_assignment_id":{"type":"string"},"substitute_userid":{"type":"string"},"reason":{"type":"string"},"status":{"type":"string","default":"published"}}}}}},"responses":{"200":{"description":"Envelope with `cover_assignment_id`, `original_assignment_id`, `substitute_userid`, `substitute_name`, `cover` and `original`"}}}},"/user/shift_assignment/live_day":{"post":{"tags":["Roster"],"summary":"One day's roster joined to what actually happened","description":"Who was due in, who came, who is on the clock, and who is working with no\nroster row. Omit `shift_date_str` for today in the tenant's timezone.\nCancelled rows are left out.\n\nRows carry recorded times and clock state only. No elapsed or remaining\ntime is computed. `server_ts` is the server's clock.\n\nA supervisor gets every row and punch that day (at their sites, when their\nroles name sites; another `site_code` is `SITE_NOT_ALLOWED`). Anyone else\ngets the roster rows the list route shows them, and only their own punches.\n`whole_floor` says which. `site_code` narrows the roster rows only. Punches\nfrom the caller's other sites still appear, as `is_unscheduled` rows.\nAt most 2000 roster rows are read.\n\n`match_filter_dict` adds conditions on the roster rows. Its\n`shift_date_str` and `status` are replaced, and its `site_code` too when\n`site_code` is sent.\n\nRefusals: `SHIFT_ASSIGNMENT_DATE_INVALID`, `SITE_NOT_ALLOWED`,\n`SHIFT_ASSIGNMENT_LOOKUP_FAILED` (the roster read failed),\n`PUNCH_LOOKUP_FAILED` (the punch read failed).\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"shift_date_str":{"type":"string","example":"2026-08-19"},"site_code":{"type":"string"},"match_filter_dict":{"type":"object"}}}}}},"responses":{"200":{"description":"Envelope with `shift_date_str`, `whole_floor`, `timezone`, `server_ts`,\n`row_count` and `rows`. Each row: `employee_userid`, `employee_name`,\n`is_guest`, `work_shift_id`, `work_shift_name`, `shift_assignment_id`,\n`assignment_status`, `assignment_type`, `site_code`, `timezone`,\n`scheduled_start_ts`, `scheduled_end_ts`, `scheduled_minutes`,\n`unpaid_break_minutes`, `first_in_ts`, `last_out_ts`, `currently_in`,\n`on_break`, `punch_count`, `is_unscheduled`, `unscheduled_at_site`.\n"}}}},"/user/shift_assignment/roster_pdf":{"post":{"tags":["Roster"],"summary":"One day's roster as a PDF","description":"`shift_date_str` is required (`SHIFT_ASSIGNMENT_DATE_INVALID`). Reads the\ncaller's visible rows for that day, without cancelled rows. Times render in\neach row's own timezone, and an overnight row is marked \"+1 day\". A day with\nno shifts still returns a PDF. A rendering failure is `ROSTER_PDF_FAILED`.\nAt most 2000 rows are read. `match_filter_dict` adds conditions, but its\n`shift_date_str` and `status` are replaced, and its `site_code` too when\n`site_code` is sent.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["shift_date_str"],"properties":{"shift_date_str":{"type":"string","example":"2026-08-24"},"site_code":{"type":"string"},"match_filter_dict":{"type":"object"}}}}}},"responses":{"200":{"description":"Envelope with `shift_date_str`, `shift_count`, `pdf_url`, `size_bytes`"}}}},"/user/shift_assignment/reminder":{"post":{"tags":["Roster"],"summary":"Arm or retract a shift reminder","description":"Your own row needs no privilege. Someone else's needs `U` on\n`shift_assignment` (`NOT_AUTHORIZED_FOR_EMPLOYEE`). Someone else's row at a\nsite the caller does not manage is `SITE_NOT_ALLOWED`.\n\nThe reminder is a server-side scheduled task. When it fires, the delivery\nstep reads the roster row again. It sends nothing when the row is gone, the\nreminder is off, the shift is cancelled or the shift has started. When the\nshift has moved later, it schedules itself again. Delivery is push,\nwebsocket and connected third-party apps. No email or text is sent.\n\nArming does not check the row's status. A draft or cancelled row is\narmed, and delivery then sends nothing.\n\n`lead_minutes` is clamped to 5\u20131440. Refusals: `SHIFT_ASSIGNMENT_NOT_FOUND`,\n`SHIFT_HAS_NO_START_TIME`, `SHIFT_STARTS_TOO_SOON` (the fire time is already\npast), `REMINDER_NOT_SCHEDULED`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["shift_assignment_id"],"properties":{"shift_assignment_id":{"type":"string"},"enabled":{"type":"boolean","default":true,"description":"Send a JSON boolean. Only false, 0, \"no\" and \"none\" turn it off, so \"off\" arms it."},"lead_minutes":{"type":"integer","default":60,"minimum":5,"maximum":1440}}}}}},"responses":{"200":{"description":"Envelope with `shift_assignment_id` and `reminder_enabled`, plus `reminder_lead_minutes` and `fire_at_ts` when enabled"}}}},"/user/punch_event/clock":{"post":{"tags":["Clock"],"summary":"Record one clock event","description":"`direction` may be omitted. The server then toggles from the employee's last\npunch: `in` to `out`, `out` to `in`, `break_start` to `break_end`,\n`break_end` to `out`, and `in` when there is no punch.\n\nA break is always asked for. Send `break_start` to begin one, because the\ntoggle never produces it.\n\n**`client_punch_id` is the idempotency key.** A repeat of a stored key\nreturns the stored punch with `idempotent_replay: true` and writes nothing,\nwhen that punch is still the employee's latest and the request names its\ndirection or none. A request that sends the stored punch's own reported\n`punch_ts` also replays. Otherwise the key is refused with `PUNCH_KEY_SUPERSEDED`,\ncarrying `latest_direction` and `latest_punch_ts`. `PUNCH_CHECK_FAILED` means\nthe check could not run and nothing was written.\n\n**Clock-in near the site.** A site can allow clock-in only nearby\n(`clock_in_near_site` on the tenant's site, with its coordinates). Then\nyour own clock-in with `source: mobile` (the default here) is refused\nwhen the roster row is at that site. With no usable `latitude` and\n`longitude` the refusal is `CLOCK_IN_LOCATION_NEEDED` with `data`\n`{radius_m}`. Farther than the radius is `CLOCK_IN_TOO_FAR` with `data`\n`{distance_m, radius_m}`. The radius is the shift definition's\n`geofence_radius_m`, at least 161, or 805 (0.5 miles) when it is 0.\nClock-out, breaks, other sources, clocking someone else and a punch with\nno roster row are not refused. `policy.clock_in_near_site` on `/status`\ntells the app to send its location. An idempotent replay is answered\nbefore this check.\n\nApart from that, the clock does not refuse a punch for a missing roster\nrow, a geofence miss or missing evidence. Those are returned in\n`exception_list`:\n`unscheduled`, `geofence_violation`, `location_missing`, `photo_missing`,\n`verification_missing` (the row requires `device_biometric`),\n`duplicate_suppressed` (same direction within 90 seconds of the latest\npunch; stored with `status: duplicate`) and `unscheduled_at_site`.\n\n`punch_ts` may be sent (epoch seconds or ISO 8601). More than 5 minutes in\nthe future is `PUNCH_TS_IN_FUTURE`. More than 7 days back is\n`PUNCH_TS_TOO_OLD`.\n\nClocking yourself needs no privilege. Clocking someone else needs `C` on\n`punch_event` (`NOT_AUTHORIZED_FOR_EMPLOYEE`). A caller whose roles name\nsites may clock someone else only when that person belongs at one of their\nsites (`EMPLOYEE_NOT_AT_YOUR_SITE`). For that caller, a malformed or unknown\nid is also `EMPLOYEE_NOT_AT_YOUR_SITE`. A person with no roster row there is\nrecorded at the caller's site and flagged `unscheduled_at_site`.\n\nOther refusals: `PUNCH_DIRECTION_INVALID`, `PUNCH_SOURCE_INVALID`,\n`PUNCH_VERIFICATION_INVALID`, `PUNCH_VERIFICATION_NOT_SELF_SERVICE`,\n`BREAK_TYPE_INVALID`, `PUNCH_TS_INVALID`, `EMPLOYEE_NOT_FOUND`,\n`EMPLOYEE_USERID_INVALID`, `EMPLOYEE_LOOKUP_FAILED` (the user read failed),\n`PUNCH_DUPLICATE` (a punch with the same `client_punch_id` was written at\nthe same moment and could not be read back).\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClockRequest"}}}},"responses":{"200":{"description":"Envelope with `punch_event_id`, `punch_event`, `exception_list`, `idempotent_replay` and `message` (\"Punch recorded\" or \"Already recorded\")","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClockResponse"}}}}}}},"/user/punch_event/status":{"post":{"tags":["Clock"],"summary":"Current clock state, and the shift's verification policy","description":"Derived from the employee's last punch. `employee_userid` defaults to the\ncaller. Another employee needs `R` on `punch_event`\n(`NOT_AUTHORIZED_FOR_EMPLOYEE`), and a caller whose roles name sites sees\nonly people at those sites (`EMPLOYEE_NOT_AT_YOUR_SITE`).\n\n`policy` is read off the roster row the current time falls in. Failing that,\nit uses the row whose start is nearest to now. Only rows that start within\nthe next 4 hours or ended within the last 4 hours count. With no such row,\nevery requirement is false and `source` is `default`.\n\n`can_clock_others` is true when the caller has `C` on `punch_event` (a real\nadmin only, on a tenant with role hierarchy off).\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"employee_userid":{"type":"string"}}}}}},"responses":{"200":{"description":"Envelope with clock state, `policy` and `can_clock_others`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClockStatusResponse"}}}}}}},"/user/punch_event/badge":{"post":{"tags":["Clock"],"summary":"Mint this user's badge QR","description":"A signed token for the caller, valid for 90 seconds. It carries the caller\n(`u`), the tenant (`t`), a nonce (`n`), the claimed `verification` (`v`), and\nthe caller's `lat`, `lon` and `acc` when sent. There is no parameter for\nanother person.\n\nThe token carries `typ: wf_badge`. `/scan` refuses a token without it. The\nnonce becomes the punch's `client_punch_id`. Scanning the same badge again\nreplays the first punch while it is still the employee's latest.\n\n`verification` accepts the self-service values. Refusals:\n`PUNCH_VERIFICATION_INVALID`, `PUNCH_VERIFICATION_NOT_SELF_SERVICE`.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"verification":{"type":"string","enum":["none","selfie","device_biometric","pin","access_code"],"default":"none"},"latitude":{"type":"number"},"longitude":{"type":"number"},"location_accuracy_m":{"type":"number"}}}}}},"responses":{"200":{"description":"Envelope with `badge_token`, `expires_ts`, `ttl_seconds`, `employee_userid`"}}}},"/user/punch_event/scan":{"post":{"tags":["Clock"],"summary":"Clock the employee named by a scanned badge (terminal)","description":"**Direction is not accepted.** It is toggled from the employee's last punch,\nby the same rule as `POST /user/punch_event/clock`. A scan after a\n`break_end` records `out`, so a badge site can close the day. A scan never\nstarts a break.\n\nLocation: the position sealed in the badge wins, stamped\n`location_source: employee_device`. Without one, the terminal's `latitude`\nand `longitude` are used, stamped `location_source: terminal`.\n\n`source` is `kiosk`, `mobile` or `terminal` (default `terminal`).\n\nReturns the punch plus `scan_display`: the employee's name, avatar URL,\ndirection, `work_shift_name`, and `scheduled` (false when the punch carries\n`unscheduled`).\n\nClocking somebody else needs `C` on `punch_event`, so a terminal must be\nsigned in as an account that has it.\n\nAn expired badge whose nonce already has a punch replays that punch, while\nit is still the employee's latest punch. After a later punch it is\n`PUNCH_KEY_SUPERSEDED`. An expired badge with no punch is `BADGE_EXPIRED`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["badge_token"],"properties":{"badge_token":{"type":"string"},"source":{"type":"string","enum":["kiosk","mobile","terminal"],"default":"terminal"},"device_id":{"type":"string"},"device_name":{"type":"string"},"terminal_id":{"type":"string"},"device_model":{"type":"string"},"device_platform":{"type":"string"},"app_version":{"type":"string"},"latitude":{"type":"number"},"longitude":{"type":"number"},"location_accuracy_m":{"type":"number"}}}}}},"responses":{"200":{"description":"Envelope with the punch plus `scan_display`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClockResponse"}}}},"default":{"description":"`BADGE_TOKEN_REQUIRED` \u00b7 `BADGE_EXPIRED` \u00b7 `BADGE_INVALID` (not a badge,\nor not signed by this server) \u00b7 `BADGE_WRONG_TENANT` (a badge from\nanother tenant) \u00b7 `PUNCH_SOURCE_INVALID` \u00b7 `NOT_AUTHORIZED_FOR_EMPLOYEE` \u00b7\n`PUNCH_KEY_SUPERSEDED` \u00b7 `PUNCH_CHECK_FAILED` \u00b7\n`EMPLOYEE_NOT_AT_YOUR_SITE` \u00b7 `EMPLOYEE_NOT_FOUND` \u00b7 `ROLE_MISSING`\n(these three from the clock path)\n"}}}},"/user/punch_event/breaks":{"post":{"tags":["Clock"],"summary":"Break entries, as start/end pairs","description":"Pairs `break_start` and `break_end` punches from the punch log, per\nemployee. Reads the caller's visible punches. Naming another\n`employee_userid` needs `R` on `punch_event` (`NOT_AUTHORIZED_FOR_EMPLOYEE`).\n\nA break with only one half is returned with `taken: false` and a **null**\n`duration_minutes`. Entries are sorted newest first, then paged. At most\n2000 break punches are read, and `truncated` says when that limit was hit.\n\n`break_type` and `is_paid` are read from the stored `break_start` punch, not\nrecomputed. A pair whose start falls outside the window has `break_type:\n\"\"`, `break_name: \"Break\"` and `is_paid: false`.\n\n`date_from` after `date_to`, or a value that is not a number, is\n`INVALID_DATE_RANGE`.\n","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"date_from":{"type":"integer","description":"epoch seconds"},"date_to":{"type":"integer","description":"epoch seconds"},"employee_userid":{"type":"string"},"page_num":{"type":"integer","default":1},"page_size":{"type":"integer","default":50,"maximum":500}}}}}},"responses":{"200":{"description":"Envelope with `break_entries`, `total_count`, `page_num`, `page_size`,\n`truncated`. Each entry: `employee_userid`, `employee_name`, `break_name`\n(Meal, Rest or Break), `break_type`, `is_paid`, `start_ts`, `end_ts`,\n`duration_minutes`, `duration_hours`, `taken`, `punch_date_str`,\n`site_code`, `shift_assignment_id`, `start_punch_id`, `end_punch_id`.\n"}}}},"/user/punch_event/ingest":{"post":{"tags":["Clock"],"summary":"Batch ingest from a terminal","description":"For a device that queued punches. Each entry is a clock request with its\nown `employee_userid`, `punch_ts` and `client_punch_id`. `source` defaults\nto `terminal`. A repeat of a stored key is counted in `replayed_count`. A\nrefused entry is named by index in `failed` and does not stop the others.\n\nNeeds `C` on `punch_event` (`NOT_AUTHORIZED_FOR_INGEST`). At most 500\nentries (`PUNCH_BATCH_TOO_LARGE`). An empty list is `PUNCH_LIST_REQUIRED`.\nThe 7-day back-dating limit does not apply here.\n\nAn entry with no `employee_userid` is a punch for the signed-in account,\nwhich on a terminal is the terminal's own user. Send `employee_userid`\non every entry.\n\nOn a tenant without Workforce Pro the call still answers `result: 1`.\nEach entry is then in `failed` with `WORKFORCE_REQUIRES_PRO`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["punch_list"],"properties":{"source":{"type":"string","default":"terminal"},"punch_list":{"type":"array","maxItems":500,"items":{"$ref":"#/components/schemas/ClockRequest"}}}}}}},"responses":{"200":{"description":"Envelope with `accepted_count`, `accepted_ids`, `replayed_count`,\n`replayed_ids`, `failed_count`, `failed` (`[{index, employee_userid,\nclient_punch_id, error_code}]`), `submitted_count` and\n`max_batch_size` (500). A `PUNCH_KEY_SUPERSEDED` row also carries\n`latest_direction` and `latest_punch_ts`. An entry that is not an\nobject is `{index, error_code: PUNCH_MALFORMED}`. An unexpected failure\nis `{index, employee_userid, error_code: PUNCH_FAILED}`.\n"}}}},"/user/punch_event/manage":{"post":{"tags":["Clock"],"summary":"List or correct punches","description":"`action`: `add` | `update` | `delete` | `get` | `get_entity_ids`.\n`update`, `delete` and a single `get` name the row with a top-level\n`punch_event_id`.\n\n`get` needs no privilege and returns the caller's visible punches, newest\nfirst. `add`, `update` and `delete` need `C`, `U` and `D` on `punch_event`\n(`NOT_AUTHORIZED_TO_EDIT_PUNCH`).\n\n`add` records a punch through the clock path with `source` defaulting to\n`manual`, as `POST /user/punch_event` does. On a tenant with role hierarchy\noff, only a real admin may `add` (`NOT_AUTHORIZED_FOR_PUNCH_EVENT`). A punch\nfor yourself keeps the `/clock` limits: `PUNCH_TS_TOO_OLD` and\n`PUNCH_VERIFICATION_NOT_SELF_SERVICE`. `update` may change `punch_ts`,\n`direction`, `break_type`, `status` and `notes`. `break_is_paid` is derived\nfrom `break_type` by the server. Sending `direction` derives both again, so\na punch moved off `break_start` carries no break kind away.\nChanging `punch_ts` needs `edit_reason` (`PUNCH_EDIT_REASON_REQUIRED`), keeps\nthe first reported time in `original_punch_ts`, and sets `is_edited`,\n`edited_by_userid` and `edited_ts`.\n\nA punch on a locked register day cannot be updated or deleted\n(`ATTENDANCE_DAY_LOCKED`). A caller whose roles name sites edits only punches\nat those sites (`EMPLOYEE_NOT_AT_YOUR_SITE`). A list read caps `page_size`\nat 500.\n\nOther refusals: `PUNCH_EVENT_ID_REQUIRED`, `PUNCH_EVENT_ID_INVALID`,\n`PUNCH_EVENT_NOT_FOUND`, `PUNCH_STATUS_INVALID`, `PUNCH_DIRECTION_INVALID`,\n`PUNCH_EDIT_REASON_REQUIRED`, `ATTENDANCE_LOCK_CHECK_FAILED` (the lock\ncould not be read).\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageRequest"},"examples":{"correct":{"value":{"action":"update","punch_event_id":"6a86147de558c062f9167190","payload":{"punch_ts":1787400000,"edit_reason":"terminal clock was 10 minutes fast"}}}}}}},"responses":{"200":{"description":"Standard envelope keyed `punch_event`. A `delete` with `ids_list` returns `deleted_ids`, `refused` (`[{punch_event_id, error_code}]`) and `deleted_count`."}}}},"/user/punch_event/picklist":{"get":{"tags":["Clock"],"summary":"Compact punch list for pickers (query string)","description":"The same as POST, with the arguments in the query string. This is what the\nweb app's reference picker sends. Object arguments are JSON. Before\n2026-09-30 this route answered 405 to GET, and the picker showed an empty list.\n","parameters":[{"name":"match_filter_dict","in":"query","schema":{"type":"string"},"description":"JSON object. A value that does not parse as an object is dropped, and the list comes back unfiltered."},{"name":"search_text","in":"query","schema":{"type":"string"}},{"name":"page_num","in":"query","schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","schema":{"type":"integer"}},{"name":"sort_dict","in":"query","schema":{"type":"string"},"description":"JSON object. Accepted and ignored: the order is fixed, as for POST."}],"responses":{"200":{"description":"Envelope with a compact `punch_event` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"punch_event":{"type":"array","items":{"type":"object","properties":{"punch_event_id":{"type":"string"},"name":{"type":"string","description":"\"employee_name direction @ punch_date_str\""},"employee_userid":{"type":"string"},"direction":{"type":"string"},"punch_ts":{"type":"integer"},"status":{"type":"string"}}}},"total_count":{"type":"integer"}}}]}}}}}},"post":{"tags":["Clock"],"summary":"Compact punch list for pickers","description":"Newest first. `page_size` is capped at 500.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match_filter_dict":{"type":"object"},"search_text":{"type":"string"},"page_num":{"type":"integer","default":1},"page_size":{"type":"integer","default":50,"maximum":500}}}}}},"responses":{"200":{"description":"Envelope with a compact `punch_event` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"punch_event":{"type":"array","items":{"type":"object","properties":{"punch_event_id":{"type":"string"},"name":{"type":"string","description":"\"employee_name direction @ punch_date_str\""},"employee_userid":{"type":"string"},"direction":{"type":"string"},"punch_ts":{"type":"integer"},"status":{"type":"string"}}}},"total_count":{"type":"integer"}}}]}}}}}}},"/user/attendance_day/process":{"post":{"tags":["Attendance Register"],"summary":"Compute the register for a day (or a range)","description":"One day: `employee_userid` and `work_date_str`, both sent. Without both,\nthe call is read as a range. A range: `from_date_str` and\n`to_date_str` (at most 62 days, else `DATE_RANGE_TOO_LARGE`), optionally\nnarrowed by `employee_userid_list`. A range processes each person and date\nthat has a punch or a non-cancelled roster row, and each day whose shift\napproved time off removed.\n\nA day with no punches inside the person's approved time off is `leave`\nwith `absence_is_authorized: true`, never `absent`.\n\nRe-processing updates the existing day and leaves `manual_adjust_minutes`\nunchanged. It marks the day's punches `processed` and the roster row\n`completed`.\n\nA **locked** day is refused with `ATTENDANCE_DAY_LOCKED`. In a range,\nlocked days are listed in `skipped` and other refusals in `failed`.\n`force` is accepted and changes nothing.\n\nOn a tenant without Workforce Pro, one day is refused with\n`WORKFORCE_REQUIRES_PRO`. A range answers `result: 1`, with each day in\n`failed` carrying `WORKFORCE_REQUIRES_PRO`.\n\n**Only unpaid break time comes off the hours.** A break's kind is read from\nits `break_start` punch. `break_is_paid` is true for `rest` and false for\n`meal`, `other` and a break sent with no type.\n\nPaid punched minutes are capped at the shift's `paid_break_minutes`.\nMinutes over that allowance become unpaid break, come off the hours, and\nadd the `break_over_allowance` exception to the day. A day with no shift\nhas no allowance, so every punched break on it is unpaid.\n\nDeduction, when an unpaid break was punched: the punched unpaid minutes.\nWhen a break punch is left unpaired, the larger of the punched unpaid\nminutes and the shift's `unpaid_break_minutes`. With no unpaid break punch,\nthe shift's `unpaid_break_minutes`. A break end with no start counts as an\nunpaid break punch.\n\nThe day's `paid_break_minutes` is the capped punched paid time when the day\nhas break punches. With no break punches it is the shift's\n`paid_break_minutes`. Daily overtime is applied here.\n\n`auto_clock_out` on the shift definition closes an open span at the roster\nrow's `end_ts` when that time is past and after the first clock-in. The day\nis stamped `auto_clocked_out` and flagged `auto_clock_out`. Without it an\nopen span adds no minutes and is flagged `missing_punch`.\n\nNeeds `C` on `attendance_day` (`NOT_AUTHORIZED_TO_PROCESS`). A caller whose\nroles name sites processes only days at those sites. A range leaves other\nsites' days out. One day at another site is `SITE_NOT_ALLOWED`. An\nunreadable `work_date_str` is `WORK_DATE_INVALID`. A missing or\nunreadable range is `DATE_RANGE_INVALID`. So is a request with\n`work_date_str` and no `employee_userid`, or `employee_userid` and no\n`work_date_str`, because it is read as a range.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"employee_userid":{"type":"string"},"work_date_str":{"type":"string","example":"2026-08-24","description":"Send YYYY-MM-DD with zero padding. A form such as \"2026-8-24\" or a timestamp is accepted, stored as sent, and matches no punches."},"from_date_str":{"type":"string"},"to_date_str":{"type":"string"},"employee_userid_list":{"type":"array","items":{"type":"string"}},"force":{"type":"boolean","default":false,"description":"Accepted and ignored"}}}}}},"responses":{"200":{"description":"One day: `attendance_day_id` and `attendance_day`. A range:\n`processed_count`, `processed_ids`, `skipped_count`, `skipped`,\n`failed_count`, `failed` (`[{employee_userid, work_date_str,\nerror_code}]`), `days_in_range`, `targets` and `max_days` (62).\n"}}}},"/user/attendance_day/manage":{"post":{"tags":["Attendance Register"],"summary":"List, adjust, approve, approve overtime, lock or unlock register days","description":"`action`: `get` | `get_entity_ids` | `adjust` | `approve` | `unapprove` |\n`approve_overtime` | `unapprove_overtime` | `lock` | `unlock`. Name one day\nwith a top-level `attendance_day_id`, or several with `ids_list`.\n\n`get` needs no privilege and returns the caller's visible days. `adjust`,\n`approve`, `unapprove`, `approve_overtime`, `unapprove_overtime` and `lock`\nneed `U` on `attendance_day`. **`unlock` needs both `U` and `D`.** Refusals:\n`NOT_AUTHORIZED_FOR_REGISTER`, and for `unlock` also\n`NOT_AUTHORIZED_TO_UNLOCK`. A missing id is `ATTENDANCE_DAY_ID_REQUIRED`,\nand a malformed one is `ATTENDANCE_DAY_ID_INVALID`.\n\n`absence_is_authorized` on `adjust` and `approve_overtime` on `approve`\nare read as true for any non-empty value. Send JSON booleans: the string\n\"false\" counts as true.\n\n| Action | Payload | Rules |\n|---|---|---|\n| `adjust` | `manual_adjust_minutes`, `adjustment_reason`, `remarks`, `status`, `absence_is_authorized` | Reason required (`ADJUSTMENT_REASON_REQUIRED`). A missing adjustment is 0. A decimal number is cut to a whole number. Text that is not a whole number is `ADJUSTMENT_MINUTES_INVALID`. Worked + adjustment below 0 is `ADJUSTMENT_EXCEEDS_WORKED`. An unknown `status` is `ATTENDANCE_STATUS_INVALID`. Refused on a locked day. |\n| `approve` | `approve_overtime` | Sets `is_approved`, `approved_by_userid` and `approved_ts`. With `approve_overtime: true` it also sets `ot_approved`, `ot_approved_by_userid` and `ot_approved_ts`. Refused on a locked day. |\n| `unapprove` | | Clears `is_approved`, `approved_by_userid` and `approved_ts`. The overtime approval stays as it is. Refused on a locked day. |\n| `approve_overtime` | | Sets `ot_approved`, `ot_approved_by_userid` and `ot_approved_ts`. Leaves `is_approved`, `approved_by_userid` and `approved_ts` as they stand. The day need not be approved. Refused on a locked day. |\n| `unapprove_overtime` | | Clears `ot_approved`, `ot_approved_by_userid` and `ot_approved_ts`. The day's own approval stays as it is. Refused on a locked day. |\n| `lock` | `payroll_batch_id` | The day must be approved (`ATTENDANCE_DAY_NOT_APPROVED`). |\n| `unlock` | `unlock_reason` | Reason required (`UNLOCK_REASON_REQUIRED`). Logged in `meta.unlock_log`. |\n\n**Choosing between `approve` and `approve_overtime`.** On a day that is\nalready approved, `approve` rewrites `approved_by_userid` and `approved_ts`.\n`approve_overtime` leaves the day's approval intact. Use it to sign off\novertime on a day somebody else approved.\n\nThe refusal message for `approve_overtime` reads \"You do not have permission\nto approve overtime on attendance records\". For `unapprove_overtime` it reads\n\"You do not have permission to remove the overtime approval on attendance\nrecords\". The `error_code` and the `action` field in the response carry the\nwire value.\n\nWith `ids_list`, each day is handled on its own, and the response is\n`{action, succeeded_ids, succeeded_count, refused: [{attendance_day_id,\nerror_code}], refused_count}`. A caller whose roles name sites acts only on\ndays at those sites (`SITE_NOT_ALLOWED`). A list read caps `page_size` at\n500.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageRequest"},"examples":{"adjust":{"value":{"action":"adjust","attendance_day_id":"6a86147de558c062f91671a0","payload":{"manual_adjust_minutes":15,"adjustment_reason":"terminal offline at close"}}},"approve_overtime":{"value":{"action":"approve_overtime","attendance_day_id":"6a86147de558c062f91671a0"}},"approve_overtime_many":{"value":{"action":"approve_overtime","ids_list":["6a86147de558c062f91671a0","6a86147de558c062f91671a1"]}}}}}},"responses":{"200":{"description":"`get` and `get_entity_ids` return an `attendance_day` array and `total_count` (this schema). Another action on one day returns `attendance_day_id` and one `attendance_day` object. With `ids_list`, the bulk shape above.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AttendanceDayListResponse"}}}}}}},"/user/attendance_day/picklist":{"get":{"tags":["Attendance Register"],"summary":"Compact register list for pickers (query string)","description":"The same as POST, with the arguments in the query string. This is what the\nweb app's reference picker sends. Object arguments are JSON. Before\n2026-09-30 this route answered 405 to GET, and the picker showed an empty list.\n","parameters":[{"name":"match_filter_dict","in":"query","schema":{"type":"string"},"description":"JSON object. A value that does not parse as an object is dropped, and the list comes back unfiltered."},{"name":"search_text","in":"query","schema":{"type":"string"}},{"name":"page_num","in":"query","schema":{"type":"integer","default":1}},{"name":"page_size","in":"query","schema":{"type":"integer"}},{"name":"sort_dict","in":"query","schema":{"type":"string"},"description":"JSON object. Accepted and ignored: the order is fixed, as for POST."}],"responses":{"200":{"description":"Envelope with a compact `attendance_day` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"attendance_day":{"type":"array","items":{"type":"object","properties":{"attendance_day_id":{"type":"string"},"name":{"type":"string","description":"\"employee_name - work_date_str\""},"employee_userid":{"type":"string"},"work_date_str":{"type":"string"},"status":{"type":"string"},"worked_minutes":{"type":"integer"}}}},"total_count":{"type":"integer"}}}]}}}}}},"post":{"tags":["Attendance Register"],"summary":"Compact register list for pickers","description":"`page_size` is capped at 500.","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"match_filter_dict":{"type":"object"},"search_text":{"type":"string"},"page_num":{"type":"integer","default":1},"page_size":{"type":"integer","default":50,"maximum":500}}}}}},"responses":{"200":{"description":"Envelope with a compact `attendance_day` list","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"attendance_day":{"type":"array","items":{"type":"object","properties":{"attendance_day_id":{"type":"string"},"name":{"type":"string","description":"\"employee_name - work_date_str\""},"employee_userid":{"type":"string"},"work_date_str":{"type":"string"},"status":{"type":"string"},"worked_minutes":{"type":"integer"}}}},"total_count":{"type":"integer"}}}]}}}}}}},"/user/attendance_day/summary":{"post":{"tags":["Attendance Register"],"summary":"Hours, overtime and lateness totals over a range","description":"`group_by` is `employee` (default) or `date` (`GROUP_BY_INVALID`).\n\n**A supervisor totals other people. Everyone else totals themselves.** A\nsupervisor is a tenant admin, or a holder of `U` on `shift_assignment`, or\na holder of `U` on `attendance_day`.\n\nFor a caller who is not a supervisor, an empty or absent\n`employee_userid_list` answers with their own rows. Their own userid alone\nis also accepted. Naming anybody else is `NOT_AUTHORIZED_FOR_REGISTER`.\n`R` on `attendance_day` does not lift this: the seeded employee role holds\n`R`. A caller whose roles could not be read gets `SCOPE_UNAVAILABLE` or\n`ROLE_MISSING`.\n\nA caller without `R` on `attendance_day` also gets their own rows. Naming\nanyone else is `NOT_AUTHORIZED_FOR_EMPLOYEE`, refused by the handler before\nthe rules above run.\n\nA supervisor whose roles name sites gets days at those sites, days with no\nsite of people whose roles name those sites, and their own. A missing or\nunreadable date is `DATE_RANGE_INVALID`. `from_date_str` after\n`to_date_str` answers `result: 1` with empty `rows`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["from_date_str","to_date_str"],"properties":{"from_date_str":{"type":"string"},"to_date_str":{"type":"string"},"employee_userid_list":{"type":"array","items":{"type":"string"},"description":"Send an array. A string is read one character at a time."},"group_by":{"type":"string","enum":["employee","date"],"default":"employee"}}}}}},"responses":{"200":{"description":"Envelope with `group_by`, `from_date_str`, `to_date_str`, `row_count` and\n`rows`. Each row: `key`, `employee_userid`, `work_date_str`,\n`employee_name`, `days`, `worked_minutes`, `worked_hours`,\n`regular_minutes`, `overtime_minutes`, `overtime_hours`,\n`manual_adjust_minutes`, `payable_minutes`, `payable_hours`,\n`late_minutes`, `early_departure_minutes`, `present_days`,\n`absent_days`, `partial_days`, `exception_days`, `approved_days`,\n`locked_days`, `last_work_date`.\n"}}}},"/user/attendance_day/weekly_overtime":{"post":{"tags":["Attendance Register"],"summary":"Apply weekly overtime across one employee's week","description":"The week is `week_start_date_str` and the 6 days after it. The threshold is\nthe smallest `ot_after_weekly_minutes` among that week's shift definitions\nwith `ot_basis` `weekly` or `both`. Minutes over it become overtime on the\nlast days of the week first. A day's existing daily overtime is never\nreduced. Locked days are left unchanged and counted in `skipped_locked`.\n\nNeeds `U` on `attendance_day` (`NOT_AUTHORIZED_TO_PROCESS`, or\n`NOT_AUTHORIZED_FOR_REGISTER` on a tenant with role hierarchy off). A missing\nor unreadable `week_start_date_str` is `WORK_DATE_INVALID`. A day at a site\nthe caller does not manage is `SITE_NOT_ALLOWED`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["week_start_date_str"],"properties":{"employee_userid":{"type":"string","description":"Not checked. Without it no days are found, and the answer is `{\"result\": 1, \"updated_count\": 0, \"skipped_locked\": 0, \"weekly_overtime_minutes\": 0, \"message\": \"Updated 0 day(s)\"}`."},"week_start_date_str":{"type":"string","example":"2026-08-24"}}}}}},"responses":{"200":{"description":"Envelope with `updated_count`, `skipped_locked`, `weekly_overtime_minutes`, and `week_worked_minutes` and `threshold_minutes` when a weekly policy applies. With days but no weekly policy, `note` says so."}}}},"/user/shift_change_request/manage":{"post":{"tags":["Change Requests"],"summary":"Raise, list or withdraw a change request","description":"`action`: `add` | `get` | `withdraw`.\n\n`request_type` (default `drop`): `drop` (take me off\n`shift_assignment_id`), `pickup` (put me on `requested_work_shift_id` on\n`requested_shift_date_str`), or `swap` (both).\n\n**Future shifts only**, on both sides: `SHIFT_ALREADY_STARTED`,\n`REQUESTED_SHIFT_NOT_IN_FUTURE`.\n\nRaising one for **yourself** needs no privilege. Raising one for someone else\n(`payload.employee_userid`) needs `C` on `shift_assignment` at the sites the\nrequest touches. The shift given up must belong to the person the request is\nfor (`NOT_YOUR_ASSIGNMENT`). One pending request per shift per person\n(`REQUEST_ALREADY_OPEN`).\n\n`get` returns the caller's own requests. A supervisor gets every request\n(at their sites, when their roles name sites, plus their own).\n`whole_tenant` in the response says which. `get` caps `page_size` at 200. A\ntop-level `shift_change_request_id` reads one.\n\n`withdraw` (top-level `shift_change_request_id`) works only on a pending\nrequest (`REQUEST_ALREADY_DECIDED`). Withdrawing someone else's request needs\n`U` on `shift_assignment`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ManageRequest"},"examples":{"drop":{"value":{"action":"add","payload":{"request_type":"drop","shift_assignment_id":"6a8680d514d4a2e1253946af","reason":"childcare"}}},"pickup":{"value":{"action":"add","payload":{"request_type":"pickup","requested_work_shift_id":"6a86147de558c062f9167177","requested_shift_date_str":"2026-09-09","reason":"want extra hours"}}},"withdraw":{"value":{"action":"withdraw","shift_change_request_id":"6a8680d514d4a2e1253946b0"}}}}}},"responses":{"200":{"description":"`get`: a `shift_change_request` array, `total_count`, `whole_tenant`, `page_num` and `page_size` (this schema). `add`: `shift_change_request_id` and `shift_change_request` as one object. `withdraw`: `shift_change_request_id` and `status: withdrawn`.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeRequestListResponse"}}}},"default":{"description":"`INVALID_REQUEST_TYPE` \u00b7 `SHIFT_ASSIGNMENT_NOT_FOUND` \u00b7\n`REQUESTED_SHIFT_NOT_FOUND` \u00b7 `REQUESTED_DATE_REQUIRED` \u00b7\n`SHIFT_ALREADY_STARTED` \u00b7 `REQUESTED_SHIFT_NOT_IN_FUTURE` \u00b7\n`ASSIGNMENT_ALREADY_CANCELLED` \u00b7 `REQUEST_ALREADY_OPEN` \u00b7\n`NOT_YOUR_ASSIGNMENT` \u00b7 `NOT_AUTHORIZED_FOR_EMPLOYEE` \u00b7\n`REQUEST_ALREADY_DECIDED` \u00b7 `REQUEST_EXPIRED` \u00b7 `REQUEST_SHIFT_REMOVED` \u00b7\n`UNSUPPORTED_ACTION` \u00b7 `SITE_NOT_ALLOWED` \u00b7\n`SHIFT_CHANGE_REQUEST_NOT_FOUND` \u00b7 `SHIFT_CHANGE_REQUEST_ID_REQUIRED`\n"}}}},"/user/shift_change_request/decide":{"post":{"tags":["Change Requests"],"summary":"Approve or deny, and on approve apply the roster change","description":"**Approving applies the change in the same call.** A pickup creates a\n`published` roster row. A drop cancels the shift. A swap creates the new row\nfirst, then cancels the old one, and deletes the new row again if the cancel\nfails.\n\nNeeds `U` on `shift_assignment` for both answers (`NOT_AUTHORIZED_FOR_ROSTER`).\nApproving a pickup or swap also creates a row, which needs `C`. On this route,\na refusal from creating that row (for example `SHIFT_ASSIGNMENT_OVERLAP`)\ncarries its code in `error.error_code`. The top-level `error_code` is then\nbuilt from the message. `PATCH /user/shift_change_request/{id}` returns the\ncode as `error_code`. Nobody\ndecides their own request (`CANNOT_DECIDE_OWN_REQUEST`). A caller whose\nroles name sites decides only requests at those sites (`SITE_NOT_ALLOWED`).\n\nApproving checks again that the shift has not started\n(`SHIFT_ALREADY_STARTED`, `REQUESTED_SHIFT_NOT_IN_FUTURE`) and still\nbelongs to the requester (`REQUEST_OUTDATED`). Denying skips those checks.\n\n`backfill_required` is true when an approved drop cancelled a shift and\ncreated none. The server does not fill it.\n\nA decided request cannot be decided again (`REQUEST_ALREADY_DECIDED`). A\nrequest whose shift has ended is closed as `expired` first (this one\nrequest only), and deciding it is refused with `REQUEST_EXPIRED`: \"This request closed because\nthe shift ended.\" A request whose roster row was deleted is refused with\n`REQUEST_SHIFT_REMOVED`: \"This request closed because the shift was\nremoved.\" Withdrawing one is refused the same way.\n\nThe decision is written only while the request is still `pending`. When\nan expiry, a withdraw or another decision lands first, the loser is\nrefused: `REQUEST_EXPIRED` if the expiry won, `REQUEST_ALREADY_DECIDED`\notherwise. An approval claims the request before it changes the roster;\nif the roster change fails, the request goes back to `pending`. If the\nserver stops between the claim and the roster change, the hourly job\nsettles the request after 10 minutes from what the roster shows: the\nchange is recorded when it happened, and the request goes back to\n`pending` when it did not. A swap that got half way through is undone,\nand the request goes back to `pending` for a supervisor to answer again.\nEvery undo write is guarded on this request's own mark, so a row someone\nchanged since is left alone; a half that cannot be undone safely is left\nas it stands for a person to sort out.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["shift_change_request_id"],"properties":{"shift_change_request_id":{"type":"string"},"approve":{"type":"boolean","default":true,"description":"Send a JSON boolean. Only false, 0, \"no\" and \"none\" deny. Any other value, or none, approves and changes the roster."},"decision_note":{"type":"string","description":"Cut to 2000 characters"},"note":{"type":"string","description":"Read when `decision_note` is absent"}}}}}},"responses":{"200":{"description":"Envelope with `status` and `roster_changed`, plus the approve fields","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DecideResponse"}}}},"default":{"description":"`REQUEST_ALREADY_DECIDED` \u00b7 `REQUEST_EXPIRED` \u00b7 `REQUEST_SHIFT_REMOVED` \u00b7 `SHIFT_ALREADY_STARTED` \u00b7 `REQUESTED_SHIFT_NOT_IN_FUTURE` \u00b7 `REQUEST_OUTDATED` \u00b7 `CANNOT_DECIDE_OWN_REQUEST` \u00b7 `NOT_AUTHORIZED_FOR_ROSTER` \u00b7 `SHIFT_CHANGE_REQUEST_NOT_FOUND` \u00b7 `SITE_NOT_ALLOWED` \u00b7 `SHIFT_CHANGE_REQUEST_ID_REQUIRED`"}}}},"/user/shift_change_request/for_shifts":{"post":{"tags":["Change Requests"],"summary":"Which roster rows have an open request","description":"One call for a whole roster page. At most 200 ids are read. Requests whose\nshift has ended are not open, whether or not the server has closed them\nyet. This read writes nothing.\nA crew member gets answers only for their own shifts. A supervisor whose roles name sites\ngets answers only for shifts at those sites and their own.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"shift_assignment_ids":{"type":"array","items":{"type":"string"},"maxItems":200}}}}}},"responses":{"200":{"description":"Envelope with `open_requests` keyed by assignment id","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/Envelope"},{"type":"object","properties":{"assignment_count":{"type":"integer"},"open_requests":{"type":"object","additionalProperties":{"type":"array","items":{"type":"object","properties":{"shift_change_request_id":{"type":"string"},"request_type":{"type":"string"},"employee_name":{"type":"string"},"reason":{"type":"string"}}}}}}}]}}}}}}},"/user/workforce/me":{"get":{"tags":["Supervisor"],"summary":"Who am I. Supervisor flags, action flags and sites","description":"Roles are read from the database on every call. `can` flags are all false\nfor a caller who is not a supervisor (a tenant admin, or `U` on\n`shift_assignment`).\n\n| flag | From |\n|---|---|\n| `shift_create` / `shift_update` / `shift_delete` | `shift_assignment` C / U / D |\n| `clock_others` | `punch_event` C |\n| `decide_drops` | `shift_assignment` U |\n| `decide_pickups`, `decide_requests` | `shift_assignment` U and C |\n| `shift_definition_create` / `_update` / `_delete` | `work_shift` C / U / D, site scoped |\n| `crew_manage` | being a supervisor; crews are managed at the caller's sites |\n\n`modules` carries the letters (`C`, `R`, `U`, `D`, `A`) for\n`shift_assignment`, `punch_event`, `shift_change_request`, `work_shift`,\n`attendance_day` and `time_off`. Deciding time off takes `U` on\n`shift_assignment`, the same as `decide_drops`.\n\n`sites`: for an all-sites supervisor, the tenant's sites; for a supervisor\nwhose roles name sites, those sites; for anyone else, the sites their roles\nname.\n\nRefusals: `SCOPE_UNAVAILABLE` (retry), `ROLE_MISSING`.\n","responses":{"200":{"description":"Envelope","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"is_supervisor":{"type":"boolean"},"is_tenant_admin":{"type":"boolean"},"all_sites":{"type":"boolean"},"sites":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"}}}},"can":{"type":"object","additionalProperties":{"type":"boolean"}},"modules":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/user/workforce/roster":{"post":{"tags":["Supervisor"],"summary":"The roster at a site. Day, Week, By person, By shift","description":"Every shift at one site over a window of at most 42 days. `from_date` is\nrequired; `to_date` defaults to it. Optional filters, in any combination:\n`employee_userid` (By person), `work_shift_id` (By shift), `crew_id` (shifts\nassigned through that crew). An all-sites supervisor may omit `site_code`\nto read every site. At most 2000 shifts are returned, and `truncated` says\nwhen more exist.\n\nA supervisor whose roles name sites must send one of them as `site_code`.\n\n**A crew member who is not a supervisor may ask only for themselves**:\n`employee_userid` equal to their own id. They get their own shifts at any\nsite, never a draft, no walk-ins and an empty `staffing`. Anything else is\n`NOT_A_SUPERVISOR`.\n\n`live` is present on today's non-cancelled shifts: `{state, clock_in_ts}`,\nwhere `state` is `not_started`, `on_the_clock`, `on_break`, `late`,\n`no_show` or `done`. `walk_ins` lists people clocked today with\n`unscheduled_at_site` at the site, when the window includes today:\n`{employee_userid, employee_name, site_code, clock_in_ts, state,\npunch_count}`. `timezone` is the site's `timeZone` from the tenant's site\nlist, else the tenant's.\n\n**Headcount.** `staffing` lists shift definitions by day:\n`{work_shift_id, work_shift_name, shift_date_str, people_needed,\npeople_count, short_by}`, sorted by date then name. It covers every\ndefinition and day that has a row in this read, and with `work_shift_id`\nalso every day in the window the definition runs on when it has\n`people_needed`. `people_count` is distinct people on a non-cancelled shift\n(drafts count) at `site_code` (every site when none), whatever\n`search_text`, `include_drafts`, `include_cancelled`, `employee_userid` or\n`crew_id` leave in `shifts`. `short_by` is `people_needed - people_count`\nwhen above zero, else 0 (and 0 with no `people_needed`).\n\nRefusals: `NOT_A_SUPERVISOR`, `SITE_NOT_ALLOWED`, `RANGE_TOO_LONG`,\n`DATE_RANGE_INVALID`, `SCOPE_UNAVAILABLE`, `ROLE_MISSING`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["from_date"],"properties":{"site_code":{"type":"string"},"from_date":{"type":"string","example":"2026-09-14"},"to_date":{"type":"string","example":"2026-09-20"},"search_text":{"type":"string","description":"Matches the employee name, case and accents folded"},"include_drafts":{"type":"boolean","default":true},"include_cancelled":{"type":"boolean","default":true},"employee_userid":{"type":"string"},"work_shift_id":{"type":"string"},"crew_id":{"type":"string"}}}}}},"responses":{"200":{"description":"`{result, timezone, today, from_date, to_date, shift_count, truncated, walk_ins, shifts: [{id, employee_userid, employee_name, work_shift_id, work_shift_name, shift_date_str, start_ts, end_ts, site_code, status, assignment_type, notes, cancel_reason, timezone, crosses_midnight, job_title, crew_id, crew_name, recurrence_group_id, scheduled_minutes, times_overridden, start_time_min_override, end_time_min_override, live?}], staffing: [{work_shift_id, work_shift_name, shift_date_str, people_needed, people_count, short_by}]}`"}}}},"/user/workforce/site_crew":{"get":{"tags":["Supervisor"],"summary":"People a supervisor can put on a shift at a site","description":"Active users holding a role that names the site (`source: role`), plus\nanyone with a non-cancelled shift there in the window (`source: scheduled`).\nWith `include_unsited=true`, also users who hold at least one role, whose\nroles name no site and grant no supervisor rights, tenant admins excepted\n(`source: unsited`). A user with no role is left out. An\nall-sites supervisor who omits `site_code` gets every active user\n(`source: tenant`).\n\nThe window is `from_date` / `to_date` (one alone is used for both), default\n14 days back to 27 days ahead, at most 42 days. `search_text` matches the\nname only. At most 200 people are returned, and `truncated` says when more\nexist.\n\nRefusals: `NOT_A_SUPERVISOR`, `SITE_NOT_ALLOWED`, `RANGE_TOO_LONG`,\n`DATE_RANGE_INVALID`, `SCOPE_UNAVAILABLE`, `ROLE_MISSING`.\n","parameters":[{"name":"site_code","in":"query","schema":{"type":"string"}},{"name":"search_text","in":"query","schema":{"type":"string"}},{"name":"include_unsited","in":"query","schema":{"type":"boolean"}},{"name":"from_date","in":"query","schema":{"type":"string"}},{"name":"to_date","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"`{result, people: [{userid, name, email_masked, source, is_guest}], truncated}`"}}}},"/user/workforce/crew/list":{"get":{"tags":["Crews"],"summary":"List crews","description":"A supervisor gets the crews at their sites (every site for an all-sites\nsupervisor) plus any crew they are in. Anyone else gets only the crews they\nare a member of. Active crews unless `include_inactive=true`; active first,\nthen by name. `search_text` matches the name, case and accents folded.\nThere is no paging. At most 2000 crews are read, with no `truncated`\nflag, and `total_count` is the number returned.\nRefusals: `SCOPE_UNAVAILABLE`, `ROLE_MISSING`.\n","parameters":[{"name":"site_code","in":"query","schema":{"type":"string"}},{"name":"search_text","in":"query","schema":{"type":"string"}},{"name":"include_inactive","in":"query","schema":{"type":"boolean"}}],"responses":{"200":{"description":"Envelope","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer","example":1},"crew":{"type":"array","items":{"$ref":"#/components/schemas/Crew"}},"total_count":{"type":"integer"}}}}}}}}},"/user/workforce/crew":{"post":{"tags":["Crews"],"summary":"Create a crew","description":"Needs a supervisor at `site_code`. Rules, each a refusal:\n\n| error_code | data | When |\n|---|---|---|\n| `NOT_A_SUPERVISOR` | | caller is not a supervisor |\n| `SITE_NOT_ALLOWED` | | not one of the caller's sites (a blank site too, for a supervisor whose roles name sites) |\n| `SITE_CODE_INVALID` | | not an active registered site, when the tenant has active sites |\n| `CREW_NAME_REQUIRED` | | blank |\n| `CREW_NAME_TOO_LONG` | `{max_length}` | over 80 characters |\n| `CREW_NAME_EXISTS` | | an active crew at this site has the same name (case, accents and spaces folded) |\n| `CREW_MEMBERS_INVALID` | | not a list of user ids |\n| `CREW_TOO_MANY_MEMBERS` | `{max_members}` | over 200 |\n| `CREW_MEMBER_NOT_AT_SITE` | `{userid}` | not an active user of this tenant, or works at other sites and not this one: every one of their roles that names a site names another, and they have no shift here in the last 14 or next 27 days. A person whose roles name no site is at every site. A tenant admin is at every site, and on a tenant with role hierarchy off everyone is. |\n| `CREW_LEAD_NOT_A_MEMBER` | `{userid}` | the lead is not in `member_userid_list` |\n| `CREW_NOTES_TOO_LONG` | `{max_length}` | over 2000 characters |\n\nA person may be in several crews. Response: `{result: 1, message: \"Created\",\ncrew: {...with notes}}`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrewWrite"}}}},"responses":{"200":{"description":"Envelope with `crew`, or a refusal","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer"},"message":{"type":"string"},"crew":{"$ref":"#/components/schemas/Crew"}}}}}}}}},"/user/workforce/crew/{crew_id}":{"parameters":[{"name":"crew_id","in":"path","required":true,"description":"24-character hex id. Anything else does not match the route.","schema":{"type":"string","pattern":"^[0-9a-fA-F]{24}$"}}],"get":{"tags":["Crews"],"summary":"Read one crew","description":"For a supervisor at the crew's site or a member of the crew. Anyone else, and a crew of another tenant, gets `CREW_NOT_FOUND`.","responses":{"200":{"description":"`{result: 1, crew: {...with notes}}`"}}},"patch":{"tags":["Crews"],"summary":"Edit a crew","description":"Any of `name`, `lead_userid` (`\"\"` clears it), `member_userid_list` (the whole\nnew list), `notes`, `is_active`. Same refusals as create. Only people being\nadded are checked against the site. `site_code` cannot change\n(`CREW_SITE_CANNOT_CHANGE`). Setting `is_active: true` on an archived crew is\n`CREW_NAME_EXISTS` when an active crew has taken the name. A supervisor who\ncan read the crew as a member but does not manage its site gets\n`SITE_NOT_ALLOWED`.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CrewWrite"}}}},"responses":{"200":{"description":"`{result: 1, message: \"Updated\", crew: {...with notes}}`"}}},"delete":{"tags":["Crews"],"summary":"Archive or delete a crew","description":"When any shift carries this crew it is archived (`is_active: false`, kept so those shifts still resolve), otherwise deleted. Needs a supervisor at its site.","responses":{"200":{"description":"`{result: 1, crew_id, archived: true|false}`"}}}},"/user/mfa":{"get":{"tags":["Sign-in"],"summary":"The caller's one-time-code factors","description":"`mfa_active` is true when at least one factor gates sign-in. A factor in\n`pending_verify` does not. Destinations are masked.\n\nWhen the factors cannot be read, the answer is HTTP 500 with\n`{\"result\": 2, \"error_code\": \"MFA_LIST_ERROR\", \"error_message\": \"...\"}`.\n","responses":{"200":{"description":"Envelope","content":{"application/json":{"schema":{"type":"object","properties":{"result":{"type":"integer"},"mfa_active":{"type":"boolean"},"inactive_factor_count":{"type":"integer"},"factor_list":{"type":"array","items":{"type":"object","properties":{"factor_id":{"type":"string"},"type":{"type":"string","enum":["sms","email"]},"status":{"type":"string"},"challenge_destination_masked":{"type":"string"},"is_protecting_login":{"type":"boolean"},"enrolled_at":{"type":"string"}}}}}}}}}}},"post":{"tags":["Sign-in"],"summary":"Turn on one-time-code verification, or confirm it","description":"Four operations, chosen by `mfa_type`.\n\n| `mfa_type` | What it does |\n|---|---|\n| `email` | Enrolls `email` (default: the account's email) in `pending_verify` and **sends a code**. Any existing email factor is removed. The account's email must be confirmed. |\n| `email_verify` | Confirms that code and makes the email factor active. |\n| `sms` | Enrolls `phone_number` in `pending_verify` and **sends a code**. An existing SMS factor stays until `sms_verify` succeeds. |\n| `sms_verify` | Confirms that code and makes the SMS factor active. |\n\nA factor in `pending_verify` does not gate sign-in until its verify call\nsucceeds.\n\nWhen the account already has an active factor, `email` and `sms` need\n`password` in the body. So do `email_verify` and `sms_verify` when the account\nhas an active factor of the same type. Refusals: `PASSWORD_REQUIRED`,\n`PASSWORD_INCORRECT` (with `attempts_remaining`), and `ACCOUNT_LOCKED` after\ntoo many wrong passwords. An account with no password the owner could know\nis not asked: no stored password, or Sign in with Apple and a generated\npassword.\n\n`phone_number` is sent to the SMS provider in E.164. A number with a leading\n`+` keeps its country code. A number without one that has exactly 10 digits\nis read as `+1`. An empty value uses the account's phone.\n\nEmail codes live for **5 minutes**. `sms` refuses a new enrolment within 30\nseconds of the last one (`MFA_RESEND_TOO_SOON`, with\n`retry_after_seconds`).\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["mfa_type"],"properties":{"mfa_type":{"type":"string","enum":["email","email_verify","sms","sms_verify"]},"email":{"type":"string","description":"Optional for `email`; defaults to the account's email."},"phone_number":{"type":"string","description":"Required key for `sms`. Include the country code (E.164)."},"provider_challenge_id":{"type":"string","description":"Required for `email_verify` and `sms_verify`, from the enroll response."},"challenge_code":{"type":"string","description":"Required for `email_verify` and `sms_verify`. The code the user received."},"password":{"type":"string","description":"Required when the account already has an active factor (see above)."}}},"examples":{"enrollEmail":{"value":{"mfa_type":"email"}},"confirmEmail":{"value":{"mfa_type":"email_verify","provider_challenge_id":"6a1034f66cb436a54646c347","challenge_code":"123456"}},"enrollSms":{"value":{"mfa_type":"sms","phone_number":"+15555550100"}}}}}},"responses":{"200":{"description":"On enrollment, `factor_id`, `status`, `provider_challenge_id` and `challenge_destination`; email also returns `expires_at`. Refusals arrive as `{\"result\": 2}` at HTTP 200: `EMAIL_MFA_REQUIRES_CONFIRMED_EMAIL`, `EMAIL_MFA_NO_EMAIL`, `INVALID_MFA_CODE` (with `attempts_remaining`), `MFA_CHALLENGE_WRONG_PURPOSE`, `INVALID_MFA_TYPE`, `EMAIL_MFA_EXPIRED` (email or SMS), `MFA_CHALLENGE_EXHAUSTED`, `EMAIL_MFA_NOT_PENDING` (an email code already used or locked), `MFA_CHALLENGE_NOT_PENDING` (the same for SMS). A refusal is `{\"result\": 2, \"error_code\": \"...\", \"error_message\": \"...\"}`, with the message as a plain string.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OtpEnrollment"}}}}}},"delete":{"tags":["Sign-in"],"summary":"Turn off one-time-code verification","description":"`mfa_type` is `email`, `sms` or `all`. `all` removes both. With `sms`, an\noptional `factor_id` removes only that factor. Any other value removes\nnothing and answers `{\"result\": 1, \"message\": \"NO-ACTION\"}`.\n\nNeeds `password` in the body (`PASSWORD_REQUIRED`, `PASSWORD_INCORRECT`,\n`ACCOUNT_LOCKED`), with the same exemption as `POST`. The password is\nchecked for every `mfa_type` value. When no active factor remains, the account's trusted devices are revoked.\nA password refusal is `{\"result\": 2, \"error_code\": \"...\", \"error_message\":\n\"...\"}`, with the message as a plain string.\n\nThe fields are read from the **request body**. A body without `mfa_type` is\nnot handled. It answers HTTP 200 with `result: 2` and `status_code: 500` in\nthe body.\n","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["mfa_type"],"properties":{"mfa_type":{"type":"string","enum":["email","sms","all"]},"factor_id":{"type":"string","description":"Optional, with `sms`"},"password":{"type":"string"}}}}}},"responses":{"200":{"description":"Standard envelope"}}}},"/user/mfa/initiate":{"post":{"tags":["Sign-in"],"summary":"Send a code for a sign-in challenge","description":"Called when login returned several factors and the user picked one.\n`factor_id` must be one of the factors login offered\n(`MFA_FACTOR_NOT_IN_LIST`) and must be active (`MFA_FACTOR_NOT_ACTIVE`).\n\n`pre_mfa_token` is the credential here, because the user has no session yet.\nIt starts one challenge only: a second call with the same token is\n`PRE_MFA_TOKEN_ALREADY_USED` (HTTP 401). To send the code again, call\n`POST /user/mfa/verify` with `action: resend`.\n\nRefusals at HTTP 400 or 401: `MISSING_FIELDS`, `INVALID_PRE_MFA_TOKEN`,\n`USER_NOT_FOUND`, `MFA_FACTOR_NOT_FOUND`. More than 5 calls a minute from one\nIP address answer HTTP 429 `RATE_LIMIT_EXCEEDED`. At HTTP 200:\n`EMAIL_MFA_FACTOR_NOT_ACTIVE`, `EMAIL_MFA_REQUIRES_CONFIRMED_EMAIL` and\n`MFA_UNSUPPORTED_TYPE`.\n\nRefusals from this handler are `{\"result\": 2, \"error_code\": \"...\",\n\"error_message\": \"...\"}`, with the message as a plain string. Two use\n`error: {message}` instead: `INVALID_JSON` (HTTP 400) for a body that is\nnot JSON, and `RATE_LIMIT_EXCEEDED` or `BOT_DETECTED` from the shared\nsign-in check.\n","security":[],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["pre_mfa_token","factor_id"],"properties":{"pre_mfa_token":{"type":"string"},"factor_id":{"type":"string"}}}}}},"responses":{"200":{"description":"Challenge: `provider_challenge_id`, `challenge_destination`, `is_mfa_response: true`; email also `expires_at`"}}}},"/user/mfa/verify":{"post":{"tags":["Sign-in"],"summary":"Enter the code and finish signing in, or resend the code","description":"**Verify.** On success the session token is at **`user.token`**. With\n`trust_device: true` the response also carries `trust_device_token`. A wrong\ncode is `INVALID_MFA_CODE` with `attempts_remaining`. The fifth wrong code\nends the challenge with `MFA_CHALLENGE_EXHAUSTED`. An expired code is\n`EMAIL_MFA_EXPIRED`, for SMS as well. A spent or expired sign-in is\n`MFA_CHALLENGE_NOT_PENDING`. An email code already used or locked is\n`EMAIL_MFA_NOT_PENDING`.\n\n**Resend.** `action: resend` with `provider_challenge_id` and `userid` sends a\nnew code for the same pending sign-in. A resend within 30 seconds of the\nprevious code is `MFA_RESEND_TOO_SOON` with `retry_after_seconds`. Other\nresend refusals: `MFA_N
[...]
